// @import "iconMenu";
// @import "gameGuide";
// @import "gameLogs";
* {
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}

* ul,
* ol {
  list-style: none;
}
::-webkit-scrollbar {display:none}

@mixin desktop(){
	@media (min-width: 1367px){
		@content
	}
}

@mixin ipadPro2{
	@media (max-width: 1366px){
		@content
	}
}

@mixin ipadPro{
	@media (max-width: 1024px){
		@content
	}
}

@mixin ipad2{
	@media (max-width: 922px){
		@content
	}
}

@mixin ipadH{
	@media (max-height: 768px){
		@content
	}
}

@mixin ipad{
	@media (max-width: 768px){
		@content
	}
}

@mixin iphone8P{
	@media (max-width: 414px){
		@content
	}
}

@mixin iphone8{
	@media (max-width: 375px){
		@content
	}
}

@mixin iphone5{
	@media (max-width: 320px){
		@content
	}
}

.box{
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(#343057,#4D2953) no-repeat;
  overflow: hidden;
  // font-family: Noto Sans CJK;

  @include ipadPro(){   //直
    height: 1244px;
  }
  @include ipad(){   //直
    height: 912px;
  }
  @include ipadH(){  //橫
    height: 646px;
  }
  @include iphone8P(){
    height: 590px;
  }
  @include iphone8(){
    height: 560px;
  }
  .betStatus{
    background-image: linear-gradient(-270deg, rgba(22, 24, 51, 0.7) 0%, rgba(22, 24, 51, 1) 10%, rgba(22, 24, 51, 1) 90%, rgba(22, 24, 51, 0.7) 100%);
    box-shadow: inset 0 -2px 0 0 #F19410,
    inset 0 2px 0 0 #F19410;
    width:100%;
    height: 17vw;
    position: absolute;
    left: 0;
    top: calc(50% - 8.5vw - 90px);
    z-index: 1005;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    color: #F8E71C;
    visibility: hidden;
    @media(max-width:1024px){
        position:fixed;
        top: calc(50% - 8.5vw);
    }
    @media(max-width:768px){
        width:100%;
        height: 30vw;
        left:0;
        top: calc(50% - 15vw);
    }
    @media(max-width:576px) {
        height: 36vw;
        top: calc(50% - 18vw);
    }
   
}
  .bet{
    width: 250px;
    height: 633px;
    position: absolute;
    top: 30px;
    left: -250px;
    transition: .5s;
    background: rgba(0,35,21,.7);
    z-index: 10;
    // overflow-y: scroll;
    // border: 1px solid red;
    .betWarp{
      width: 250px;
      height: 633px;
      overflow-x: hidden;
    }
    @include ipadPro(){   //直
      top: 108px;
    }
    @include ipad(){
      top: 84px;
    }
    @include ipadH(){
      top: 29px;
    }    
    @include iphone8P(){
      top: 60px;
    }  
    h3{
      width: 250px;
      height: 30px;
      color: #fff;
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 2px;
      text-align: center;
      background: #002315;
    }
    > span{
      width: 30px;
      // height: 130px;
      position: absolute;
      top: 0;
      right: -30px;
      border-radius: 0 10px 10px 0;
      background: #185968;
      cursor: pointer;
      a{
        display: block;
        width: 10px;
        // margin-top: 14px;
        margin-left: 8px;
        color: #fff;
        font-size: 14px;
        padding: 10px 0;
      }
    }
    .betBox{
      position: absolute;
      top: 41px;
      left: 10px;
      .betItem{
        overflow-x: hidden;
        height: 590px;
        .item{
          .number{
            width: 230px;
            display: flex;
            justify-content: space-between;
            // border: 1px solid red;
            span{
              font-size: 14px;
              color: #F8E71C;
            }
            h4{
              font-size: 18px;
              font-weight: normal;
              color: #7ED321;
            }
          }
          .score{
            width: 217px;
            display: flex;
            justify-content: space-between;
            // margin-top: 5px;
            margin-left: 13px;
            img{
              width: 20px;
              height: 20px;
              display: inline-block;
              margin: 5px;
              margin-top: 3px;
              margin-left: 0;
            }
            span{
              font-size: 16px;
              line-height: 16px;
              color: #fff;
            }
            h4{
              font-size: 18px;
              font-weight: normal;
              line-height: 27px;
              color: #fff;
            }
            .icon{
              position: relative;
              display: inline-block;
              width: 20px;
              height: 20px;
              top: 3px;
              background: url(../images/candy/Items.png) no-repeat;
              // border: 1px solid red;
            }
            .iconP{
              background-size: 160px;
              background-position: -3px -3px;
            }
            .iconP2{
              background-size: 160px;
              background-position: -82px -3px;
            }
            .iconP3{
              background-size: 160px;
              background-position: -55px -3px;
            }
          }
        }
      }
    }
  }
  // 平板 下注時間 & 金錢
  .betInfo-Pro{
    display: none;  
    @include ipadPro(){   //直
      width: 1024px;
      height: 89px;
      display: block;
      .betId{
        display: inline-block;
        margin: 35px 238px 0 52px;
        font-size: 18px;
        color: #fff;
      }
      .betTime{
        width: 72px;
        height: 27px;
        font-size: 18px;
        display: inline-block;
        color: #fff;
      }
      .timer{
        position: relative;
        width: 49px;
        height: 49px;
        font-size: 44px;
        top: 7px;
        margin-left: 10px;
        display: inline-block;
        font-family: Arial;
        font-weight: bold;
        color: #F8E71C;
        text-align: center;
      }
      .nameMoney{
        margin-left: 69px;
        font-size: 18px;
        display: inline-block;
        .username{
          color: #fff;
        }
        .moneyGold{
          position: relative;
          margin-left: 10px;
          color: #F8E71C;
          display: inline-block;
          &::after{
            content: 'TXC';
            position: absolute;
            display: none;
            width: 42px;
            height: 18px;
            top: 25px;
            left: 10px;
            background: #601A1A;
            border: 1px solid #F19410;
            border-radius: 3px;
            font-family: ArialMT;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 17px;
          }
          &:hover::after{
            display: block;
          }
          i{
            display: inline-block;
            margin-left: 5px;
            width: 16px;
            height: 16px;
            background-image: url(../images/candy/Chip/Coin/TXC.svg);
            background-size: cover;

          }
        }
        .moneyGreen{
          margin-left: 10px;
          color: #F8E71C;
          display: inline-block;
          position: relative;
          &::after{
            content: 'TXS';
            position: absolute;
            display: none;
            width: 42px;
            height: 18px;
            top: 25px;
            left: 10px;
            background: #601A1A;
            border: 1px solid #F19410;
            border-radius: 3px;
            font-family: ArialMT;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 17px;
          }
          &:hover::after{
            display: block;
          }
          i{
            display: inline-block;
            margin-left: 5px;
            width: 16px;
            height: 16px;
            background-image: url(../images/candy/Chip/Coin/TXS.svg);
            background-size: cover;
          }
        }
      }
    }

    @include ipad(){
      width: 768px;
      height: 69px;
      display: block;
      .betId{
        position: relative;
        top: -10px;
        margin: 0 120px 0 72px;
        font-size: 14px;
      }
      .betTime{
        position: relative;
        top: -10px;
        width: 48px;
        height: 18px;
        font-size: 12px;
      }
      .timer{
        top: 0px;
      }
      .nameMoney{
        margin-left: 94px;
        font-size: 14px;
        .username{
          display: block;
          color: #fff;
        }
        .moneyGold{
          position: relative;
          margin-left: 0;
          color: #F8E71C;
          display: inline-block;
          &::after{
            content: 'TXC';
            position: absolute;
            display: none;
            width: 42px;
            height: 18px;
            top: 19px;
            left: 10px;
            background: #601A1A;
            border: 1px solid #F19410;
            border-radius: 3px;
            font-family: ArialMT;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 17px;
          }
          &:hover::after{
            display: block;
          }
          i{
            position: relative;
            top: 2px;
            display: inline-block;
            margin-left: 5px;
            width: 16px;
            height: 16px;
            background-image: url(../images/candy/Chip/Coin/TXC.svg);
            background-size: cover;

          }
        }
        .moneyGreen{
          margin-left: 10px;
          color: #F8E71C;
          display: inline-block;
          position: relative;
          &::after{
            content: 'TXS';
            position: absolute;
            display: none;
            width: 42px;
            height: 18px;
            top: 19px;
            left: 10px;
            background: #601A1A;
            border: 1px solid #F19410;
            border-radius: 3px;
            font-family: ArialMT;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 17px;
          }
          &:hover::after{
            display: block;
          }
          i{
            position: relative;
            top: 2px;
            display: inline-block;
            margin-left: 5px;
            width: 16px;
            height: 16px;
            background-image: url(../images/candy/Chip/Coin/TXS.svg);
            background-size: cover;
          }
        }
      }
    }
    @include ipadH(){  // 橫
      display: none;
    }
    @include iphone8P(){
      width: 414px;
      height: 59px;
      display: block;
      // border: 1px solid red;
      .betId{
       
        top: 5px;
        left: 5px;
        width: 110px;
        height: 16px;
        line-height: 32px;
        display: block;
        margin: 0;
        font-size: 12px;
      }
      .betTime{
        width: 50px;
        height: 18px;
        font-size: 12px;
        top: -7px;
        left: 70px;
      }
      .timer{
        display: inline-block;
        position: relative;
        top: -10px;
        margin-left: 72px;
      }
      .nameMoney{
        position: relative;
        top: -5px;
        margin-left: 5px;
        font-size: 13px;
        .username{
          display: block;
          color: #fff;
        }
        .moneyGold{
          position: relative;
          margin-left: 0;
          color: #F8E71C;
          display: inline-block;
          &::after{
            content: 'TXC';
            position: absolute;
            display: none;
            width: 42px;
            height: 18px;
            top: 19px;
            left: 10px;
            background: #601A1A;
            border: 1px solid #F19410;
            border-radius: 3px;
            font-family: ArialMT;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 17px;
          }
          &:hover::after{
            display: block;
          }
          i{
            position: relative;
            top: 2px;
            display: inline-block;
            margin-left: 5px;
            width: 16px;
            height: 16px;
            background-image: url(../images/candy/Chip/Coin/TXC.svg);
            background-size: cover;

          }
        }
        .moneyGreen{
          margin-left: 10px;
          color: #F8E71C;
          display: inline-block;
          position: relative;
          &::after{
            content: 'TXS';
            position: absolute;
            display: none;
            width: 42px;
            height: 18px;
            top: 19px;
            left: 10px;
            background: #601A1A;
            border: 1px solid #F19410;
            border-radius: 3px;
            font-family: ArialMT;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 17px;
          }
          &:hover::after{
            display: block;
          }
          i{
            position: relative;
            top: 2px;
            display: inline-block;
            margin-left: 5px;
            width: 16px;
            height: 16px;
            background-image: url(../images/candy/Chip/Coin/TXS.svg);
            background-size: cover;
          }
        }
      }
    }
    @include iphone8(){
      width: 375px;
      .betId{
        // top: 0;
        // left: 15px;
        // width: 110px;
        // height: 16px;
        // line-height: 32px;
        // display: block;
        // margin: 0;
        // font-size: 14px;
      }
      .betTime{
        width: 50px;
        height: 18px;
        font-size: 10px;
        top: -7px;
        left: 55px;
      }
      .timer{
        display: inline-block;
        position: relative;
        top: -10px;
        margin-left: 55px;
      }
      .nameMoney{
        position: relative;
        top: -5px;
        margin-left: 5px;
        font-size: 12px;
        .username{
          display: block;
          color: #fff;
        }
        .moneyGold{
          position: relative;
          margin-left: 0;
          color: #F8E71C;
          display: inline-block;
          &::after{
            content: 'TXC';
            position: absolute;
            display: none;
            width: 42px;
            height: 18px;
            top: 19px;
            left: 10px;
            background: #601A1A;
            border: 1px solid #F19410;
            border-radius: 3px;
            font-family: ArialMT;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 17px;
          }
          &:hover::after{
            display: block;
          }
          i{
            position: relative;
            top: 2px;
            display: inline-block;
            margin-left: 5px;
            width: 16px;
            height: 16px;
            background-image: url(../images/candy/Chip/Coin/TXC.svg);
            background-size: cover;

          }
        }
        .moneyGreen{
          margin-left: 10px;
          color: #F8E71C;
          display: inline-block;
          position: relative;
          &::after{
            content: 'TXS';
            position: absolute;
            display: none;
            width: 42px;
            height: 18px;
            top: 19px;
            left: 10px;
            background: #601A1A;
            border: 1px solid #F19410;
            border-radius: 3px;
            font-family: ArialMT;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 17px;
          }
          &:hover::after{
            display: block;
          }
          i{
            position: relative;
            top: 2px;
            display: inline-block;
            margin-left: 5px;
            width: 16px;
            height: 16px;
            background-image: url(../images/candy/Chip/Coin/TXS.svg);
            background-size: cover;
          }
        }
      }
    }
  }
  .canbox{
    width: 1100px;
    position: relative;
    top: 10px;
    margin: 0 auto;
    // border: 1px solid red;

    @include ipadPro(){   //直
      width: 1024px;
      top: 0;
    }
    @include ipad(){   //直
      width: 768px;
      top: 0;
    }
    @include iphone8P(){
      width: 414px;
      top: 0;
    }
    .infoIcon{
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      background-image: url(../images/candy/Icon/Info.svg);
      background-size: cover;
      cursor: pointer;

      @include ipadPro(){ //直
        top: 1004px;
        left: 292px;
      }
      @include ipad(){  //直
        top: 692px;
        left: 174px;
      }
      @include ipadH(){ //橫
        top: 10px;
        left: 946px;
      }
      @include iphone8P(){
        top: 399px;
        left: 15px;
      }
      @include iphone8(){
        top: 396px;
        left: 15px;
      }
    }
    #canvas{
      display: inline-block;
      // width: 670px;
      // height: 710px;
      // background: url(../images/candy/Phaser.png)

      @include ipadPro(){
        display: block;
        width: 920px;
        height: 975px;
        margin: 0 auto;
        // border: 1px solid red;
      }

      @include ipadH(){ // 橫
        display: inline-block;
        width: 538px;
        height: 570px;
        margin-top: 13px;
        margin-left: 30px;
        // border: 1px solid red;
      }

      @include ipad(){
        width: 625px;
        height: 662px;
        // border: 1px solid red;
      }
      @include iphone8P(){
        width: 354px;
        height: 370px;
        margin-top: 5px;
        // border: 1px solid red;
      }
      @include iphone8(){
        width: 320px;
        height: 339.1px;
        margin-top: 5px;
        // border: 1px solid red;
      }
      
    }
    .fake{
      display: none;
      @include ipadPro(){
        display: block;
        width: 920px;
        height: 370px;
        top: 120px;
        left: 55px;
        position: absolute;
      }
      @include ipad(){
        display: block;
        width: 625px;
        height: 370px;
        top: 100px;
        left: 70px;
        position: absolute;
      }
      @include iphone8P(){
        display: block;
        width: 354px;
        height: 260px;
        top: 60px;
        left: 30px;
        margin: 0 auto;
        position: absolute;
      }
      @include iphone8(){
        display: block;
        width: 320px;
        height: 230px;
        left: 28px;
      }
    } 
    //語言切換鈕
    .button{  
      position: absolute;
      top: 0;
      right: 50px;
      z-index: 999;
      @include ipadPro{
        top: -55px;
        right: 10px;
      }
      @include ipadH{
        top: 0;
        right: 90px;
      }
      @include ipad{
        top: -25px;
      }
      @include iphone8P{
        top: -58px;
        right: 0;       
      }
      @include iphone8{
        right: 40px;
      }
    }
    .info{
      display: inline-block;
      height: 710px;
      margin-left: 26px;
      position: relative;
      @include ipadPro(){  //直
        display: none;
      }
      .betInfo{
        position: relative;
        width: 364px;
        height: 150px;
        margin-top: 29px;
        background: url(../images/candy/UserBox.png);
        line-height: normal;
        .betId{
          position: absolute;
          top: 0;
          left: 25px;
          font-size: 18px;
          color: #fff;
        }
        .nameMoney{
          width: 168px;
          height: 86px;
          position: absolute;
          top: 50px;
          left: 25px;
          line-height: normal;
          .username{
            font-family: Arial;
            font-size: 16px;
            color: #FFFFFF;
          }
          .moneyGold{
            position: relative;
            margin-top: 10px;
            font-family: Arial;
            font-size: 21px;
            color: #F8E71C;
            &::after{
              content: 'TXC';
              position: absolute;
              display: none;
              width: 42px;
              height: 18px;
              top:0;
              right: -55px;
              background: #601A1A;
              border: 1px solid #F19410;
              border-radius: 3px;
              font-family: ArialMT;
              font-size: 12px;
              color: #FFFFFF;
              letter-spacing: 0;
              text-align: center;
              line-height: 17px;
              z-index: 9;
            }
            &:hover::after{
              display: block;
            }
            i{
              position: absolute;
              top: 0;
              right: 0;
              width: 22px;
              height: 22px;
              background-image: url(../images/candy/Chip/Coin/TXC.svg);
              background-size: cover;

            }
          } 
          .moneyGreen{
            position: relative;
            margin-top: 10px;
            font-family: Arial;
            font-size: 21px;
            color: #F8E71C;
            &::after{
              content: 'TXS';
              position: absolute;
              display: none;
              width: 42px;
              height: 18px;
              top:0;
              right: -55px;
              background: #601A1A;
              border: 1px solid #F19410;
              border-radius: 3px;
              font-family: ArialMT;
              font-size: 12px;
              color: #FFFFFF;
              letter-spacing: 0;
              text-align: center;
              line-height: 17px;
              z-index: 9;
            }
            &:hover::after{
              display: block;
            }
            i{
              position: absolute;
              top: 0;
              right: 0;
              width: 22px;
              height: 22px;
              background-image: url(../images/candy/Chip/Coin/TXS.svg);
              background-size: cover;
            }
          }
        }
        .betTime{
          position: absolute;
          top: 33px;
          right: 45px;
          width: 64px;
          height: 24px;
          line-height: 24px;
          font-size: 14px;
          font-weight: bold;
          color: #fff;
          z-index: 9;
        }
        .timer{
          position: absolute;
          top: 48px;
          right: 35px;
          width: 89px;
          height: 89px;
          font-size: 80px;
          font-family: Arial;
          font-weight: bold;
          color: #F8E71C;
          text-align: center;
        }

      }
      .betText{
        width: 350px;
        height: 195px;
        border-radius: 10px;
        background: #FFEFAE;
        filter: blur(1px);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      .infoText{
        width: 350px;
        height: 195px;
        border-radius: 10px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        div{
          margin: 10px 0;
        }
        .multipleL{
          height: 27px;
          color: #8B572A;
          font-size: 18px;
          font-weight: bold;
          font-family: Arial;
          text-align: center;
          line-height: 27px;
          border-radius: 3px;
          background: #fff;
          margin-bottom: unset;
          span{
            color: #D0021B;
          }
        }
        .multipleS{
          height: 27px;
          color: #8B572A;
          font-size: 15px;
          font-weight: bold;
          font-family: Arial;
          line-height: 27px;
          text-align: justify;
          padding-left: 50px;
          margin-bottom: unset;
          span{
            color: #D0021B;
          }
        }
      }
      .process{
        width: 350px;
        position: absolute;
        bottom: 210px;
        left: 0;
        p{
          text-align: center;
          letter-spacing: 2px;
          color: #eee;
        }
      }
      .amountBox{
        // width: 350px;
        position: absolute;
        bottom: 25px;
        // border: 1px solid red;
        .betAmount{
          display: inline-block;
          width: 115px;
          height: 33px;
          margin-left: 20px;
          font-size: 22px;
          font-weight: bold;
          font-family: Arial;
          line-height: 33px;
          color: #fff;
        }
        .minus{
          display: inline-block;
          position: relative;
          top: 7px;
          width: 30px;
          height: 30px;
          background: url(../images/candy/Icon/Minus.svg);
          cursor: pointer;
        }
        .plus{
          display: inline-block;
          position: relative;
          top: 7px;
          right: 5px;
          width: 30px;
          height: 30px;
          background: url(../images/candy/Icon/Plus.svg);
          cursor: pointer;
        }
        input{
          position: relative;
          top: -3px;
          width: 100px;
          height: 30px;
          color: #4A4A4A;
          background: #fff;
          font-family: Arial;
          font-size: 18px;
          border-radius: 5px;
          outline: none;
          border: none;
          text-align: center;
          margin: 0 20px;
        }
        .btn{
          width: 260px;
          height: 65px;
          border-radius: 8px;
          background: linear-gradient(#C8388E, #651785) no-repeat;
          border: none;
          outline: none;
          margin: auto;
          margin-top: 30px;
          display: block;
          box-sizing: content-box;
          button{
            width: 255px;
            height: 56px;
            margin-top: 2px;
            margin-left: 2px;
            color: #fff;
            font-weight: bold;
            font-family: Arial;
            border-radius: 8px;
            font-size: 20px;
            background: none;
            border: 1px solid #fff;
            outline: none;
            cursor: pointer;
            
          }
        }
      }
      @include ipadH(){ //橫
        display: inline-block;
        margin-left: 8px;
        // border: 1px solid red;

        .betInfo{
          // border: 1px solid red;
          .betId{
            position: absolute;
            top: 0;
            left: 25px;
            font-size: 18px;
            color: #fff;
          }
        }
        .betText{
          position: relative;
          margin-top: 33px;
        }
        .infoText{
          width: 350px;
          height: 195px;
          border-radius: 10px;
          position: relative;
          top: -195px;
          left: 0;
        }
        .process{
          width: 364px;
          position: absolute;
          bottom: 250px;
          left: 0;
          // border: 1px solid red;
          p{
            text-align: center;
            letter-spacing: 2px;
            color: #eee;
          }
        }
        .amountBox{
          width: 364px;
          position: absolute;
          bottom: 100px;
          // border: 1px solid red;
          .betAmount{
            display: inline-block;
            width: 115px;
            height: 33px;
            margin-left: 20px;
            font-size: 22px;
            font-weight: bold;
            font-family: Arial;
            line-height: 33px;
            color: #fff;
          }
          .minus{
            display: inline-block;
            position: relative;
            top: 7px;
            width: 30px;
            height: 30px;
            background: url(../images/candy/Icon/minusOn.svg);
            cursor: pointer;
          }
          .plus{
            display: inline-block;
            position: relative;
            top: 7px;
            right: 5px;
            width: 30px;
            height: 30px;
            background: url(../images/candy/Icon/plusOn.svg);
            cursor: pointer;
          }
          input{
            position: relative;
            top: -3px;
            width: 100px;
            height: 30px;
            color: #4A4A4A;
            background: #fff;
            font-family: Arial;
            font-size: 18px;
            border-radius: 5px;
            outline: none;
            border: none;
            text-align: center;
            margin: 0 20px;
          }
          .btn{
            width: 260px;
            height: 65px;
            border-radius: 8px;
            background: linear-gradient(#C8388E, #651785) no-repeat;
            border: none;
            outline: none;
            margin: auto;
            margin-top: 30px;
            display: block;
            box-sizing: content-box;
            button{
              width: 255px;
              height: 56px;
              margin-top: 2px;
              margin-left: 2px;
              color: #fff;
              font-weight: bold;
              font-family: Arial;
              border-radius: 8px;
              font-size: 20px;
              background: none;
              border: 1px solid #fff;
              outline: none;
              cursor: pointer;
              
            }
          }
        }
      }
      @include iphone8P(){
        display: none;
      }

    }
    .info-Pro{
      display: none;
      @include ipadPro(){
        width: 1024px;
        height: 170px;
        display: block;
        // border: 1px solid red;
        .infoTextM{
          width: 350px;
          height: 30px;
          margin-top: 29px;
          margin-left: 335px;
          border-radius: 10px;
          background: linear-gradient(#FFEFAE, #FFFFFF, #FFEFAE) no-repeat;
          div{
            text-align: center;
          }
          p{
            font-size: 14px;
          }
          .multipleA{
            height: 20px;
            color: #8B572A;
            font-size: 14px;
            font-weight: bold;
            font-family: Arial;
            line-height: 20px;
            padding-top: 5px;
            span{
              color: #D0021B;
            }
          }
          .multiple{
            height: 20px;
            color: #8B572A;
            font-size: 14px;
            font-weight: bold;
            font-family: Arial;
            line-height: 20px;
            padding-top: 5px;
            display: none;
            span{
              color: #D0021B;
            }
          }
          .multipleM{
            height: 20px;
            color: #8B572A;
            font-size: 14px;
            font-weight: bold;
            font-family: Arial;
            line-height: 20px;
            padding-top: 5px;
            display: block;
            span{
              color: #D0021B;
            }
          }
        }
        .process{
          color: #fff;
          font-size: 14px;
          text-align: center;
          padding-top: 7px;
        }
        .amountBox-Pro{
          position: relative;
          top: -10px;
          text-align: center;
          padding-bottom: 15px;
          .betAmount{
            display: inline-block;
            width: 70px;
            height: 20px;
            font-size: 14px;
            font-weight: bold;
            font-family: Arial;
            color: #fff;
          }
          .minus{
            display: inline-block;
            position: relative;
            top: 10px;
            width: 30px;
            height: 30px;
            margin-left: 5px;
            background: url(../images/candy/Icon/Minus.svg);
          }
          input{
            width: 84px;
            height: 30px;
            color: #4A4A4A;
            background: #fff;
            font-family: Arial;
            font-size: 14px;
            border-radius: 5px;
            outline: none;
            border: none;
            text-align: center;
            margin: 0 10px;
          }
          .plus{
            display: inline-block;
            position: relative;
            top: 10px;
            width: 30px;
            height: 30px;
            background: url(../images/candy/Icon/Plus.svg);
          }
          .btn{
            position: relative;
            width: 80px;
            height: 31px;
            border-radius: 8px;
            background: linear-gradient(#C8388E, #651785) no-repeat;
            border: none;
            outline: none;
            margin-left: 36px;
            display: inline-block;
            box-sizing: content-box;
            button{
              position: absolute;
              left: 2px;
              top: 2px;
              height: 29px;
              color: #fff;
              font-weight: bold;
              font-family: Arial;
              border-radius: 8px;
              font-size: 16px;
              padding: 3px 14px 3px 16px;
              background: none;
              border: 1px solid #fff;
              outline: none;
              box-sizing: content-box;
            }
          }
        }
      }
      @include ipad(){
        width: 768px;
        // border: 1px solid red;
        .infoTextM{
          width: 350px;
          height: 30px;
          margin-top: 29px;
          margin-left: 217px;
          border-radius: 10px;
          background: linear-gradient(#FFEFAE, #FFFFFF, #FFEFAE) no-repeat;
          div{
            text-align: center;
          }
          p{
            font-size: 14px;
          }
          .multipleA{
            height: 20px;
            color: #8B572A;
            font-size: 14px;
            font-weight: bold;
            font-family: Arial;
            line-height: 20px;
            padding-top: 5px;
            span{
              color: #D0021B;
            }
          }
          .multiple{
            height: 20px;
            color: #8B572A;
            font-size: 14px;
            font-weight: bold;
            font-family: Arial;
            line-height: 20px;
            padding-top: 5px;
            display: none;
            span{
              color: #D0021B;
            }
          }
          .multipleM{
            height: 20px;
            color: #8B572A;
            font-size: 14px;
            font-weight: bold;
            font-family: Arial;
            line-height: 20px;
            padding-top: 5px;
            display: block;
            span{
              color: #D0021B;
            }
          }
        }
      }
      @include ipadH(){
        display: none;
      }
      @include iphone8P(){
        width: 414px;
        // height: 93.9px;
        display: block;
        // border: 1px solid red;

        .infoTextM{
          width: 330px;
          height: 30px;
          margin-top: 9.9px;
          margin-left: 50px;
          border-radius: 10px;
          background: linear-gradient(#FFEFAE, #FFFFFF, #FFEFAE) no-repeat;
          div{
            text-align: center;
          }
          p{
            font-size: 14px;
          }
          .multipleA{
            height: 20px;
            color: #8B572A;
            font-size: 14px;
            font-weight: bold;
            font-family: Arial;
            line-height: 20px;
            padding-top: 5px;
            span{
              color: #D0021B;
            }
          }
          .multiple{
            height: 20px;
            color: #8B572A;
            font-size: 14px;
            font-weight: bold;
            font-family: Arial;
            line-height: 20px;
            padding-top: 5px;
            display: none;
            span{
              color: #D0021B;
            }
          }
          .multipleM{
            height: 20px;
            color: #8B572A;
            font-size: 14px;
            font-weight: bold;
            font-family: Arial;
            line-height: 20px;
            padding-top: 5px;
            display: block;
            span{
              color: #D0021B;
            }
          }
        }
        .amountBox-Pro{
          .btn{
            position: relative;
            width: 68px;
            height: 31px;
            border-radius: 8px;
            background: linear-gradient(#C8388E, #651785) no-repeat;
            border: none;
            outline: none;
            margin-left: 36px;
            display: inline-block;
            box-sizing: content-box;
            button{
              position: absolute;
              left: 2px;
              top: 2px;
              height: 29px;
              color: #fff;
              font-weight: bold;
              font-family: Arial;
              border-radius: 8px;
              font-size: 16px;
              padding: 3px 8px 3px 10px;
              background: none;
              border: 1px solid #fff;
              outline: none;
              box-sizing: content-box;
            }
          }
        }
        .process p{
          margin-top: 0;
          margin-bottom: 1rem;
        }
      }
      @include iphone8(){
        width: 375px;
        // border: 1px solid red;

        .infoTextM{
          width: 330px;
          height: 30px;
          margin-top: 9.9px;
          margin-left: 25px;
          border-radius: 10px;
          background: linear-gradient(#FFEFAE, #FFFFFF, #FFEFAE) no-repeat;
          div{
            text-align: center;
          }
          p{
            font-size: 14px;
          }
          .multipleA{
            height: 20px;
            color: #8B572A;
            font-size: 14px;
            font-weight: bold;
            font-family: Arial;
            line-height: 20px;
            padding-top: 5px;
            span{
              color: #D0021B;
            }
          }
          .multiple{
            height: 20px;
            color: #8B572A;
            font-size: 14px;
            font-weight: bold;
            font-family: Arial;
            line-height: 20px;
            padding-top: 5px;
            display: none;
            span{
              color: #D0021B;
            }
          }
          .multipleM{
            height: 20px;
            color: #8B572A;
            font-size: 14px;
            font-weight: bold;
            font-family: Arial;
            line-height: 20px;
            padding-top: 5px;
            display: block;
            span{
              color: #D0021B;
            }
          }
        }
        .amountBox-Pro{
          position: relative;
          top: -10px;
          text-align: center;
          padding-bottom: 15px;
          .betAmount{
            display: inline-block;
            width: 70px;
            height: 20px;
            font-size: 14px;
            font-weight: bold;
            font-family: Arial;
            color: #fff;
          }
          .minus{
            display: inline-block;
            position: relative;
            top: 10px;
            width: 30px;
            height: 30px;
            margin-left: 5px;
            background: url(../images/candy/Icon/Minus.svg);
          }
          input{
            width: 84px;
            height: 30px;
            color: #4A4A4A;
            background: #fff;
            font-family: Arial;
            font-size: 14px;
            border-radius: 5px;
            outline: none;
            border: none;
            text-align: center;
            margin: 0 10px;
          }
          .plus{
            display: inline-block;
            position: relative;
            top: 10px;
            width: 30px;
            height: 30px;
            background: url(../images/candy/Icon/Plus.svg);
          }
          .btn{
            position: relative;
            width: 60px;
            height: 31px;
            border-radius: 8px;
            background: linear-gradient(#C8388E, #651785) no-repeat;
            border: none;
            outline: none;
            margin-left: 22px;
            display: inline-block;
            box-sizing: content-box;
            button{
              position: absolute;
              left: 2px;
              top: 2px;
              height: 29px;
              color: #fff;
              font-weight: bold;
              font-family: Arial;
              border-radius: 8px;
              font-size: 14px;
              padding: 3px 8px 3px 10px;
              background: none;
              border: 1px solid #fff;
              outline: none;
              box-sizing: content-box;
            }
          }
        }
      }
    }

  }
  .lottery{
    width: 250px;
    height: 633px;
    position: absolute;
    top: 30px;
    right: -250px;
    transition: .5s;
    background: rgba(0,35,21,.7);
    z-index: 10;

    @include ipadPro(){   //直
      top: 108px;
    }
    @include ipad(){
      top: 84px;
    }     
    @include ipadH(){
      top: 29px;
    }
    @include iphone8P(){
      top: 60px;
    }
      
  .lotteryWarp{
    width: 250px;
    height: 580px;
    position: absolute;
    top: 50px;
    right: 0px;
    // overflow-x: hidden;
    
    @include ipadPro(){   //直
      height: 580px;
    }
    @include ipad(){
      height: 580px;
    }     
    @include ipadH(){
      height: 550px;
    }
    @include iphone8P(){
      height: 450px;
    }
    @include iphone8(){
      height: 430px;
    }   
  }  
    h3{
      width: 250px;
      height: 30px;
      color: #fff;
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 2px;
      text-align: center;
      background: #002315;
    }
    > span{
      width: 30px;
      // height: 130px;
      position: absolute;
      top: 0;
      left: -30px;
      border-radius: 10px 0 0 10px;
      background: #185968;
      cursor: pointer;
      a{
        display: block;
        width: 10px;
        // margin-top: 14px;
        margin-left: 8px;
        color: #fff;
        font-size: 14px;
        padding: 10px 0;
      }
    }
    .lotbox{
      position: relative;
      width: 250px;
      top: 8px;
      right: 0px;
      margin-top: 63px;
      // border: 1px solid red;
      .candyIcon{
        margin-right: 5px;
        text-align: right;
        span{
          font-size: 16px;
          line-height: 16px;
          margin: 0 1.5px;
        }
        .icon{
          position: relative;
          display: inline-block;
          width: 30px;
          height: 30px;
          top: 3px;
        }
        .iconP{
          background: url(../images/candy/1.png);
          background-size: cover;
        }
        .iconP2{
          background: url(../images/candy/2.png);
          background-size: cover;
        }
        .iconP3{
          background: url(../images/candy/3.png);
          background-size: cover;
        }
        .iconP4{
          background: url(../images/candy/4.png);
          background-size: cover;
        }
        .iconP5{
          background: url(../images/candy/5.png);
          background-size: cover;
        }
      }
      .lotItem{
        display: flex;
        margin-top: 8px;
        .mark{
          color: #fff;
          margin: 0 2px;
          background: none;
          padding: 0;
          span{
            font-size: 14px;
          }
        } 
        .numberId{
          word-break: break-all;
          width: 50px;
          font-size: 14px;
          color: #fff;
          position: relative;
          margin-left: 15px;
          &::before{
            content: '#';
            display: block;
            position: absolute;
            color: #fff;
            margin: 0 2px;
            background: none;
            padding: 0;
            font-size: 14px;
            left: -13px;
          }
        }
        .number{
          width: 190px;
          text-align: center;
          line-height: 40px;
          // border: 1px solid red;
          div{
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 6.5px;
            border-radius: 50px;
          }
          .one{
            background: #FF8932;
          }
          .two{
            background: #E64D81;
          }
          .thr{
            background: #FDD82E;
          }
          .for{
            background: #05A687;
          }
          .fiv{
            background: #006FBD;
          }
          span{
            position: absolute;
            top: -9px;
            left: 0;
            right: 0;
            font-size: 12px;
            font-weight: bold;
            color: #eee;
          }
        }
      }
    }

  }
  #trend{
    position: absolute;
    top: -30px;
    right: 0;
  }

}

