* {
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}

* ul,
* ol {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.box {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(#343057, #4D2953) no-repeat;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .box {
    height: 1244px;
  }
}
@media (max-width: 768px) {
  .box {
    height: 912px;
  }
}
@media (max-height: 768px) {
  .box {
    height: 646px;
  }
}
@media (max-width: 414px) {
  .box {
    height: 590px;
  }
}
@media (max-width: 375px) {
  .box {
    height: 560px;
  }
}
.box .betStatus {
  background-image: linear-gradient(-270deg, rgba(22, 24, 51, 0.7) 0%, #161833 10%, #161833 90%, rgba(22, 24, 51, 0.7) 100%);
  box-shadow: inset 0 -2px 0 0 #F19410, inset 0 2px 0 0 #F19410;
  width: 100%;
  height: 17vw;
  position: absolute;
  left: 0;
  top: calc(50% - 8.5vw - 90px);
  z-index: 1005;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  color: #F8E71C;
  visibility: hidden;
}
@media (max-width: 1024px) {
  .box .betStatus {
    position: fixed;
    top: calc(50% - 8.5vw);
  }
}
@media (max-width: 768px) {
  .box .betStatus {
    width: 100%;
    height: 30vw;
    left: 0;
    top: calc(50% - 15vw);
  }
}
@media (max-width: 576px) {
  .box .betStatus {
    height: 36vw;
    top: calc(50% - 18vw);
  }
}
.box .bet {
  width: 250px;
  height: 633px;
  position: absolute;
  top: 30px;
  left: -250px;
  transition: 0.5s;
  background: rgba(0, 35, 21, 0.7);
  z-index: 10;
}
.box .bet .betWarp {
  width: 250px;
  height: 633px;
  overflow-x: hidden;
}
@media (max-width: 1024px) {
  .box .bet {
    top: 108px;
  }
}
@media (max-width: 768px) {
  .box .bet {
    top: 84px;
  }
}
@media (max-height: 768px) {
  .box .bet {
    top: 29px;
  }
}
@media (max-width: 414px) {
  .box .bet {
    top: 60px;
  }
}
.box .bet h3 {
  width: 250px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: center;
  background: #002315;
}
.box .bet > span {
  width: 30px;
  position: absolute;
  top: 0;
  right: -30px;
  border-radius: 0 10px 10px 0;
  background: #185968;
  cursor: pointer;
}
.box .bet > span a {
  display: block;
  width: 10px;
  margin-left: 8px;
  color: #fff;
  font-size: 14px;
  padding: 10px 0;
}
.box .bet .betBox {
  position: absolute;
  top: 41px;
  left: 10px;
}
.box .bet .betBox .betItem {
  overflow-x: hidden;
  height: 590px;
}
.box .bet .betBox .betItem .item .number {
  width: 230px;
  display: flex;
  justify-content: space-between;
}
.box .bet .betBox .betItem .item .number span {
  font-size: 14px;
  color: #F8E71C;
}
.box .bet .betBox .betItem .item .number h4 {
  font-size: 18px;
  font-weight: normal;
  color: #7ED321;
}
.box .bet .betBox .betItem .item .score {
  width: 217px;
  display: flex;
  justify-content: space-between;
  margin-left: 13px;
}
.box .bet .betBox .betItem .item .score img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 5px;
  margin-top: 3px;
  margin-left: 0;
}
.box .bet .betBox .betItem .item .score span {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
}
.box .bet .betBox .betItem .item .score h4 {
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  color: #fff;
}
.box .bet .betBox .betItem .item .score .icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 3px;
  background: url(../images/candy/Items.png) no-repeat;
}
.box .bet .betBox .betItem .item .score .iconP {
  background-size: 160px;
  background-position: -3px -3px;
}
.box .bet .betBox .betItem .item .score .iconP2 {
  background-size: 160px;
  background-position: -82px -3px;
}
.box .bet .betBox .betItem .item .score .iconP3 {
  background-size: 160px;
  background-position: -55px -3px;
}
.box .betInfo-Pro {
  display: none;
}
@media (max-width: 1024px) {
  .box .betInfo-Pro {
    width: 1024px;
    height: 89px;
    display: block;
  }
  .box .betInfo-Pro .betId {
    display: inline-block;
    margin: 35px 238px 0 52px;
    font-size: 18px;
    color: #fff;
  }
  .box .betInfo-Pro .betTime {
    width: 72px;
    height: 27px;
    font-size: 18px;
    display: inline-block;
    color: #fff;
  }
  .box .betInfo-Pro .timer {
    position: relative;
    width: 49px;
    height: 49px;
    font-size: 44px;
    top: 7px;
    margin-left: 10px;
    display: inline-block;
    font-family: Arial;
    font-weight: bold;
    color: #F8E71C;
    text-align: center;
  }
  .box .betInfo-Pro .nameMoney {
    margin-left: 69px;
    font-size: 18px;
    display: inline-block;
  }
  .box .betInfo-Pro .nameMoney .username {
    color: #fff;
  }
  .box .betInfo-Pro .nameMoney .moneyGold {
    position: relative;
    margin-left: 10px;
    color: #F8E71C;
    display: inline-block;
  }
  .box .betInfo-Pro .nameMoney .moneyGold::after {
    content: "TXC";
    position: absolute;
    display: none;
    width: 42px;
    height: 18px;
    top: 25px;
    left: 10px;
    background: #601A1A;
    border: 1px solid #F19410;
    border-radius: 3px;
    font-family: ArialMT;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 17px;
  }
  .box .betInfo-Pro .nameMoney .moneyGold:hover::after {
    display: block;
  }
  .box .betInfo-Pro .nameMoney .moneyGold i {
    display: inline-block;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    background-image: url(../images/candy/Chip/Coin/TXC.svg);
    background-size: cover;
  }
  .box .betInfo-Pro .nameMoney .moneyGreen {
    margin-left: 10px;
    color: #F8E71C;
    display: inline-block;
    position: relative;
  }
  .box .betInfo-Pro .nameMoney .moneyGreen::after {
    content: "TXS";
    position: absolute;
    display: none;
    width: 42px;
    height: 18px;
    top: 25px;
    left: 10px;
    background: #601A1A;
    border: 1px solid #F19410;
    border-radius: 3px;
    font-family: ArialMT;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 17px;
  }
  .box .betInfo-Pro .nameMoney .moneyGreen:hover::after {
    display: block;
  }
  .box .betInfo-Pro .nameMoney .moneyGreen i {
    display: inline-block;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    background-image: url(../images/candy/Chip/Coin/TXS.svg);
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .box .betInfo-Pro {
    width: 768px;
    height: 69px;
    display: block;
  }
  .box .betInfo-Pro .betId {
    position: relative;
    top: -10px;
    margin: 0 120px 0 72px;
    font-size: 14px;
  }
  .box .betInfo-Pro .betTime {
    position: relative;
    top: -10px;
    width: 48px;
    height: 18px;
    font-size: 12px;
  }
  .box .betInfo-Pro .timer {
    top: 0px;
  }
  .box .betInfo-Pro .nameMoney {
    margin-left: 94px;
    font-size: 14px;
  }
  .box .betInfo-Pro .nameMoney .username {
    display: block;
    color: #fff;
  }
  .box .betInfo-Pro .nameMoney .moneyGold {
    position: relative;
    margin-left: 0;
    color: #F8E71C;
    display: inline-block;
  }
  .box .betInfo-Pro .nameMoney .moneyGold::after {
    content: "TXC";
    position: absolute;
    display: none;
    width: 42px;
    height: 18px;
    top: 19px;
    left: 10px;
    background: #601A1A;
    border: 1px solid #F19410;
    border-radius: 3px;
    font-family: ArialMT;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 17px;
  }
  .box .betInfo-Pro .nameMoney .moneyGold:hover::after {
    display: block;
  }
  .box .betInfo-Pro .nameMoney .moneyGold i {
    position: relative;
    top: 2px;
    display: inline-block;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    background-image: url(../images/candy/Chip/Coin/TXC.svg);
    background-size: cover;
  }
  .box .betInfo-Pro .nameMoney .moneyGreen {
    margin-left: 10px;
    color: #F8E71C;
    display: inline-block;
    position: relative;
  }
  .box .betInfo-Pro .nameMoney .moneyGreen::after {
    content: "TXS";
    position: absolute;
    display: none;
    width: 42px;
    height: 18px;
    top: 19px;
    left: 10px;
    background: #601A1A;
    border: 1px solid #F19410;
    border-radius: 3px;
    font-family: ArialMT;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 17px;
  }
  .box .betInfo-Pro .nameMoney .moneyGreen:hover::after {
    display: block;
  }
  .box .betInfo-Pro .nameMoney .moneyGreen i {
    position: relative;
    top: 2px;
    display: inline-block;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    background-image: url(../images/candy/Chip/Coin/TXS.svg);
    background-size: cover;
  }
}
@media (max-height: 768px) {
  .box .betInfo-Pro {
    display: none;
  }
}
@media (max-width: 414px) {
  .box .betInfo-Pro {
    width: 414px;
    height: 59px;
    display: block;
  }
  .box .betInfo-Pro .betId {
    top: 5px;
    left: 5px;
    width: 110px;
    height: 16px;
    line-height: 32px;
    display: block;
    margin: 0;
    font-size: 12px;
  }
  .box .betInfo-Pro .betTime {
    width: 50px;
    height: 18px;
    font-size: 12px;
    top: -7px;
    left: 70px;
  }
  .box .betInfo-Pro .timer {
    display: inline-block;
    position: relative;
    top: -10px;
    margin-left: 72px;
  }
  .box .betInfo-Pro .nameMoney {
    position: relative;
    top: -5px;
    margin-left: 5px;
    font-size: 13px;
  }
  .box .betInfo-Pro .nameMoney .username {
    display: block;
    color: #fff;
  }
  .box .betInfo-Pro .nameMoney .moneyGold {
    position: relative;
    margin-left: 0;
    color: #F8E71C;
    display: inline-block;
  }
  .box .betInfo-Pro .nameMoney .moneyGold::after {
    content: "TXC";
    position: absolute;
    display: none;
    width: 42px;
    height: 18px;
    top: 19px;
    left: 10px;
    background: #601A1A;
    border: 1px solid #F19410;
    border-radius: 3px;
    font-family: ArialMT;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 17px;
  }
  .box .betInfo-Pro .nameMoney .moneyGold:hover::after {
    display: block;
  }
  .box .betInfo-Pro .nameMoney .moneyGold i {
    position: relative;
    top: 2px;
    display: inline-block;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    background-image: url(../images/candy/Chip/Coin/TXC.svg);
    background-size: cover;
  }
  .box .betInfo-Pro .nameMoney .moneyGreen {
    margin-left: 10px;
    color: #F8E71C;
    display: inline-block;
    position: relative;
  }
  .box .betInfo-Pro .nameMoney .moneyGreen::after {
    content: "TXS";
    position: absolute;
    display: none;
    width: 42px;
    height: 18px;
    top: 19px;
    left: 10px;
    background: #601A1A;
    border: 1px solid #F19410;
    border-radius: 3px;
    font-family: ArialMT;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 17px;
  }
  .box .betInfo-Pro .nameMoney .moneyGreen:hover::after {
    display: block;
  }
  .box .betInfo-Pro .nameMoney .moneyGreen i {
    position: relative;
    top: 2px;
    display: inline-block;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    background-image: url(../images/candy/Chip/Coin/TXS.svg);
    background-size: cover;
  }
}
@media (max-width: 375px) {
  .box .betInfo-Pro {
    width: 375px;
  }
  .box .betInfo-Pro .betTime {
    width: 50px;
    height: 18px;
    font-size: 10px;
    top: -7px;
    left: 55px;
  }
  .box .betInfo-Pro .timer {
    display: inline-block;
    position: relative;
    top: -10px;
    margin-left: 55px;
  }
  .box .betInfo-Pro .nameMoney {
    position: relative;
    top: -5px;
    margin-left: 5px;
    font-size: 12px;
  }
  .box .betInfo-Pro .nameMoney .username {
    display: block;
    color: #fff;
  }
  .box .betInfo-Pro .nameMoney .moneyGold {
    position: relative;
    margin-left: 0;
    color: #F8E71C;
    display: inline-block;
  }
  .box .betInfo-Pro .nameMoney .moneyGold::after {
    content: "TXC";
    position: absolute;
    display: none;
    width: 42px;
    height: 18px;
    top: 19px;
    left: 10px;
    background: #601A1A;
    border: 1px solid #F19410;
    border-radius: 3px;
    font-family: ArialMT;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 17px;
  }
  .box .betInfo-Pro .nameMoney .moneyGold:hover::after {
    display: block;
  }
  .box .betInfo-Pro .nameMoney .moneyGold i {
    position: relative;
    top: 2px;
    display: inline-block;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    background-image: url(../images/candy/Chip/Coin/TXC.svg);
    background-size: cover;
  }
  .box .betInfo-Pro .nameMoney .moneyGreen {
    margin-left: 10px;
    color: #F8E71C;
    display: inline-block;
    position: relative;
  }
  .box .betInfo-Pro .nameMoney .moneyGreen::after {
    content: "TXS";
    position: absolute;
    display: none;
    width: 42px;
    height: 18px;
    top: 19px;
    left: 10px;
    background: #601A1A;
    border: 1px solid #F19410;
    border-radius: 3px;
    font-family: ArialMT;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 17px;
  }
  .box .betInfo-Pro .nameMoney .moneyGreen:hover::after {
    display: block;
  }
  .box .betInfo-Pro .nameMoney .moneyGreen i {
    position: relative;
    top: 2px;
    display: inline-block;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    background-image: url(../images/candy/Chip/Coin/TXS.svg);
    background-size: cover;
  }
}
.box .canbox {
  width: 1100px;
  position: relative;
  top: 10px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .box .canbox {
    width: 1024px;
    top: 0;
  }
}
@media (max-width: 768px) {
  .box .canbox {
    width: 768px;
    top: 0;
  }
}
@media (max-width: 414px) {
  .box .canbox {
    width: 414px;
    top: 0;
  }
}
.box .canbox .infoIcon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-image: url(../images/candy/Icon/Info.svg);
  background-size: cover;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .box .canbox .infoIcon {
    top: 1004px;
    left: 292px;
  }
}
@media (max-width: 768px) {
  .box .canbox .infoIcon {
    top: 692px;
    left: 174px;
  }
}
@media (max-height: 768px) {
  .box .canbox .infoIcon {
    top: 10px;
    left: 946px;
  }
}
@media (max-width: 414px) {
  .box .canbox .infoIcon {
    top: 399px;
    left: 15px;
  }
}
@media (max-width: 375px) {
  .box .canbox .infoIcon {
    top: 396px;
    left: 15px;
  }
}
.box .canbox #canvas {
  display: inline-block;
}
@media (max-width: 1024px) {
  .box .canbox #canvas {
    display: block;
    width: 920px;
    height: 975px;
    margin: 0 auto;
  }
}
@media (max-height: 768px) {
  .box .canbox #canvas {
    display: inline-block;
    width: 538px;
    height: 570px;
    margin-top: 13px;
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .box .canbox #canvas {
    width: 625px;
    height: 662px;
  }
}
@media (max-width: 414px) {
  .box .canbox #canvas {
    width: 354px;
    height: 370px;
    margin-top: 5px;
  }
}
@media (max-width: 375px) {
  .box .canbox #canvas {
    width: 320px;
    height: 339.1px;
    margin-top: 5px;
  }
}
.box .canbox .fake {
  display: none;
}
@media (max-width: 1024px) {
  .box .canbox .fake {
    display: block;
    width: 920px;
    height: 370px;
    top: 120px;
    left: 55px;
    position: absolute;
  }
}
@media (max-width: 768px) {
  .box .canbox .fake {
    display: block;
    width: 625px;
    height: 370px;
    top: 100px;
    left: 70px;
    position: absolute;
  }
}
@media (max-width: 414px) {
  .box .canbox .fake {
    display: block;
    width: 354px;
    height: 260px;
    top: 60px;
    left: 30px;
    margin: 0 auto;
    position: absolute;
  }
}
@media (max-width: 375px) {
  .box .canbox .fake {
    display: block;
    width: 320px;
    height: 230px;
    left: 28px;
  }
}
.box .canbox .button {
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 999;
}
@media (max-width: 1024px) {
  .box .canbox .button {
    top: -55px;
    right: 10px;
  }
}
@media (max-height: 768px) {
  .box .canbox .button {
    top: 0;
    right: 90px;
  }
}
@media (max-width: 768px) {
  .box .canbox .button {
    top: -25px;
  }
}
@media (max-width: 414px) {
  .box .canbox .button {
    top: -58px;
    right: 0;
  }
}
@media (max-width: 375px) {
  .box .canbox .button {
    right: 40px;
  }
}
.box .canbox .info {
  display: inline-block;
  height: 710px;
  margin-left: 26px;
  position: relative;
}
@media (max-width: 1024px) {
  .box .canbox .info {
    display: none;
  }
}
.box .canbox .info .betInfo {
  position: relative;
  width: 364px;
  height: 150px;
  margin-top: 29px;
  background: url(../images/candy/UserBox.png);
  line-height: normal;
}
.box .canbox .info .betInfo .betId {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 18px;
  color: #fff;
}
.box .canbox .info .betInfo .nameMoney {
  width: 168px;
  height: 86px;
  position: absolute;
  top: 50px;
  left: 25px;
  line-height: normal;
}
.box .canbox .info .betInfo .nameMoney .username {
  font-family: Arial;
  font-size: 16px;
  color: #FFFFFF;
}
.box .canbox .info .betInfo .nameMoney .moneyGold {
  position: relative;
  margin-top: 10px;
  font-family: Arial;
  font-size: 21px;
  color: #F8E71C;
}
.box .canbox .info .betInfo .nameMoney .moneyGold::after {
  content: "TXC";
  position: absolute;
  display: none;
  width: 42px;
  height: 18px;
  top: 0;
  right: -55px;
  background: #601A1A;
  border: 1px solid #F19410;
  border-radius: 3px;
  font-family: ArialMT;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 17px;
  z-index: 9;
}
.box .canbox .info .betInfo .nameMoney .moneyGold:hover::after {
  display: block;
}
.box .canbox .info .betInfo .nameMoney .moneyGold i {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  background-image: url(../images/candy/Chip/Coin/TXC.svg);
  background-size: cover;
}
.box .canbox .info .betInfo .nameMoney .moneyGreen {
  position: relative;
  margin-top: 10px;
  font-family: Arial;
  font-size: 21px;
  color: #F8E71C;
}
.box .canbox .info .betInfo .nameMoney .moneyGreen::after {
  content: "TXS";
  position: absolute;
  display: none;
  width: 42px;
  height: 18px;
  top: 0;
  right: -55px;
  background: #601A1A;
  border: 1px solid #F19410;
  border-radius: 3px;
  font-family: ArialMT;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 17px;
  z-index: 9;
}
.box .canbox .info .betInfo .nameMoney .moneyGreen:hover::after {
  display: block;
}
.box .canbox .info .betInfo .nameMoney .moneyGreen i {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  background-image: url(../images/candy/Chip/Coin/TXS.svg);
  background-size: cover;
}
.box .canbox .info .betInfo .betTime {
  position: absolute;
  top: 33px;
  right: 45px;
  width: 64px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  z-index: 9;
}
.box .canbox .info .betInfo .timer {
  position: absolute;
  top: 48px;
  right: 35px;
  width: 89px;
  height: 89px;
  font-size: 80px;
  font-family: Arial;
  font-weight: bold;
  color: #F8E71C;
  text-align: center;
}
.box .canbox .info .betText {
  width: 350px;
  height: 195px;
  border-radius: 10px;
  background: #FFEFAE;
  filter: blur(1px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.box .canbox .info .infoText {
  width: 350px;
  height: 195px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.box .canbox .info .infoText div {
  margin: 10px 0;
}
.box .canbox .info .infoText .multipleL {
  height: 27px;
  color: #8B572A;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  line-height: 27px;
  border-radius: 3px;
  background: #fff;
  margin-bottom: unset;
}
.box .canbox .info .infoText .multipleL span {
  color: #D0021B;
}
.box .canbox .info .infoText .multipleS {
  height: 27px;
  color: #8B572A;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial;
  line-height: 27px;
  text-align: justify;
  padding-left: 50px;
  margin-bottom: unset;
}
.box .canbox .info .infoText .multipleS span {
  color: #D0021B;
}
.box .canbox .info .process {
  width: 350px;
  position: absolute;
  bottom: 210px;
  left: 0;
}
.box .canbox .info .process p {
  text-align: center;
  letter-spacing: 2px;
  color: #eee;
}
.box .canbox .info .amountBox {
  position: absolute;
  bottom: 25px;
}
.box .canbox .info .amountBox .betAmount {
  display: inline-block;
  width: 115px;
  height: 33px;
  margin-left: 20px;
  font-size: 22px;
  font-weight: bold;
  font-family: Arial;
  line-height: 33px;
  color: #fff;
}
.box .canbox .info .amountBox .minus {
  display: inline-block;
  position: relative;
  top: 7px;
  width: 30px;
  height: 30px;
  background: url(../images/candy/Icon/Minus.svg);
  cursor: pointer;
}
.box .canbox .info .amountBox .plus {
  display: inline-block;
  position: relative;
  top: 7px;
  right: 5px;
  width: 30px;
  height: 30px;
  background: url(../images/candy/Icon/Plus.svg);
  cursor: pointer;
}
.box .canbox .info .amountBox input {
  position: relative;
  top: -3px;
  width: 100px;
  height: 30px;
  color: #4A4A4A;
  background: #fff;
  font-family: Arial;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
  text-align: center;
  margin: 0 20px;
}
.box .canbox .info .amountBox .btn {
  width: 260px;
  height: 65px;
  border-radius: 8px;
  background: linear-gradient(#C8388E, #651785) no-repeat;
  border: none;
  outline: none;
  margin: auto;
  margin-top: 30px;
  display: block;
  box-sizing: content-box;
}
.box .canbox .info .amountBox .btn button {
  width: 255px;
  height: 56px;
  margin-top: 2px;
  margin-left: 2px;
  color: #fff;
  font-weight: bold;
  font-family: Arial;
  border-radius: 8px;
  font-size: 20px;
  background: none;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
}
@media (max-height: 768px) {
  .box .canbox .info {
    display: inline-block;
    margin-left: 8px;
  }
  .box .canbox .info .betInfo .betId {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 18px;
    color: #fff;
  }
  .box .canbox .info .betText {
    position: relative;
    margin-top: 33px;
  }
  .box .canbox .info .infoText {
    width: 350px;
    height: 195px;
    border-radius: 10px;
    position: relative;
    top: -195px;
    left: 0;
  }
  .box .canbox .info .process {
    width: 364px;
    position: absolute;
    bottom: 250px;
    left: 0;
  }
  .box .canbox .info .process p {
    text-align: center;
    letter-spacing: 2px;
    color: #eee;
  }
  .box .canbox .info .amountBox {
    width: 364px;
    position: absolute;
    bottom: 100px;
  }
  .box .canbox .info .amountBox .betAmount {
    display: inline-block;
    width: 115px;
    height: 33px;
    margin-left: 20px;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial;
    line-height: 33px;
    color: #fff;
  }
  .box .canbox .info .amountBox .minus {
    display: inline-block;
    position: relative;
    top: 7px;
    width: 30px;
    height: 30px;
    background: url(../images/candy/Icon/minusOn.svg);
    cursor: pointer;
  }
  .box .canbox .info .amountBox .plus {
    display: inline-block;
    position: relative;
    top: 7px;
    right: 5px;
    width: 30px;
    height: 30px;
    background: url(../images/candy/Icon/plusOn.svg);
    cursor: pointer;
  }
  .box .canbox .info .amountBox input {
    position: relative;
    top: -3px;
    width: 100px;
    height: 30px;
    color: #4A4A4A;
    background: #fff;
    font-family: Arial;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    margin: 0 20px;
  }
  .box .canbox .info .amountBox .btn {
    width: 260px;
    height: 65px;
    border-radius: 8px;
    background: linear-gradient(#C8388E, #651785) no-repeat;
    border: none;
    outline: none;
    margin: auto;
    margin-top: 30px;
    display: block;
    box-sizing: content-box;
  }
  .box .canbox .info .amountBox .btn button {
    width: 255px;
    height: 56px;
    margin-top: 2px;
    margin-left: 2px;
    color: #fff;
    font-weight: bold;
    font-family: Arial;
    border-radius: 8px;
    font-size: 20px;
    background: none;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
  }
}
@media (max-width: 414px) {
  .box .canbox .info {
    display: none;
  }
}
.box .canbox .info-Pro {
  display: none;
}
@media (max-width: 1024px) {
  .box .canbox .info-Pro {
    width: 1024px;
    height: 170px;
    display: block;
  }
  .box .canbox .info-Pro .infoTextM {
    width: 350px;
    height: 30px;
    margin-top: 29px;
    margin-left: 335px;
    border-radius: 10px;
    background: linear-gradient(#FFEFAE, #FFFFFF, #FFEFAE) no-repeat;
  }
  .box .canbox .info-Pro .infoTextM div {
    text-align: center;
  }
  .box .canbox .info-Pro .infoTextM p {
    font-size: 14px;
  }
  .box .canbox .info-Pro .infoTextM .multipleA {
    height: 20px;
    color: #8B572A;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    line-height: 20px;
    padding-top: 5px;
  }
  .box .canbox .info-Pro .infoTextM .multipleA span {
    color: #D0021B;
  }
  .box .canbox .info-Pro .infoTextM .multiple {
    height: 20px;
    color: #8B572A;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    line-height: 20px;
    padding-top: 5px;
    display: none;
  }
  .box .canbox .info-Pro .infoTextM .multiple span {
    color: #D0021B;
  }
  .box .canbox .info-Pro .infoTextM .multipleM {
    height: 20px;
    color: #8B572A;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    line-height: 20px;
    padding-top: 5px;
    display: block;
  }
  .box .canbox .info-Pro .infoTextM .multipleM span {
    color: #D0021B;
  }
  .box .canbox .info-Pro .process {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-top: 7px;
  }
  .box .canbox .info-Pro .amountBox-Pro {
    position: relative;
    top: -10px;
    text-align: center;
    padding-bottom: 15px;
  }
  .box .canbox .info-Pro .amountBox-Pro .betAmount {
    display: inline-block;
    width: 70px;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    color: #fff;
  }
  .box .canbox .info-Pro .amountBox-Pro .minus {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background: url(../images/candy/Icon/Minus.svg);
  }
  .box .canbox .info-Pro .amountBox-Pro input {
    width: 84px;
    height: 30px;
    color: #4A4A4A;
    background: #fff;
    font-family: Arial;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    margin: 0 10px;
  }
  .box .canbox .info-Pro .amountBox-Pro .plus {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 30px;
    height: 30px;
    background: url(../images/candy/Icon/Plus.svg);
  }
  .box .canbox .info-Pro .amountBox-Pro .btn {
    position: relative;
    width: 80px;
    height: 31px;
    border-radius: 8px;
    background: linear-gradient(#C8388E, #651785) no-repeat;
    border: none;
    outline: none;
    margin-left: 36px;
    display: inline-block;
    box-sizing: content-box;
  }
  .box .canbox .info-Pro .amountBox-Pro .btn button {
    position: absolute;
    left: 2px;
    top: 2px;
    height: 29px;
    color: #fff;
    font-weight: bold;
    font-family: Arial;
    border-radius: 8px;
    font-size: 16px;
    padding: 3px 14px 3px 16px;
    background: none;
    border: 1px solid #fff;
    outline: none;
    box-sizing: content-box;
  }
}
@media (max-width: 768px) {
  .box .canbox .info-Pro {
    width: 768px;
  }
  .box .canbox .info-Pro .infoTextM {
    width: 350px;
    height: 30px;
    margin-top: 29px;
    margin-left: 217px;
    border-radius: 10px;
    background: linear-gradient(#FFEFAE, #FFFFFF, #FFEFAE) no-repeat;
  }
  .box .canbox .info-Pro .infoTextM div {
    text-align: center;
  }
  .box .canbox .info-Pro .infoTextM p {
    font-size: 14px;
  }
  .box .canbox .info-Pro .infoTextM .multipleA {
    height: 20px;
    color: #8B572A;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    line-height: 20px;
    padding-top: 5px;
  }
  .box .canbox .info-Pro .infoTextM .multipleA span {
    color: #D0021B;
  }
  .box .canbox .info-Pro .infoTextM .multiple {
    height: 20px;
    color: #8B572A;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    line-height: 20px;
    padding-top: 5px;
    display: none;
  }
  .box .canbox .info-Pro .infoTextM .multiple span {
    color: #D0021B;
  }
  .box .canbox .info-Pro .infoTextM .multipleM {
    height: 20px;
    color: #8B572A;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    line-height: 20px;
    padding-top: 5px;
    display: block;
  }
  .box .canbox .info-Pro .infoTextM .multipleM span {
    color: #D0021B;
  }
}
@media (max-height: 768px) {
  .box .canbox .info-Pro {
    display: none;
  }
}
@media (max-width: 414px) {
  .box .canbox .info-Pro {
    width: 414px;
    display: block;
  }
  .box .canbox .info-Pro .infoTextM {
    width: 330px;
    height: 30px;
    margin-top: 9.9px;
    margin-left: 50px;
    border-radius: 10px;
    background: linear-gradient(#FFEFAE, #FFFFFF, #FFEFAE) no-repeat;
  }
  .box .canbox .info-Pro .infoTextM div {
    text-align: center;
  }
  .box .canbox .info-Pro .infoTextM p {
    font-size: 14px;
  }
  .box .canbox .info-Pro .infoTextM .multipleA {
    height: 20px;
    color: #8B572A;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    line-height: 20px;
    padding-top: 5px;
  }
  .box .canbox .info-Pro .infoTextM .multipleA span {
    color: #D0021B;
  }
  .box .canbox .info-Pro .infoTextM .multiple {
    height: 20px;
    color: #8B572A;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    line-height: 20px;
    padding-top: 5px;
    display: none;
  }
  .box .canbox .info-Pro .infoTextM .multiple span {
    color: #D0021B;
  }
  .box .canbox .info-Pro .infoTextM .multipleM {
    height: 20px;
    color: #8B572A;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    line-height: 20px;
    padding-top: 5px;
    display: block;
  }
  .box .canbox .info-Pro .infoTextM .multipleM span {
    color: #D0021B;
  }
  .box .canbox .info-Pro .amountBox-Pro .btn {
    position: relative;
    width: 68px;
    height: 31px;
    border-radius: 8px;
    background: linear-gradient(#C8388E, #651785) no-repeat;
    border: none;
    outline: none;
    margin-left: 36px;
    display: inline-block;
    box-sizing: content-box;
  }
  .box .canbox .info-Pro .amountBox-Pro .btn button {
    position: absolute;
    left: 2px;
    top: 2px;
    height: 29px;
    color: #fff;
    font-weight: bold;
    font-family: Arial;
    border-radius: 8px;
    font-size: 16px;
    padding: 3px 8px 3px 10px;
    background: none;
    border: 1px solid #fff;
    outline: none;
    box-sizing: content-box;
  }
  .box .canbox .info-Pro .process p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
@media (max-width: 375px) {
  .box .canbox .info-Pro {
    width: 375px;
  }
  .box .canbox .info-Pro .infoTextM {
    width: 330px;
    height: 30px;
    margin-top: 9.9px;
    margin-left: 25px;
    border-radius: 10px;
    background: linear-gradient(#FFEFAE, #FFFFFF, #FFEFAE) no-repeat;
  }
  .box .canbox .info-Pro .infoTextM div {
    text-align: center;
  }
  .box .canbox .info-Pro .infoTextM p {
    font-size: 14px;
  }
  .box .canbox .info-Pro .infoTextM .multipleA {
    height: 20px;
    color: #8B572A;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    line-height: 20px;
    padding-top: 5px;
  }
  .box .canbox .info-Pro .infoTextM .multipleA span {
    color: #D0021B;
  }
  .box .canbox .info-Pro .infoTextM .multiple {
    height: 20px;
    color: #8B572A;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    line-height: 20px;
    padding-top: 5px;
    display: none;
  }
  .box .canbox .info-Pro .infoTextM .multiple span {
    color: #D0021B;
  }
  .box .canbox .info-Pro .infoTextM .multipleM {
    height: 20px;
    color: #8B572A;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    line-height: 20px;
    padding-top: 5px;
    display: block;
  }
  .box .canbox .info-Pro .infoTextM .multipleM span {
    color: #D0021B;
  }
  .box .canbox .info-Pro .amountBox-Pro {
    position: relative;
    top: -10px;
    text-align: center;
    padding-bottom: 15px;
  }
  .box .canbox .info-Pro .amountBox-Pro .betAmount {
    display: inline-block;
    width: 70px;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    color: #fff;
  }
  .box .canbox .info-Pro .amountBox-Pro .minus {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background: url(../images/candy/Icon/Minus.svg);
  }
  .box .canbox .info-Pro .amountBox-Pro input {
    width: 84px;
    height: 30px;
    color: #4A4A4A;
    background: #fff;
    font-family: Arial;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    margin: 0 10px;
  }
  .box .canbox .info-Pro .amountBox-Pro .plus {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 30px;
    height: 30px;
    background: url(../images/candy/Icon/Plus.svg);
  }
  .box .canbox .info-Pro .amountBox-Pro .btn {
    position: relative;
    width: 60px;
    height: 31px;
    border-radius: 8px;
    background: linear-gradient(#C8388E, #651785) no-repeat;
    border: none;
    outline: none;
    margin-left: 22px;
    display: inline-block;
    box-sizing: content-box;
  }
  .box .canbox .info-Pro .amountBox-Pro .btn button {
    position: absolute;
    left: 2px;
    top: 2px;
    height: 29px;
    color: #fff;
    font-weight: bold;
    font-family: Arial;
    border-radius: 8px;
    font-size: 14px;
    padding: 3px 8px 3px 10px;
    background: none;
    border: 1px solid #fff;
    outline: none;
    box-sizing: content-box;
  }
}
.box .lottery {
  width: 250px;
  height: 633px;
  position: absolute;
  top: 30px;
  right: -250px;
  transition: 0.5s;
  background: rgba(0, 35, 21, 0.7);
  z-index: 10;
}
@media (max-width: 1024px) {
  .box .lottery {
    top: 108px;
  }
}
@media (max-width: 768px) {
  .box .lottery {
    top: 84px;
  }
}
@media (max-height: 768px) {
  .box .lottery {
    top: 29px;
  }
}
@media (max-width: 414px) {
  .box .lottery {
    top: 60px;
  }
}
.box .lottery .lotteryWarp {
  width: 250px;
  height: 580px;
  position: absolute;
  top: 50px;
  right: 0px;
}
@media (max-width: 1024px) {
  .box .lottery .lotteryWarp {
    height: 580px;
  }
}
@media (max-width: 768px) {
  .box .lottery .lotteryWarp {
    height: 580px;
  }
}
@media (max-height: 768px) {
  .box .lottery .lotteryWarp {
    height: 550px;
  }
}
@media (max-width: 414px) {
  .box .lottery .lotteryWarp {
    height: 450px;
  }
}
@media (max-width: 375px) {
  .box .lottery .lotteryWarp {
    height: 430px;
  }
}
.box .lottery h3 {
  width: 250px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: center;
  background: #002315;
}
.box .lottery > span {
  width: 30px;
  position: absolute;
  top: 0;
  left: -30px;
  border-radius: 10px 0 0 10px;
  background: #185968;
  cursor: pointer;
}
.box .lottery > span a {
  display: block;
  width: 10px;
  margin-left: 8px;
  color: #fff;
  font-size: 14px;
  padding: 10px 0;
}
.box .lottery .lotbox {
  position: relative;
  width: 250px;
  top: 8px;
  right: 0px;
  margin-top: 63px;
}
.box .lottery .lotbox .candyIcon {
  margin-right: 5px;
  text-align: right;
}
.box .lottery .lotbox .candyIcon span {
  font-size: 16px;
  line-height: 16px;
  margin: 0 1.5px;
}
.box .lottery .lotbox .candyIcon .icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  top: 3px;
}
.box .lottery .lotbox .candyIcon .iconP {
  background: url(../images/candy/1.png);
  background-size: cover;
}
.box .lottery .lotbox .candyIcon .iconP2 {
  background: url(../images/candy/2.png);
  background-size: cover;
}
.box .lottery .lotbox .candyIcon .iconP3 {
  background: url(../images/candy/3.png);
  background-size: cover;
}
.box .lottery .lotbox .candyIcon .iconP4 {
  background: url(../images/candy/4.png);
  background-size: cover;
}
.box .lottery .lotbox .candyIcon .iconP5 {
  background: url(../images/candy/5.png);
  background-size: cover;
}
.box .lottery .lotbox .lotItem {
  display: flex;
  margin-top: 8px;
}
.box .lottery .lotbox .lotItem .mark {
  color: #fff;
  margin: 0 2px;
  background: none;
  padding: 0;
}
.box .lottery .lotbox .lotItem .mark span {
  font-size: 14px;
}
.box .lottery .lotbox .lotItem .numberId {
  word-break: break-all;
  width: 50px;
  font-size: 14px;
  color: #fff;
  position: relative;
  margin-left: 15px;
}
.box .lottery .lotbox .lotItem .numberId::before {
  content: "#";
  display: block;
  position: absolute;
  color: #fff;
  margin: 0 2px;
  background: none;
  padding: 0;
  font-size: 14px;
  left: -13px;
}
.box .lottery .lotbox .lotItem .number {
  width: 190px;
  text-align: center;
  line-height: 40px;
}
.box .lottery .lotbox .lotItem .number div {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 6.5px;
  border-radius: 50px;
}
.box .lottery .lotbox .lotItem .number .one {
  background: #FF8932;
}
.box .lottery .lotbox .lotItem .number .two {
  background: #E64D81;
}
.box .lottery .lotbox .lotItem .number .thr {
  background: #FDD82E;
}
.box .lottery .lotbox .lotItem .number .for {
  background: #05A687;
}
.box .lottery .lotbox .lotItem .number .fiv {
  background: #006FBD;
}
.box .lottery .lotbox .lotItem .number span {
  position: absolute;
  top: -9px;
  left: 0;
  right: 0;
  font-size: 12px;
  font-weight: bold;
  color: #eee;
}
.box #trend {
  position: absolute;
  top: -30px;
  right: 0;
}/*# sourceMappingURL=candy.css.map */