* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body, html {
  margin: 0;
  font: 12px/1.4 Microsoft YaHei,PingFang SC,Helvetica,Helvetica Neue,Tahoma,Arial,sans-serif;
}

.fullpage-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.musicbox {
  position: fixed;
  width: 30px;
  height: 30px;
  background: none;
  right: 10px;
  top: 10px;
  z-index: 9;
}

.musicbox img {
  border-radius: 35px;
  border: 1px solid #666;
  width: 100%;
  height: 100%;
}

.musicbox.playing img {
  position: relative;
  border-color: #01b0f3;
  -webkit-animation: animatePlay 5s linear infinite;
          animation: animatePlay 5s linear infinite;
}

.musicbox, .musicbox.playing {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brand-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 82px;
  width: 100%;
  border-top: 1px solid #4b4e57;
  z-index: 9;
}

.brand-nav .logo-left {
  float: left;
  width: 235px;
  height: 80px;
  margin-left: 40px;
  background: url(../images/logo-white.png) 50% no-repeat;
}

.brand-nav .langtag {
  position: absolute;
  bottom: 31px;
  left: 271px;
}

.brand-nav .langtag span {
  float: left;
  color: #616161;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 6px;
}

.brand-nav .nav-foot {
  float: right;
  margin-right: 40px;
}

.brand-nav .nav-foot .nav-item {
  position: relative;
  display: inline-block;
  color: #86888d;
  border: none;
  margin: 0 25px;
  height: 80px;
  line-height: 80px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.brand-nav .nav-foot ul li {
  position: relative;
  display: inline-block;
  margin: 0 25px;
}

.brand-nav .nav-foot ul li a {
  color: #86888d;
  border: none;
  height: 80px;
  line-height: 80px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .5s;
  transition: all .5s;
  text-decoration: none;
}

.brand-nav .nav-foot ul li a.active {
  color: #01b0f2;
}

.brand-nav .nav-foot ul li a.active:before {
  -webkit-transition: all .5s;
  transition: all .5s;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #01b0f2;
}

.brand-nav .copyright {
  display: none;
  opacity: 0;
}

.brand-nav.nav-black {
  border-top: 1px solid #ebeff1;
}

.brand-nav .langtag span.curr, .brand-nav .langtag span:hover {
  color: #01b0f2;
  cursor: pointer;
}

.brand-nav .langtag span:last-child {
  border-right: 0 solid rgba(255, 255, 255, 0.1);
}

.brand-nav .nav-foot .nav-item:before {
  -webkit-transition: all .5s;
  transition: all .5s;
  content: "";
  display: block;
  position: absolute;
  width: 0;
  bottom: 0;
  left: 100%;
  border-bottom: 2px solid #01b0f2;
}

.brand-nav .nav-foot .nav-item.active:before, .brand-nav .nav-foot ul li.active:before, .brand-nav .nav-foot .nav-item:hover:before, .brand-nav .nav-foot ul li:hover:before {
  left: 0;
  width: 100%;
}

.fullpage-wp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullpage-wp.anim {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all .5s ease-out 0s;
  transition: all .5s ease-out 0s;
}

.page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
}

.brandpage-1 {
  padding-top: 100px;
  background: #1d1f29 -webkit-gradient(linear, left top, right top, from(#2e313b), to(#1d1f29));
  background: #1d1f29 linear-gradient(90deg, #2e313b, #1d1f29);
  background-size: cover;
}

.brandpage-1 .about-right-bg {
  position: absolute;
  left: 50%;
  width: 1356px;
  margin-left: -280px;
  top: 50%;
  height: 100%;
  margin-top: -490px;
  -webkit-animation: aboutrightbg 23s linear infinite;
          animation: aboutrightbg 23s linear infinite;
  background: url(../images/right-bg.png) no-repeat;
  background-size: cover;
}

.brandpage-1 .about-floor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.brandpage-1 .about-floor .about-floor-line {
  display: block;
  opacity: .1;
  height: 254px;
  width: 1920px;
  -webkit-animation: aboutfloor 27s linear infinite;
          animation: aboutfloor 27s linear infinite;
  background: url(../images/floor-bg.png) 50% no-repeat;
}

.brandpage-1 .about-right-div {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 992px;
  height: 860px;
  margin-top: -450px;
  margin-left: -100px;
}

.brandpage-1 .about-right-div .about-right-light {
  width: 992px;
  height: 860px;
  background: url(../images/right-worldbg.png) 170px 66% no-repeat;
}

.brandpage-1 .about-right-div .about-icon {
  position: absolute;
  top: 397px;
  width: 222px;
  height: 127px;
}

.brandpage-1 .about-right-div .about-icon-left {
  margin-left: 122px;
  z-index: 5;
  background: url(../images/right-l.png) no-repeat;
}

.brandpage-1 .about-right-div .about-icon-right {
  margin-left: 585px;
  z-index: 5;
  background: url(../images/right-r.png) no-repeat;
}

.brandpage-1 .about-right-div .about-world-top {
  position: absolute;
  width: 499px;
  height: 499px;
  top: 176px;
  left: 203px;
}

.brandpage-1 .about-right-div .about-world-top .about-world-web {
  width: 100%;
  height: 100%;
  -webkit-animation: aboutworld 20s linear infinite;
          animation: aboutworld 20s linear infinite;
  background: url(../images/world2.png) no-repeat;
}

.brandpage-1 .about-right-div .about-world-logo {
  position: absolute;
  top: 327px;
  left: 301px;
  width: 320px;
  height: 226px;
  background: url(../images/right-logo.png) no-repeat;
}

.brandpage-1 .about-right-div .about-right-light-line {
  position: absolute;
  width: 1073px;
  height: 779px;
  top: 0;
  left: -29px;
  -webkit-animation: aboutlight 5s linear infinite;
          animation: aboutlight 5s linear infinite;
  background: url(../images/right-linght.png) no-repeat;
}

.brandpage-1 .about-left-box {
  position: absolute;
  right: 45%;
  top: 55%;
  width: 670px;
  height: 400px;
  text-align: left;
  margin-top: -260px;
  margin-right: 10vw;
}

.brandpage-1 .about-left-box .about-left-title {
  font-size: 83px;
  font-weight: 550;
  letter-spacing: 5px;
  color: #fff;
  margin-bottom: 50px;
}

.brandpage-1 .about-left-box .about-left-title .rtitle {
  position: relative;
  display: block;
}

.brandpage-1 .about-left-box .about-left-title .nexttitle {
  font-size: 70px;
}

.brandpage-1 .about-left-box .about-left-info {
  position: relative;
  font-size: 20px;
  color: #eee;
  letter-spacing: 2px;
  line-height: 200%;
}

@media screen and (max-width: 1480px) {
  .brandpage-1 .about-left-box {
    margin-right: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .brandpage-1 .about-right-div {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.brandpage-1 .about-left-box .about-left-title .rtitle:before {
  content: attr(text);
  position: absolute;
  z-index: 10;
  color: #8a8e9a;
  -webkit-mask: -webkit-linear-gradient(bottom, #db3b40, transparent 65%);
}

.brandpage-two {
  width: 100%;
  height: 100%;
  background: #1d1f29;
}

.brandpage-2 {
  padding-top: 100px;
  background: #f6fafb;
  height: 100%;
}

.brandpage-2 .product-top-bg {
  margin-top: -550px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  position: absolute;
  width: 1920px;
  height: 1000px;
  top: 50%;
  left: 50%;
  margin-top: -500px;
  margin-left: -960px;
  background: url(../images/bg.png) no-repeat;
  background-size: cover;
}

.brandpage-2 .product-top-bg .product-top-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  color: #45484f;
  text-align: center;
}

.brandpage-2 .product-top-bg .product-top-icon .icon-img {
  display: block;
  width: 100%;
  height: 280px;
}

.brandpage-2 .product-top-bg .product-top-icon .icon-info {
  font-size: 15px;
}

.brandpage-2 .product-top-bg .product-top-icon:nth-child(1) {
  left: 337px;
  top: 292px;
}

.brandpage-2 .product-top-bg .product-top-icon:nth-child(1) .icon-img {
  background: url(../images/one.png) center 0 no-repeat;
}

.brandpage-2 .product-top-bg .product-top-icon:nth-child(2) {
  left: 596px;
  top: 441px;
}

.brandpage-2 .product-top-bg .product-top-icon:nth-child(2) .icon-img {
  background: url(../images/two.png) center 0 no-repeat;
}

.brandpage-2 .product-top-bg .product-top-icon:nth-child(3) {
  left: 851px;
  top: 292px;
}

.brandpage-2 .product-top-bg .product-top-icon:nth-child(3) .icon-img {
  background: url(../images/there.png) center 0 no-repeat;
}

.brandpage-2 .product-top-bg .product-top-icon:nth-child(4) {
  left: 1107px;
  top: 441px;
}

.brandpage-2 .product-top-bg .product-top-icon:nth-child(4) .icon-img {
  background: url(../images/four.png) center 0 no-repeat;
}

.brandpage-2 .product-top-bg .product-top-icon:nth-child(5) {
  left: 1365px;
  top: 292px;
}

.brandpage-2 .product-top-bg .product-top-icon:nth-child(5) .icon-img {
  background: url(../images/five.png) center 0 no-repeat;
}

.brandpage-2 .product-top-bg .icon-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
}

@media screen and (max-width: 1480px) {
  .brandpage-2 .product-top-bg {
    margin-top: -550px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.brandpage-2 .product-top-title, .brandpage-3 .product-top-title, .brandpage-4 .product-top-title, .brandpage-5 .product-top-title, .brandpage-6 .product-top-title {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 500px;
  height: 120px;
  color: #45484f;
  margin-left: -250px;
  text-align: center;
}

@media screen and (max-width: 1480px) {
  .brandpage-2 .product-top-title, .brandpage-3 .product-top-title, .brandpage-4 .product-top-title, .brandpage-5 .product-top-title, .brandpage-6 .product-top-title {
    top: 20px;
  }
}

.brandpage-4 {
  padding-top: 0;
  height: 100%;
  background: #f6fafb;
}

.brandpage-4 .swiper-container {
  width: 100%;
  height: 100%;
}

.brandpage-4 .product-demo-box {
  position: absolute;
  width: 1200px;
  height: 690px;
  top: 50%;
  left: 50%;
  margin-top: -350px;
  margin-left: -600px;
}

.brandpage-4 .product-demo-box .product-demo-pc {
  position: absolute;
  top: 50px;
  left: -35px;
  width: 1160px;
  height: 687px;
  background: url(../images/pc.png) 50% no-repeat;
}

.brandpage-4 .product-demo-box .product-demo-pc img {
  position: absolute;
  top: 52px;
  left: 160px;
}

.brandpage-4 .product-demo-box .product-demo-pc .product-demo-tip {
  left: 34px;
  top: 126px;
}

.brandpage-4 .product-demo-box .product-demo-pc .product-demo-tip em {
  background: url(../images/pc-icon.png) 50% no-repeat;
}

.brandpage-4 .product-demo-box .product-demo-mb {
  position: absolute;
  width: 288px;
  height: 571px;
  right: 0;
  bottom: -59px;
  background: url(../images/phone.png) 50% no-repeat;
}

.brandpage-4 .product-demo-box .product-demo-mb img {
  position: absolute;
  top: 70px;
  left: 26px;
}

.brandpage-4 .product-demo-box .product-demo-mb .product-demo-tip {
  right: -81px;
  top: 263px;
}

.brandpage-4 .product-demo-box .product-demo-mb .product-demo-tip em {
  background: url(../images/phone-icon.png) 50% no-repeat;
}

.brandpage-4 .product-demo-box .product-demo-tip {
  position: absolute;
  width: 200px;
  height: 190px;
  color: #fff;
  border-radius: 6px;
  background: -webkit-gradient(linear, left bottom, left top, from(#01b0f3), to(#00cae5));
  background: linear-gradient(0deg, #01b0f3, #00cae5);
  -webkit-box-shadow: 0 3px 10px rgba(1, 176, 243, 0.5);
          box-shadow: 0 3px 10px rgba(1, 176, 243, 0.5);
}

.brandpage-4 .product-demo-box .product-demo-tip em {
  display: block;
  height: 48px;
  width: 100%;
  margin-top: 25px;
}

.brandpage-4 .product-demo-box .product-demo-tip h3 {
  font-size: 22px;
  font-weight: 100;
  margin: 15px auto 5px;
}

.brandpage-4 .product-demo-box .product-demo-tip a {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  border: 1px solid #fff;
  padding: 5px 16px;
  border-radius: 30px;
  text-decoration: none;
}

.brandpage-4 .product-demo-box .product-demo-tip a:hover {
  color: #fff;
  border-color: #4dcaf5;
  background: #0a9cd4;
}

@media screen and (max-width: 1480px) {
  .brandpage-4 .product-demo-box {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-top: -367px;
  }
}

.brandpage-5 {
  padding-top: 50px;
  height: 100%;
  background: #000 url(../images/bg.jpg) no-repeat;
  background-size: cover;
}

.brandpage-5 .service {
  position: absolute;
  width: 570px;
  height: 570px;
  top: 50%;
  left: 50%;
  margin-top: -285px;
  margin-left: -285px;
}

.brandpage-5 .service .service-bg {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/content.png) 50% no-repeat;
}

.brandpage-5 .service .service-icon-l {
  position: absolute;
  width: 300px;
  height: 100px;
}

.brandpage-5 .service .service-icon-l h3 {
  font-size: 20px;
  font-weight: 100;
}

.brandpage-5 .service .service-icon-l div {
  font-size: 16px;
  line-height: 150%;
}

.brandpage-5 .service .service-icon-l:before {
  position: absolute;
  width: 164px;
  right: -183px;
  content: "";
  height: 100%;
  background: url(../images/icon-left.png) 50% no-repeat;
}

.brandpage-5 .service .service-icon-r {
  position: absolute;
  width: 300px;
  height: 100px;
}

.brandpage-5 .service .service-icon-r h3 {
  font-size: 20px;
  font-weight: 100;
}

.brandpage-5 .service .service-icon-r div {
  font-size: 16px;
  line-height: 150%;
}

.brandpage-5 .service .service-icon-r:before {
  position: absolute;
  width: 164px;
  left: -183px;
  content: "";
  height: 100%;
  background: url(../images/icon-right.png) 50% no-repeat;
}

.brandpage-5 .service .sl-one {
  top: 19px;
  right: 635px;
}

.brandpage-5 .service .sl-two {
  top: 224px;
  right: 736px;
}

.brandpage-5 .service .sl-there {
  top: 461px;
  right: 620px;
}

.brandpage-5 .service .sr-one {
  top: 19px;
  left: 635px;
}

.brandpage-5 .service .sr-two {
  top: 224px;
  left: 736px;
}

.brandpage-5 .service .sr-there {
  top: 461px;
  left: 620px;
}

@media screen and (max-width: 1480px) {
  .brandpage-5 .service, .brandpage-6 .contact {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-container {
  position: inherit;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-pagination-demo {
  position: absolute;
  bottom: 65px !important;
  z-index: 99;
}

.swiper-pagination, .swiper-pagination-demo {
  margin-bottom: 100px;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-demo {
  bottom: 0.65px !important;
}

.swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: #01b0f2;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.product-top-title {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 500px;
  height: 120px;
  color: #45484f;
  margin-left: -250px;
  text-align: center;
}

.product-top-title .product-top-h3 {
  display: inline-block;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 auto;
}

.product-top-title .product-top-h3:before {
  position: absolute;
  content: '';
  top: 15px;
  width: 20px;
  height: 17px;
  background: url(../images/icon-blue.png) no-repeat;
  margin-left: -35px;
}

.product-top-title .product-top-h3:after {
  position: absolute;
  content: '';
  top: 15px;
  width: 20px;
  height: 17px;
  background: url(../images/icon-blue.png) no-repeat;
  margin-left: 12px;
}

.product-top-title .product-top-info {
  display: block;
  color: #676767;
  letter-spacing: 1px;
  margin-top: 15px;
  font-size: 14px;
}

.brandpage-3 .product-top-title .product-top-h3, .brandpage-5 .product-top-title .product-top-h3 {
  color: #fff;
}

.brandpage-3 .product-top-title .product-top-info, .brandpage-5 .product-top-title .product-top-info {
  color: #b0b0b2;
}

.brandpage-3 .product-top-title .product-top-h3:after, .brandpage-3 .product-top-title .product-top-h3:before, .brandpage-5 .product-top-title .product-top-h3:after, .brandpage-5 .product-top-title .product-top-h3:before {
  background: url(../images/icon-white.png) no-repeat;
}

.brandpage-5 .service .service-icon-l div, .brandpage-5 .service .service-icon-l h3 {
  display: block;
  width: 100%;
  margin-right: 164px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.brandpage-6 {
  padding-top: 50px;
  height: 100%;
  background: #f6fafb url(../images/bg1.jpg) no-repeat;
  background-size: cover;
}

.brandpage-6 .contact {
  position: absolute;
  width: 690px;
  height: 540px;
  left: 50%;
  top: 50%;
  margin-left: -345px;
  margin-top: -270px;
}

.brandpage-6 .contact .line-box {
  position: absolute;
  width: 290px;
  height: 160px;
  background: url(../images/card-bg.png) 50% no-repeat;
}

.brandpage-6 .contact .line-box:before {
  position: absolute;
  content: "";
  top: 12px;
  left: 0;
  width: 100%;
  height: 60px;
}

.brandpage-6 .contact .line-box div {
  font-size: 18px;
  color: #01b0f3;
}

.brandpage-6 .contact .line-box h3 {
  font-size: 20px;
  margin: 70px auto 5px;
  color: #45484f;
}

.brandpage-6 .contact .line-box .skype-info {
  padding: 5px 15px 0;
  font-size: 13px;
  color: #db3b40;
}

.brandpage-6 .contact .line-box.cbox-whatsapp {
  top: 109px;
  left: -259px;
}

.brandpage-6 .contact .line-box.cbox-whatsapp:before {
  background: url(../images/phone1.png) 50% no-repeat;
}

.brandpage-6 .contact .line-box.cbox-skype {
  top: -63px;
  left: 210px;
  height: 200px;
  background: url(../images/card-bg2.png) 50% no-repeat;
}

.brandpage-6 .contact .line-box.cbox-skype:before {
  background: url(../images/skype.png) 50% no-repeat;
}

.brandpage-6 .contact .line-box.cbox-email {
  top: 109px;
  left: 660px;
}

.brandpage-6 .contact .line-box.cbox-email:before {
  background: url(../images/email.png) 50% no-repeat;
}

.brandpage-6 .contact-box .contact-bg {
  position: absolute;
  bottom: -112px;
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/foot-ico.png) 50% no-repeat;
}

.brandpage-6 .contact-box .contact-line {
  position: absolute;
  display: block;
  z-index: 5;
  left: -117px;
  top: 146px;
  width: 925px;
  height: 358px;
  background: url(../images/line.png) 50% no-repeat;
}

.brandpage-6 .contact-box .contact-start {
  position: absolute;
  width: 275px;
  height: 201px;
  left: 207px;
  top: 217px;
  background: url(../images//start.png) 50% no-repeat;
}

.brandpage {
  display: block;
  text-align: center;
  font-size: 26px;
  color: #eee;
}

.bounceIn {
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated {
  opacity: 1;
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.rubberBand {
  -webkit-animation-name: rubberBand;
          animation-name: rubberBand;
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
          animation-name: flipInY;
}

.musicbox.playing img {
  position: relative;
  border-color: #01b0f3;
  -webkit-animation: animatePlay 5s linear infinite;
          animation: animatePlay 5s linear infinite;
}

.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}

.slideInRight {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
}

@-webkit-keyframes aboutrightbg {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  30% {
    -webkit-transform: scale3d(1.2, 0.8, 1);
            transform: scale3d(1.2, 0.8, 1);
  }
  60% {
    -webkit-transform: scale3d(1.5, 1.1, 1);
            transform: scale3d(1.5, 1.1, 1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes aboutrightbg {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  30% {
    -webkit-transform: scale3d(1.2, 0.8, 1);
            transform: scale3d(1.2, 0.8, 1);
  }
  60% {
    -webkit-transform: scale3d(1.5, 1.1, 1);
            transform: scale3d(1.5, 1.1, 1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes aboutfloor {
  0% {
    -webkit-transform: scale3d(1.7, 0.7, 1) translate(-200px);
            transform: scale3d(1.7, 0.7, 1) translate(-200px);
  }
  20% {
    -webkit-transform: scale3d(1.5, 0.8, 1) translate(20px);
            transform: scale3d(1.5, 0.8, 1) translate(20px);
  }
  50% {
    -webkit-transform: scale3d(1.7, 0.5, 1) translate(300px);
            transform: scale3d(1.7, 0.5, 1) translate(300px);
  }
  70% {
    -webkit-transform: scale3d(1.5, 0.8, 1) translate(180px);
            transform: scale3d(1.5, 0.8, 1) translate(180px);
  }
  80% {
    -webkit-transform: scaleX(1.5) translate(20px);
            transform: scaleX(1.5) translate(20px);
  }
  100% {
    -webkit-transform: scale3d(1.7, 0.7, 1) translate(-200px);
            transform: scale3d(1.7, 0.7, 1) translate(-200px);
  }
}

@keyframes aboutfloor {
  0% {
    -webkit-transform: scale3d(1.7, 0.7, 1) translate(-200px);
            transform: scale3d(1.7, 0.7, 1) translate(-200px);
  }
  20% {
    -webkit-transform: scale3d(1.5, 0.8, 1) translate(20px);
            transform: scale3d(1.5, 0.8, 1) translate(20px);
  }
  50% {
    -webkit-transform: scale3d(1.7, 0.5, 1) translate(300px);
            transform: scale3d(1.7, 0.5, 1) translate(300px);
  }
  70% {
    -webkit-transform: scale3d(1.5, 0.8, 1) translate(180px);
            transform: scale3d(1.5, 0.8, 1) translate(180px);
  }
  80% {
    -webkit-transform: scaleX(1.5) translate(20px);
            transform: scaleX(1.5) translate(20px);
  }
  100% {
    -webkit-transform: scale3d(1.7, 0.7, 1) translate(-200px);
            transform: scale3d(1.7, 0.7, 1) translate(-200px);
  }
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes aboutworld {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes aboutworld {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@-webkit-keyframes aboutlight {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 49%;
            transform-origin: 50% 49%;
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    -webkit-transform-origin: 50% 49%;
            transform-origin: 50% 49%;
  }
  31% {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(2.2, 0.6, 1);
            transform: scale3d(2.2, 0.6, 1);
  }
  70% {
    opacity: 0;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    opacity: 1;
  }
}

@keyframes aboutlight {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 49%;
            transform-origin: 50% 49%;
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    -webkit-transform-origin: 50% 49%;
            transform-origin: 50% 49%;
  }
  31% {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(2.2, 0.6, 1);
            transform: scale3d(2.2, 0.6, 1);
  }
  70% {
    opacity: 0;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
            transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
            transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
            transform: perspective(400px) rotateY(-5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
            transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
            transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
            transform: perspective(400px) rotateY(-5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@-webkit-keyframes animatePlay {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background: #01b0f3;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background: #a5e5fd;
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    background: #01b0f3;
  }
}

@keyframes animatePlay {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background: #01b0f3;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background: #a5e5fd;
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    background: #01b0f3;
  }
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .brandpage-4 .product-demo-box {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-top: -367px;
  }
}

@media screen and (max-width: 1000px) {
  .brand-nav {
    height: 60px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .brand-nav .logo-left {
    margin-left: 20px;
    height: 100%;
  }
  .brand-nav-mobile {
    display: block;
    position: absolute;
    right: 0;
    width: 6em;
    height: 3em;
    margin-top: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brand-nav-mobile .nav-line {
    height: 2px;
    width: 60%;
    will-change: top,transform,opacity;
    -webkit-transition: top .5s ease .5s,opacity .5s ease .5s,-webkit-transform .5s ease .5s;
    transition: top .5s ease .5s,opacity .5s ease .5s,-webkit-transform .5s ease .5s;
    transition: top .5s ease .5s,transform .5s ease .5s,opacity .5s ease .5s;
    transition: top .5s ease .5s,transform .5s ease .5s,opacity .5s ease .5s,-webkit-transform .5s ease .5s;
    margin: 0 auto;
    background: #fff;
  }
  .brand-nav.nav-black .brand-nav-mobile .nav-line {
    background: #333;
  }
  .brand-nav .langtag {
    display: none;
  }
  .brand-nav.open {
    height: 100%;
    background: rgba(0, 0, 0, 0.88);
  }
  .brand-nav.open:before {
    position: absolute;
    left: 0;
    top: 68px;
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    content: "";
  }
  .brand-nav.open .logo-left {
    margin-left: 20px;
    height: 6em;
    background: url(../images/logo-white.png) 50% no-repeat !important;
  }
  .brand-nav.open .brand-nav-mobile .nav-line {
    height: 2px;
    width: 60%;
    will-change: top,transform,opacity;
    -webkit-transition: top .5s ease .5s,opacity .5s ease .5s,-webkit-transform .5s ease .5s;
    transition: top .5s ease .5s,opacity .5s ease .5s,-webkit-transform .5s ease .5s;
    transition: top .5s ease .5s,transform .5s ease .5s,opacity .5s ease .5s;
    transition: top .5s ease .5s,transform .5s ease .5s,opacity .5s ease .5s,-webkit-transform .5s ease .5s;
    margin: 0 auto;
    background: #fff;
  }
  .brand-nav.open .brand-nav-mobile .nav-line {
    opacity: 0;
    background: #fff;
  }
  .brand-nav.open .brand-nav-mobile .nav-line:first-child {
    -webkit-transform: rotate(45deg) translate(13px, 7px);
            transform: rotate(45deg) translate(13px, 7px);
    opacity: 1;
  }
  .brand-nav.open .brand-nav-mobile .nav-line:last-child {
    -webkit-transform: rotate(-45deg) translate(10px, -5px);
            transform: rotate(-45deg) translate(10px, -5px);
    opacity: 1;
  }
  .brand-nav.open .copyright {
    position: absolute;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    width: 100%;
    bottom: 2rem;
    text-align: center;
  }
  .brand-nav.open .copyright div {
    display: block;
    width: 80%;
    height: auto;
    color: #666;
  }
  .brand-nav.open .langtag {
    display: block;
    bottom: 6.2rem;
    left: 50%;
    margin-left: -81px;
  }
  .brand-nav.open .langtag span {
    padding: 0 15px;
  }
  .brand-nav.open .nav-foot {
    float: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .brand-nav.open .nav-foot ul li {
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
    height: 3.5em;
  }
  .brandpage-1 .about-right-bg {
    opacity: 0 !important;
  }
  .brandpage-1 .about-floor {
    bottom: -53px;
  }
  .brandpage-1 .about-right-div {
    margin-left: -472px;
    margin-top: -313px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .brandpage-1 .about-left-box {
    margin-right: -321px;
    margin-top: -14em;
    text-align: center;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .brandpage-2 {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .brandpage-2 .product-top-bg {
    background: none;
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
    height: auto;
  }
  .brandpage-2 .product-top-bg .product-top-icon {
    position: relative;
    width: 100%;
    top: 0 !important;
    left: 0 !important;
    height: 9.5vh;
    margin: 5px 0 20px;
  }
  .brandpage-2 .product-top-bg .product-top-icon .icon-img {
    -webkit-transform: scale(0.285);
            transform: scale(0.285);
    position: absolute;
    height: 219px;
    width: 200px;
    top: 0;
    left: 0;
    margin: 0;
    margin-top: -76px;
    margin-left: -45px;
  }
  .brandpage-2 .product-top-bg .product-top-icon .icon-title {
    font-size: 15px;
    margin: 0 0 .2vh 108px;
    padding-top: .6vh;
    text-align: left;
  }
  .brandpage-2 .product-top-bg .product-top-icon .icon-info {
    margin-left: 108px;
    text-align: left;
    line-height: 150%;
    font-size: 12px;
    margin-right: 15px;
  }
  .brandpage-2 .product-top-title, .brandpage-3 .product-top-title, .brandpage-4 .product-top-title, .brandpage-5 .product-top-title, .brandpage-6 .product-top-title {
    width: 100%;
    top: 10px;
    z-index: 9;
    height: auto;
    margin: 0 auto;
    left: 0;
  }
  .brandpage-2 .product-top-title .product-top-h3, .brandpage-3 .product-top-title .product-top-h3, .brandpage-4 .product-top-title .product-top-h3, .brandpage-5 .product-top-title .product-top-h3, .brandpage-6 .product-top-title .product-top-h3 {
    font-size: 1.3em;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .brandpage-2 .product-top-title .product-top-info, .brandpage-3 .product-top-title .product-top-info, .brandpage-4 .product-top-title .product-top-info, .brandpage-5 .product-top-title .product-top-info, .brandpage-6 .product-top-title .product-top-info {
    width: 95%;
    font-size: 12px;
    margin: 0 auto;
  }
  .brandpage-4 .product-demo-box .product-demo-pc .product-demo-tip a, .brandpage-4 .product-demo-box .product-demo-pc .product-demo-tip h3 {
    text-align: left;
    width: 100vw;
    right: none;
    padding: 0;
    left: 226px;
  }
  .brandpage-4 .product-demo-box {
    margin-left: -597px;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  .brandpage-4 .product-demo-box .product-demo-tip {
    border-radius: 150px;
  }
  .brandpage-4 .product-demo-box .product-demo-tip:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 123px;
    top: 191px;
    right: 100;
    background: #00b6f0;
  }
  .brandpage-4 .product-demo-box .product-demo-tip em {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    margin-top: 76px;
  }
  .brandpage-4 .product-demo-box .product-demo-tip em:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    top: 119px;
    left: 97px;
    background: #01b5f0;
    -webkit-box-shadow: 1px 1px 2px #23c3f7;
            box-shadow: 1px 1px 2px #23c3f7;
  }
  .brandpage-4 .product-demo-box .product-demo-tip h3 {
    position: absolute;
    color: #000;
    font-size: 45px;
    right: -270px;
    font-weight: 700;
    top: 8px;
    text-align: left;
  }
  .brandpage-4 .product-demo-box .product-demo-tip a {
    font-size: 39px;
    position: absolute;
    color: #00b6f0;
    border: none;
    right: -249px;
    top: 90px;
    text-align: left;
  }
  .brandpage-4 .product-demo-box .product-demo-pc .product-demo-tip {
    left: 180px;
    top: -288px;
  }
  .brandpage-4 .product-demo-box .product-demo-mb {
    right: 82px;
  }
  .brandpage-4 .product-demo-box .product-demo-mb .product-demo-tip {
    right: 148px;
    top: 723px;
  }
  .brandpage-4 .product-demo-box .product-demo-mb .product-demo-tip:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 83px;
    top: -80px;
    right: 100px;
    background: #00b6f0;
  }
  .brandpage-4 .product-demo-box .product-demo-mb .product-demo-tip h3 {
    text-align: right;
    right: 230px;
    width: 500px;
  }
  .brandpage-4 .product-demo-box .product-demo-mb .product-demo-tip h3:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 154px;
    top: -255px;
    right: -235px;
    background: #00b6f0;
  }
  .brandpage-4 .product-demo-box .product-demo-mb .product-demo-tip a {
    text-align: right;
    right: 230px;
    padding: 0;
    width: 280px;
  }
  .brandpage-4 .product-demo-box .product-demo-mb .product-demo-tip a:before {
    position: absolute;
    content: "";
    width: 106px;
    height: 2px;
    top: -168px;
    right: -238px;
    background: #00b6f0;
  }
  .brandpage-4 .product-demo-box .product-demo-mb .product-demo-tip em:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    top: 119px;
    left: 97px;
    background: #01b5f0;
    -webkit-box-shadow: 1px 1px 2px #23c3f7;
            box-shadow: 1px 1px 2px #23c3f7;
  }
  .brandpage-4 .product-demo-box .product-demo-mb .product-demo-tip em:before {
    top: -131px;
    left: 143px;
  }
  .brandpage-5 {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .brandpage-5 .service {
    position: relative;
    -webkit-transform: scale(1);
            transform: scale(1);
    width: 100%;
    height: 70%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    text-align: left;
  }
  .brandpage-5 .service .service-bg {
    opacity: 0 !important;
    display: none;
  }
  .brandpage-5 .service .service-icon-l, .brandpage-5 .service .service-icon-r {
    position: static !important;
    text-align: left;
    width: 100% !important;
    height: 11vh !important;
  }
  .brandpage-5 .service .service-icon-l:before, .brandpage-5 .service .service-icon-r:before {
    width: 9.8rem;
    left: .1em;
    top: -1.8rem;
    height: 9.3rem !important;
    -webkit-transform: scale(0.55);
            transform: scale(0.55);
    background: url(../images/icon-left.png) 0 no-repeat;
  }
  .brandpage-5 .service .service-icon-l h3, .brandpage-5 .service .service-icon-r h3 {
    text-align: left;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 700;
    margin-left: 99px;
    margin-top: 0;
    padding-top: .7vh;
  }
  .brandpage-5 .service .service-icon-l div, .brandpage-5 .service .service-icon-r div {
    width: auto;
    padding-right: 10px;
    text-align: left;
    line-height: 140%;
    font-size: 12px;
    margin: 0 0 0 99px;
  }
  .brandpage-6 {
    padding: 0;
    background: #f6fafb;
  }
  .brandpage-6 .contact {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
    background: #f6fafb url(../images/foot-mb.png) center 90% no-repeat;
    background-size: 90% auto;
  }
  .brandpage-6 .contact .contact-box {
    display: none;
  }
  .brandpage-6 .contact .line-box {
    position: static;
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 9rem;
    background: none;
  }
  .brandpage-6 .contact .line-box:before {
    left: 15px;
    top: 1.5rem;
    width: 122px;
    height: 5.5rem;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .brandpage-6 .contact .line-box .contact-icon {
    display: block;
    height: 8rem;
    overflow: hidden;
    background: url(../images/cardbg-mb.png) 50% no-repeat;
    background-size: 100% 100%;
  }
  .brandpage-6 .contact .line-box .contact-icon h3 {
    text-align: left;
    font-size: .8em;
    margin: 2.2rem auto .1rem 110px;
  }
  .brandpage-6 .contact .line-box .contact-icon div {
    text-align: left;
    font-size: .8em;
    color: #333;
    margin: 1px auto 5px 110px;
  }
  .brandpage-6 .contact .line-box .contact-icon div.skype-info {
    font-size: .5em;
    color: #db3b40;
    padding: 0 1.2rem 0 0;
  }
  .brandpage-6 .contact .line-box .contact-icon div:first-of-type {
    margin-bottom: 2px;
  }
  .brandpage-6 .contact .line-box.cbox-whatsapp {
    margin-top: 9rem;
  }
  .brandpage-6 .contact .line-box.cbox-skype {
    height: 11rem;
    background: none;
  }
  .brandpage-6 .contact .line-box.cbox-skype .contact-icon {
    height: 10rem;
    background: url(../images/cardbg-mb2.png) 50% no-repeat;
    background-size: 100% 100%;
  }
  .brandpage-6 .contact .contact-box .contact-bg, .brandpage-6 .contact .contact-box .contact-line, .brandpage-6 .contact .contact-box .contact-start {
    display: none;
    background: none;
  }
}
