// @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body, html {
    margin: 0;
    font: 12px/1.4 Microsoft YaHei,PingFang SC,Helvetica,Helvetica Neue,Tahoma,Arial,sans-serif;
}

.fullpage-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.musicbox {
    position: fixed;
    width: 30px;
    height: 30px;
    background: none;
    right: 10px;
    top: 10px;
    z-index: 9;
    img {
        border-radius: 35px;
        border: 1px solid #666;
        width: 100%;
        height: 100%;
    }
}
.musicbox.playing img {
    position: relative;
    border-color: #01b0f3;
    animation: animatePlay 5s linear infinite;
}
.musicbox, .musicbox.playing {
    box-sizing: border-box;
}
.brand-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 82px;
    width: 100%;
    border-top: 1px solid #4b4e57;
    z-index: 9;
    .logo-left {
        float: left;
        width: 235px;
        height: 80px;
        margin-left: 40px;
        background: url(../images/logo-white.png) 50% no-repeat;
    }
    .langtag {
        position: absolute;
        bottom: 31px;
        left: 271px;
        span {
            float: left;
            color: #616161;
            border-right: 1px solid hsla(0,0%,100%,.1);
            padding: 0 6px;
        }
    }
    .nav-foot {
        float: right;
        margin-right: 40px;
        .nav-item {
            position: relative;
            display: inline-block;
            color: #86888d;
            border: none;
            margin: 0 25px;
            height: 80px;
            line-height: 80px;
            cursor: pointer;
            outline: none;
            transition: all .5s;
        }
        ul{
            li{
                position: relative;
                display: inline-block;
                margin: 0 25px;
                a{
                    color: #86888d;
                    border: none;
                    // margin: 0 25px;
                    height: 80px;
                    line-height: 80px;
                    cursor: pointer;
                    outline: none;
                    transition: all .5s;
                    text-decoration: none;
 
                }
                a.active{
                        color: #01b0f2;
                      &:before {
                        transition: all .5s;
                        content: "";
                        display: block;
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                        border-bottom: 2px solid #01b0f2;
                    }
                }
  
            }
        }
    }

    .copyright {
        display: none;
        opacity: 0;
    }
}
.brand-nav.nav-black {
    border-top: 1px solid #ebeff1;
}
.brand-nav .langtag span.curr, .brand-nav .langtag span:hover {
    color: #01b0f2;
    cursor: pointer;
}
.brand-nav .langtag span:last-child {
    border-right: 0 solid hsla(0,0%,100%,.1);
}
.brand-nav .nav-foot .nav-item:before {
    transition: all .5s;
    content: "";
    display: block;
    position: absolute;
    width: 0;
    bottom: 0;
    left: 100%;
    border-bottom: 2px solid #01b0f2;
}
.brand-nav .nav-foot .nav-item.active:before, .brand-nav .nav-foot ul li.active:before, .brand-nav .nav-foot .nav-item:hover:before ,.brand-nav .nav-foot ul li:hover:before{
    left: 0;
    width: 100%;
}
.fullpage-wp {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.fullpage-wp.anim {
    transform: translateZ(0);
    transition: all .5s ease-out 0s;
}
.page {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    overflow: hidden;
}

.brandpage-1 {
    padding-top: 100px;
    background: #1d1f29 linear-gradient(90deg,#2e313b,#1d1f29);
    background-size: cover;
    .about-right-bg {
        position: absolute;
        left: 50%;
        width: 1356px;
        margin-left: -280px;
        top: 50%;
        height: 100%;
        margin-top: -490px;
        animation: aboutrightbg 23s linear infinite;
        background: url(../images/right-bg.png) no-repeat;
        background-size: cover;
    }
    .about-floor {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        .about-floor-line {
            display: block;
            opacity: .1;
            height: 254px;
            width: 1920px;
            animation: aboutfloor 27s linear infinite;
            background: url(../images/floor-bg.png) 50% no-repeat;
        }
    }
    .about-right-div {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 992px;
        height: 860px;
        margin-top: -450px;
        margin-left: -100px;
        .about-right-light {
            width: 992px;
            height: 860px;
            background: url(../images/right-worldbg.png) 170px 66% no-repeat;
        }
        .about-icon {
            position: absolute;
            top: 397px;
            width: 222px;
            height: 127px;
        }
        .about-icon-left {
            margin-left: 122px;
            z-index: 5;
            background: url(../images/right-l.png) no-repeat;
        }
        .about-icon-right {
            margin-left: 585px;
            z-index: 5;
            background: url(../images/right-r.png) no-repeat;
        }
        .about-world-top {
            position: absolute;
            width: 499px;
            height: 499px;
            top: 176px;
            left: 203px;
            .about-world-web {
                width: 100%;
                height: 100%;
                animation: aboutworld 20s linear infinite;
                background: url(../images/world2.png) no-repeat;
            }
        }
        .about-world-logo {
            position: absolute;
            top: 327px;
            left: 301px;
            width: 320px;
            height: 226px;
            background: url(../images/right-logo.png) no-repeat;
        }
        .about-right-light-line {
            position: absolute;
            width: 1073px;
            height: 779px;
            top: 0;
            left: -29px;
            animation: aboutlight 5s linear infinite;
            background: url(../images/right-linght.png) no-repeat;
        }
    }
    .about-left-box {
        position: absolute;
        right: 45%;
        top: 55%;
        width: 670px;
        height: 400px;
        text-align: left;
        margin-top: -260px;
        margin-right: 10vw;
        .about-left-title {
            font-size: 83px;
            font-weight: 550;
            letter-spacing: 5px;
            color: #fff;
            margin-bottom: 50px;
            .rtitle {
                position: relative;
                display: block;
            }
            .nexttitle {
                font-size: 70px;
            }
        }
        .about-left-info {
            position: relative;
            font-size: 20px;
            color: #eee;
            letter-spacing: 2px;
            line-height: 200%;
        }
    }

    @media screen and (max-width: 1480px){
        .about-left-box {
            margin-right: 0;
            transform: scale(.8);
        }
        .about-right-div {
            transform: scale(.8);
        }
    }

}
.brandpage-1 .about-left-box .about-left-title .rtitle:before {
    content: attr(text);
    position: absolute;
    z-index: 10;
    color: #8a8e9a;
    -webkit-mask: -webkit-linear-gradient(bottom,#db3b40,transparent 65%);
}
.brandpage-two {
    width: 100%;
    height: 100%;
    background: #1d1f29;
}
.brandpage-2 {
    padding-top: 100px;
    background: #f6fafb;
    height: 100%;

   
    .product-top-bg {
        margin-top: -550px;
        transform: scale(0.8);
        position: absolute;
        width: 1920px;
        height: 1000px;
        top: 50%;
        left: 50%;
        margin-top: -500px;
        margin-left: -960px;
        background: url(../images/bg.png) no-repeat;
        background-size: cover;
        .product-top-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 220px;
        color: #45484f;
        text-align: center;
        .icon-img {
            display: block;
            width: 100%;
            height: 280px;
        }
        .icon-info {
            font-size: 15px;
        }
        &:nth-child(1) {
            left: 337px;
            top: 292px;
            .icon-img {
            background: url(../images/one.png) center 0 no-repeat;
            }
        }
        &:nth-child(2) {
            left: 596px;
            top: 441px;
            .icon-img {
            background: url(../images/two.png) center 0 no-repeat;
            }
        }
        &:nth-child(3) {
            left: 851px;
            top: 292px;
            .icon-img {
            background: url(../images/there.png) center 0 no-repeat;
            }
        }
        &:nth-child(4) {
            left: 1107px;
            top: 441px;
            .icon-img {
            background: url(../images/four.png) center 0 no-repeat;
            }
        }
        &:nth-child(5) {
            left: 1365px;
            top: 292px;
            .icon-img {
            background: url(../images/five.png) center 0 no-repeat;
            }
        }
        }
        .icon-title {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 12px;
        }
    }
    @media screen and (max-width: 1480px){
        .product-top-bg {
            margin-top: -550px;
            transform: scale(.8);
        }
    }
}
.brandpage-2 .product-top-title, .brandpage-3 .product-top-title, .brandpage-4 .product-top-title, .brandpage-5 .product-top-title, .brandpage-6 .product-top-title {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 500px;
    height: 120px;
    color: #45484f;
    margin-left: -250px;
    text-align: center;
}
@media screen and (max-width: 1480px){
    .brandpage-2 .product-top-title, .brandpage-3 .product-top-title, .brandpage-4 .product-top-title, .brandpage-5 .product-top-title, .brandpage-6 .product-top-title {
        top: 20px;
    }
}
.brandpage-4 {
    padding-top: 0;
    height: 100%;
    background: #f6fafb;
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .product-demo-box {
        position: absolute;
        width: 1200px;
        height: 690px;
        top: 50%;
        left: 50%;
        margin-top: -350px;
        margin-left: -600px;
        .product-demo-pc {
            position: absolute;
            top: 50px;
            left: -35px;
            width: 1160px;
            height: 687px;
            background: url(../images/pc.png) 50% no-repeat;
            img {
                position: absolute;
                top: 52px;
                left: 160px;
            }
            .product-demo-tip {
                left: 34px;
                top: 126px;
                em {
                    background: url(../images/pc-icon.png) 50% no-repeat;
                }
            }
        }
        .product-demo-mb {
            position: absolute;
            width: 288px;
            height: 571px;
            right: 0;
            bottom: -59px;
            background: url(../images/phone.png) 50% no-repeat;
            img {
                position: absolute;
                top: 70px;
                left: 26px;
            }
            .product-demo-tip {
                right: -81px;
                top: 263px;
                em {
                    background: url(../images/phone-icon.png) 50% no-repeat;
                }
            }
        }
        .product-demo-tip {
            position: absolute;
            width: 200px;
            height: 190px;
            color: #fff;
            border-radius: 6px;
            background: linear-gradient(0deg,#01b0f3,#00cae5);
            box-shadow: 0 3px 10px rgba(1,176,243,.5);
            em {
                display: block;
                height: 48px;
                width: 100%;
                margin-top: 25px;
            }
            h3 {
                font-size: 22px;
                font-weight: 100;
                margin: 15px auto 5px;
            }
            a {
                display: inline-block;
                cursor: pointer;
                color: #fff;
                font-size: 16px;
                border: 1px solid #fff;
                padding: 5px 16px;
                border-radius: 30px;
                text-decoration: none;
                &:hover {
                    color: #fff;
                    border-color: #4dcaf5;
                    background: #0a9cd4;
                }
            }
        }
    }
    @media screen and (max-width: 1480px){
        .product-demo-box {
            transform: scale(.8);
            margin-top: -367px;
        }
    }

}
.brandpage-5 {
    padding-top: 50px;
    height: 100%;
    background: #000 url(../images/bg.jpg) no-repeat;
    background-size: cover;
    .service {
        position: absolute;
        width: 570px;
        height: 570px;
        top: 50%;
        left: 50%;
        margin-top: -285px;
        margin-left: -285px;
        .service-bg {
            display: block;
            width: 100%;
            height: 100%;
            background: url(../images/content.png) 50% no-repeat;
        }
        .service-icon-l {
            position: absolute;
            width: 300px;
            height: 100px;
            h3 {
                font-size: 20px;
                font-weight: 100;
            }
            div {
                font-size: 16px;
                line-height: 150%;
            }
            &:before {
                position: absolute;
                width: 164px;
                right: -183px;
                content: "";
                height: 100%;
                background: url(../images/icon-left.png) 50% no-repeat;
            }
        }
        .service-icon-r {
            position: absolute;
            width: 300px;
            height: 100px;
            h3 {
                font-size: 20px;
                font-weight: 100;
            }
            div {
                font-size: 16px;
                line-height: 150%;
            }
            &:before {
                position: absolute;
                width: 164px;
                left: -183px;
                content: "";
                height: 100%;
                background: url(../images/icon-right.png) 50% no-repeat;
            }
        }
        .sl-one {
            top: 19px;
            right: 635px;
        }
        .sl-two {
            top: 224px;
            right: 736px;
        }
        .sl-there {
            top: 461px;
            right: 620px;
        }
        .sr-one {
            top: 19px;
            left: 635px;
        }
        .sr-two {
            top: 224px;
            left: 736px;
        }
        .sr-there {
            top: 461px;
            left: 620px;
        }
    }
}
@media screen and (max-width: 1480px){
    .brandpage-5 .service, .brandpage-6 .contact {
        transform: scale(.8);
    }
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-container {
    position: inherit;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.swiper-pagination-demo {
    position: absolute;
    bottom: 65px!important;
    z-index: 99;
}
.swiper-pagination, .swiper-pagination-demo {
    margin-bottom: 100px;
}


.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.swiper-pagination-demo {
    bottom: .65px!important;
}
.swiper-pagination-bullet{
    cursor: pointer;
    // padding: 5px;
}
.swiper-pagination-bullet-active {
    background: #01b0f2;

}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}
.product-top-title {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 500px;
    height: 120px;
    color: #45484f;
    margin-left: -250px;
    text-align: center;
    .product-top-h3 {
      display: inline-block;
      font-size: 35px;
      font-weight: 700;
      letter-spacing: 2px;
      margin: 0 auto;
      &:before {
        position: absolute;
        content: '';
        top: 15px;
        width: 20px;
        height: 17px;
        background: url(../images/icon-blue.png) no-repeat;
        margin-left: -35px;
      }
      &:after {
        position: absolute;
        content: '';
        top: 15px;
        width: 20px;
        height: 17px;
        background: url(../images/icon-blue.png) no-repeat;
        margin-left: 12px;
      }
    }
    .product-top-info {
      display: block;
      color: #676767;
      letter-spacing: 1px;
      margin-top: 15px;
      font-size: 14px;
    }
}
.brandpage-3 .product-top-title .product-top-h3, .brandpage-5 .product-top-title .product-top-h3 {
    color: #fff;
}
.brandpage-3 .product-top-title .product-top-info, .brandpage-5 .product-top-title .product-top-info {
    color: #b0b0b2;
}
.brandpage-3 .product-top-title .product-top-h3:after, .brandpage-3 .product-top-title .product-top-h3:before, .brandpage-5 .product-top-title .product-top-h3:after, .brandpage-5 .product-top-title .product-top-h3:before {
    background: url(../images/icon-white.png) no-repeat;
}
.brandpage-5 .service .service-icon-l div, .brandpage-5 .service .service-icon-l h3 {
    display: block;
    width: 100%;
    margin-right: 164px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}
.brandpage-6 {
    padding-top: 50px;
    height: 100%;
    background: #f6fafb url(../images/bg1.jpg) no-repeat;
    background-size: cover;
    .contact {
        position: absolute;
        width: 690px;
        height: 540px;
        left: 50%;
        top: 50%;
        margin-left: -345px;
        margin-top: -270px;
        .line-box {
            position: absolute;
            width: 290px;
            height: 160px;
            background: url(../images/card-bg.png) 50% no-repeat;
            &:before {
                position: absolute;
                content: "";
                top: 12px;
                left: 0;
                width: 100%;
                height: 60px;
            }
            div {
                font-size: 18px;
                color: #01b0f3;
            }
            h3{
                font-size: 20px;
                margin: 70px auto 5px;
                color: #45484f;
            }
             .skype-info {
                padding: 5px 15px 0;
                font-size: 13px;
                color: #db3b40;
            }
        }
        .line-box.cbox-whatsapp {
            top: 109px;
            left: -259px;
            &:before {
                background: url(../images/phone1.png) 50% no-repeat;
            }
        }
        .line-box.cbox-skype {
            top: -63px;
            left: 210px;
            height: 200px;
            background: url(../images/card-bg2.png) 50% no-repeat;
            &:before {
                background: url(../images/skype.png) 50% no-repeat;
            }
        }
        .line-box.cbox-email {
            top: 109px;
            left: 660px;
            &:before {
                background: url(../images/email.png) 50% no-repeat;
            }
        }
    }
    .contact-box{
        .contact-bg {
            position: absolute;
            bottom: -112px;
            display: block;
            width: 100%;
            height: 100%;
            background: url(../images/foot-ico.png) 50% no-repeat;
        }
        .contact-line {
            position: absolute;
            display: block;
            z-index: 5;
            left: -117px;
            top: 146px;
            width: 925px;
            height: 358px;
            background: url(../images/line.png) 50% no-repeat;
        }
        .contact-start {
            position: absolute;
            width: 275px;
            height: 201px;
            left: 207px;
            top: 217px;
            background: url(../images//start.png) 50% no-repeat;
        }
    }
}
.brandpage {
    display: block;
    text-align: center;
    font-size: 26px;
    color: #eee;
}
.bounceIn {
    animation-duration: .75s;
    animation-name: bounceIn;
}

.fadeIn {
    animation-name: fadeIn;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animated {
    opacity: 1;
}
.bounceInLeft {
    animation-name: bounceInLeft;
}
.slideInDown {
    animation-name: slideInDown;
}
.fadeInLeft {
    animation-name: fadeInLeft;
}
.fadeInRight {
    animation-name: fadeInRight;
}
.fadeInUp {
    animation-name: fadeInUp;
}
.rubberBand {
    animation-name: rubberBand;
}
.flipInY {
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
    animation-name: flipInY;
}
.musicbox.playing img {
    position: relative;
    border-color: #01b0f3;
    animation: animatePlay 5s linear infinite;
}
.slideInUp {
    animation-name: slideInUp;
}
.slideInLeft{
    animation-name: slideInLeft;
}
.zoomIn{
    animation-name: zoomIn;
}
.slideInRight{
    animation-name:  slideInRight;
}
@keyframes aboutrightbg{
    0% {
        transform: scaleX(1);
    }
    
    30% {
        transform: scale3d(1.2,.8,1);
    }
    60% {
        transform: scale3d(1.5,1.1,1);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes aboutfloor{
    0% {
        transform: scale3d(1.7,.7,1) translate(-200px);
    }
    
    20% {
        transform: scale3d(1.5,.8,1) translate(20px);
    }
    50% {
        transform: scale3d(1.7,.5,1) translate(300px);
    }
    70% {
        transform: scale3d(1.5,.8,1) translate(180px);
    }
    80% {
        transform: scaleX(1.5) translate(20px);
    }
    100% {
        transform: scale3d(1.7,.7,1) translate(-200px);
    }
}
@keyframes bounceIn{
    0% {
        opacity: 0;
        transform: scale3d(.3,.3,.3);
    }
    20% {
        transform: scale3d(1.1,1.1,1.1);
    }
    
    40% {
        transform: scale3d(.9,.9,.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03,1.03,1.03);
    }
    80% {
        transform: scale3d(.97,.97,.97);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}
@keyframes aboutworld {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
    }
}
@keyframes aboutlight{
    0% {
        opacity: 1;
        transform: rotate(0deg);
        transform-origin: 50% 49%;
    }
    30% {
        opacity: 1;
        transform: rotate(1turn);
        transform-origin: 50% 49%;
    }
    31% {
        opacity: 1;
        transform: scaleX(1);
    }
    60% {
        opacity: 1;
        transform: scale3d(2.2,.6,1);
    }
    70% {
        opacity: 0;
        transform: scaleX(1);
    }
    100% {
        opacity: 1;
    }
}
@keyframes bounceInLeft{
    0%, 60%, 75%, 90%, 100% {
        animation-timing-function: cubic-bezier(.215,.61,.355,1);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px,0,0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px,0,0);
    }
    75% {
        transform: translate3d(-10px,0,0);
    }
    90% {
        transform: translate3d(5px,0,0);
    }
    100% {
        transform: translateZ(0);
    }
}
@keyframes fadeIn {
    0%{opacity:0};
    to{opacity:1};
}
@keyframes  slideInDown{
    0% {
        transform: translate3d(0,-100%,0);
        visibility: visible;
    }
    100% {
        transform: translateZ(0);
    }
}
@keyframes fadeInLeft{
    0% {
        opacity: 0;
        transform: translate3d(-100%,0,0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes fadeInRight{
    0% {
        opacity: 0;
        transform: translate3d(100%,0,0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes fadeInUp{
    0% {
        opacity: 0;
        transform: translate3d(0,100%,0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes rubberBand{
    0% {
        transform: scaleX(1);
    }
    30% {
        transform: scale3d(1.25,.75,1);
    }
    40% {
        transform: scale3d(.75,1.25,1);
    }
    50% {
        transform: scale3d(1.15,.85,1);
    }
    65% {
        transform: scale3d(.95,1.05,1);
    }
    75% {
        transform: scale3d(1.05,.95,1);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes flipInY{
    0% {
        transform: perspective(400px) rotateY(90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateY(-20deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotateY(10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotateY(-5deg);
    }
    100% {
        transform: perspective(400px);
    }
}
@keyframes animatePlay {
    0% {
        transform: rotate(0deg);
        background: #01b0f3;
    }
    50% {
        transform: rotate(180deg);
        background: #a5e5fd;
    }
    100% {
        transform: rotate(1turn);
        background: #01b0f3;
    }
}
@keyframes slideInUp {
    0% {
        transform: translate3d(0,100%,0);
        visibility: visible;
    }
    100% {
        transform: translateZ(0);
    }
}
@keyframes slideInLeft{
    0% {
        transform: translate3d(-100%,0,0);
        visibility: visible;
    }
    100% {
        transform: translateZ(0);
    }
}
@keyframes slideInRight{
    0% {
        transform: translate3d(100%,0,0);
        visibility: visible;
    }
    
    100% {
        transform: translateZ(0);
    }
}
@keyframes zoomIn{
    0% {
        opacity: 0;
        transform: scale3d(.3,.3,.3);
    }
    
    50% {
        opacity: 1;
    }
}
@media screen and (max-width: 1024px){
    .brandpage-4 .product-demo-box {
        transform: scale(.7);
        margin-top: -367px;
    }
}

@media screen and (max-width: 1000px){
    .brand-nav {
        height: 60px;
        transition: all .3s;
        .logo-left {
            margin-left: 20px;
            height: 100%;
        }
    }
    .brand-nav-mobile {
        display: block;
        position: absolute;
        right: 0;
        width: 6em;
        height: 3em;
        margin-top: 13px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .nav-line {
            height: 2px;
            width: 60%;
            will-change: top,transform,opacity;
            transition: top .5s ease .5s,transform .5s ease .5s,opacity .5s ease .5s;
            margin: 0 auto;
            background: #fff;
        }
   
    }
    .brand-nav.nav-black .brand-nav-mobile .nav-line {
        background: #333;
    }
    .brand-nav .langtag {
        display: none;
    }
    .brand-nav.open {
        height: 100%;
        background: rgba(0,0,0,.88);
        &:before {
            position: absolute;
            left: 0;
            top: 68px;
            height: 1px;
            width: 100%;
            background: hsla(0,0%,100%,.2);
            content: "";
        }
        .logo-left {
            margin-left: 20px;
            height: 6em;
            background: url(../images/logo-white.png) 50% no-repeat !important;
        }
         .brand-nav-mobile {
            .nav-line {
                height: 2px;
                width: 60%;
                will-change: top,transform,opacity;
                transition: top .5s ease .5s,transform .5s ease .5s,opacity .5s ease .5s;
                margin: 0 auto;
                background: #fff;
            }
             .nav-line {
                opacity: 0;
                background: #fff;
            }
            .nav-line:first-child {
                transform: rotate(45deg) translate(13px,7px);
                opacity: 1;
            }
            .nav-line:last-child {
                transform: rotate(-45deg) translate(10px,-5px);
                opacity: 1;
            }

         }
         .copyright {
            position: absolute;
            opacity: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            width: 100%;
            bottom: 2rem;
            text-align: center;
            div {
                display: block;
                width: 80%;
                height: auto;
                color: #666;
            }
        }
        .langtag {
            display: block;
            bottom: 6.2rem;
            left: 50%;
            margin-left: -81px;
            span {
                padding: 0 15px;
            }
        }
        .nav-foot {
            float: none;
            width: 50%;
            margin: 0 auto;
            text-align: center;
            ul li {
                margin: 0 auto;
                width: 100%;
                font-size: 16px;
                height: 3.5em;
            }
        }
    }
    .brandpage-1 {
        .about-right-bg {
            opacity: 0!important;
        }
        .about-floor {
            bottom: -53px;
        }
        .about-right-div {
            margin-left: -472px;
            margin-top: -313px;
            transform: scale(.5);
        }
        .about-left-box {
            margin-right: -321px;
            margin-top: -14em;
            text-align: center;
            transform: scale(.5);
        }
    }
    .brandpage-2 {
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .product-top-bg {
            background: none;
            position: relative;
            left: 0;
            top: 0;
            margin: 0;
            width: 100%;
            transform: scale(1);
            height: auto;
            .product-top-icon {
                position: relative;
                width: 100%;
                top: 0 !important;
                left: 0 !important;
                height: 9.5vh;
                margin: 5px 0 20px;
                .icon-img {
                    transform: scale(.285);
                    position: absolute;
                    height: 219px;
                    width: 200px;
                    top: 0;
                    left: 0;
                    margin: 0;
                    margin-top: -76px;
                    margin-left: -45px;
                }
                .icon-title {
                    font-size: 15px;
                    margin: 0 0 .2vh 108px;
                    padding-top: .6vh;
                    text-align: left;
                }
                .icon-info {
                    margin-left: 108px;
                    text-align: left;
                    line-height: 150%;
                    font-size: 12px;
                    margin-right: 15px;
                }
            }
        }

    }
    .brandpage-2 .product-top-title, .brandpage-3 .product-top-title, .brandpage-4 .product-top-title, .brandpage-5 .product-top-title, .brandpage-6 .product-top-title {
        width: 100%;
        top: 10px;
        z-index: 9;
        height: auto;
        margin: 0 auto;
        left: 0;
    }
    .brandpage-2 .product-top-title .product-top-h3, .brandpage-3 .product-top-title .product-top-h3, .brandpage-4 .product-top-title .product-top-h3, .brandpage-5 .product-top-title .product-top-h3, .brandpage-6 .product-top-title .product-top-h3 {
        font-size: 1.3em;
        transform: scale(.6);
    }
    .brandpage-2 .product-top-title .product-top-info, .brandpage-3 .product-top-title .product-top-info, .brandpage-4 .product-top-title .product-top-info, .brandpage-5 .product-top-title .product-top-info, .brandpage-6 .product-top-title .product-top-info {
        width: 95%;
        font-size: 12px;
        margin: 0 auto;
    }
    .brandpage-4 .product-demo-box .product-demo-pc .product-demo-tip a, .brandpage-4 .product-demo-box .product-demo-pc .product-demo-tip h3 {
        text-align: left;
        width: 100vw;
        right: none;
        padding: 0;
        left: 226px;
    }
    .brandpage-4 {
        .product-demo-box {
            margin-left: -597px;
            transform: scale(.3);

            .product-demo-tip {
                border-radius: 150px;
                &:before {
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: 123px;
                    top: 191px;
                    right: 100;
                    background: #00b6f0;
                }
                
                em {
                    transform: scale(2.2);
                    margin-top: 76px;
                    &:before {
                        position: absolute;
                        content: "";
                        width: 6px;
                        height: 6px;
                        top: 119px;
                        left: 97px;
                        background: #01b5f0;
                        box-shadow: 1px 1px 2px #23c3f7;
                    }
                }
                h3 {
                    position: absolute;
                    color: #000;
                    font-size: 45px;
                    right: -270px;
                    font-weight: 700;
                    top: 8px;
                    text-align: left;
                }
                a {
                    font-size: 39px;
                    position: absolute;
                    color: #00b6f0;
                    border: none;
                    right: -249px;
                    top: 90px;
                    text-align: left;
                }
            }
            .product-demo-pc{
                .product-demo-tip {
                    left: 180px;
                    top: -288px;
                }
            } 
            .product-demo-mb {
                right: 82px;
                .product-demo-tip {
                    right: 148px;
                    top: 723px;
                    &:before {
                        position: absolute;
                        content: "";
                        width: 2px;
                        height: 83px;
                        top: -80px;
                        right: 100px;
                        background: #00b6f0;
                    }

                    h3{
                        text-align: right;
                        right: 230px;
                        width: 500px;
                        &:before {
                            position: absolute;
                            content: "";
                            width: 2px;
                            height: 154px;
                            top: -255px;
                            right: -235px;
                            background: #00b6f0;
                        }
                    }
                    a{
                        text-align: right;
                        right: 230px;
                        padding: 0;
                        width: 280px;
                        &:before {
                            position: absolute;
                            content: "";
                            width: 106px;
                            height: 2px;
                            top: -168px;
                            right: -238px;
                            background: #00b6f0;
                        }
                    }
                    em{
                        &:before {
                            position: absolute;
                            content: "";
                            width: 6px;
                            height: 6px;
                            top: 119px;
                            left: 97px;
                            background: #01b5f0;
                            box-shadow: 1px 1px 2px #23c3f7;
                        } 
                        &:before {
                            top: -131px;
                            left: 143px;
                        }
   
                    }

                }
            }
 
        }

    }
    .brandpage-5 {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .service {
            position: relative;
            transform: scale(1);
            width: 100%;
            height: 70%;
            margin: 0;
            padding: 0;
            left: 0;
            top: 0;
            text-align: left;
            .service-bg {
                opacity: 0!important;
                display: none;
            }
            .service-icon-l ,.service-icon-r{
                position: static !important;
                text-align: left;
                width: 100% !important;
                 height: 11vh !important;
                &:before {
                    width: 9.8rem;
                    left: .1em;
                    top: -1.8rem;
                    height: 9.3rem !important;
                    transform: scale(.55);
                    background: url(../images/icon-left.png) 0 no-repeat;
                }
                h3 {
                    text-align: left;
                    font-size: 16px;
                    margin-bottom: 0;
                    font-weight: 700;
                    margin-left: 99px;
                    margin-top: 0;
                    padding-top: .7vh;
                }
                div{
                    width: auto;
                    padding-right: 10px;
                    text-align: left;
                    line-height: 140%;
                    font-size: 12px;
                    margin: 0 0 0 99px;
                }
            } 
        }  

    }
    .brandpage-6 {
        padding: 0;
        background: #f6fafb;
        .contact {
            margin: 0;
            padding: 0;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: scale(1);
            background: #f6fafb url(../images/foot-mb.png) center 90% no-repeat;
            background-size: 90% auto;
            .contact-box {
                display: none;
            }
            .line-box {
                position: static;
                display: block;
                margin: 0 auto;
                width: 90%;
                height: 9rem;
                background: none;
                &:before {
                    left: 15px;
                    top: 1.5rem;
                    width: 122px;
                    height: 5.5rem;
                    transform: scale(1.2);
                }
                .contact-icon {
                    display: block;
                    height: 8rem;
                    overflow: hidden;
                    background: url(../images/cardbg-mb.png) 50% no-repeat;
                    background-size: 100% 100%;
                    h3 {
                        text-align: left;
                        font-size: .8em;
                        margin: 2.2rem auto .1rem 110px;
                    }
                    div {
                        text-align: left;
                        font-size: .8em;
                        color: #333;
                        margin: 1px auto 5px 110px;
                    }
                    div.skype-info {
                        font-size: .5em;
                        color: #db3b40;
                        padding: 0 1.2rem 0 0;
                    }
                    div:first-of-type {
                        margin-bottom: 2px;
                    }
                }
            }
            .line-box.cbox-whatsapp {
                margin-top: 9rem;
            }
            .line-box.cbox-skype {
                height: 11rem;
                background: none;
                 .contact-icon {
                    height: 10rem;
                    background: url(../images/cardbg-mb2.png) 50% no-repeat;
                    background-size: 100% 100%;
                }
            }
            
        }
    }
    .brandpage-6 .contact .contact-box .contact-bg, .brandpage-6 .contact .contact-box .contact-line, .brandpage-6 .contact .contact-box .contact-start {
        display: none;
        background: none;
    }
}
