body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  color: #000;
  font-family: PingFangSC-Regular;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

a {
  border: 0;
  /*取消a標籤的虛線*/
  outline: none; /* for Firefox */
}
ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sec {
  margin-right: 5px;
}
.mask {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.alert {
  width: 90%;
  height: 130px;
  background: #ffffff;
  border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
}
.alert img {
  position: absolute;
  top: 10px;
  right: 10px;
}
.alert h3 {
  padding-left: 15px;
}
.alert div {
  padding-left: 15px;
}
.alert div p {
  font-family: PingFangTC-Regular;
  font-size: 12px;
  color: #939495;
  letter-spacing: 0.8px;
  line-height: 8px;
}
.alert div p:nth-child(1) {
  color: #72757b;
}
.alert div p:nth-child(2) {
  color: #4285ce;
}
.alert .button {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}
.alert .button a {
  text-decoration: none;
  font-family: PingFangTC-Medium;
  font-size: 13px;
  color: #27292a;
  letter-spacing: 0.8px;
}
.alert .button a:nth-child(2) {
  color: #4285ce;
  margin-left: 15px;
}

.red_t {
  color: #d65950;
}
.pl5 {
  padding-left: 5px;
}

.main_title {
  width: 100%;
  height: 62px;
  background-image: url(../images/Banner.svg);
  background-repeat: no-repeat;
  background-position: center;
  outline: #edf2f6 7px solid;
}

.contain_main {
  max-width: 800px;
  width: 100%;
  height: 600px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.titleboxWrap {
  width: 100%;
  text-align: center;
}
.titlebox {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titlebox img {
  width: 60px;
  height: 30px;
  margin-right: 5px;
}
.titlebox h3 {
  font-family: PingFangTC-Regular;
  font-size: 23px;
  color: #000000;
  margin-right: 50px;
}

.inforData_box {
  font-size: 1.2em;
  padding: 25px 0;
  background-color: #eef1f6;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.inforData_box .align_start {
  align-items: flex-start !important;
  padding-bottom: 30px;
}
.inforData_box .money {
  display: flex;
  align-items: center;
  height: 50px;
  font-family: TimesNewRomanPS-BoldMT;
  padding-left: 10px;
  padding-bottom: 20px;
  font-weight: bold;
  color: #e02020;
  font-size: 30px;
}
.inforData_box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.inforData_box ul li {
  line-height: 1.2em;
  margin-bottom: 30px;
  position: relative;
  display: table;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inforData_box .inforData_right {
  display: flex;
  align-items: center;
}
.inforData_box ul li a {
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  margin-left: 5px;
  font-family: PingFangTC-Regular;
  font-size: 14px;
  color: #4285ce;
  letter-spacing: 0.4px;
  text-align: right;
}

.inforData_box_bottom {
  width: 95%;
  padding-top: 10px;
  border-top: #d5d5d5 solid 1px;
  margin: 0 auto;
}
.inforData_tile {
  display: table-cell;
  font-weight: bold;
  width: 1%;
  padding-right: 5px;
  white-space: nowrap;
  font-family: PingFangTC-Regular;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.4px;
  line-height: 27px;
}
.inforData_txt {
  display: table-cell;
}
.color_gray {
  font-family: TimesNewRomanPSMT;
  font-size: 14px;
  color: #72757b;
  letter-spacing: 0.27px;
  text-align: right;
  line-height: 18px;
}

.inforData_box_bottom > div {
  font-family: PingFangSC-Regular;
  font-size: 13px;
  color: #4285ce;
}
.inforData_box_bottom > div span {
  font-family: PingFangSC-Regular;
  font-size: 13px;
  color: #d9716a;
  line-height: 18px;
}
.bottomTxt3 {
  text-align: center;
  color: #000 !important;
}
.remind {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 30px;
}
.remind img {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  margin-top: 5px;
}
.remind > div {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #000000;
  line-height: 24px;
}
.remind > div span {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #d9716a;
  line-height: 20px;
}
.buttonItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
}
.buttonItem .cancel {
  width: 38%;
  background: #c3d4ed;
  border-radius: 3px;
  border-radius: 3px;
  border: none;
  font-family: PingFangTC-Regular;
  font-size: 15px;
  color: #364858;
  letter-spacing: 0.4px;
  text-align: center;
}
.buttonItem .pay {
  width: 60%;
  background: #05a6f1;
  border-radius: 3px;
  border-radius: 3px;
  border: none;
  font-family: PingFangTC-Regular;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0.4px;
  text-align: center;
}
.notice {
  border-top: 1px solid #d1d6dd;
  padding-top: 30px;
  padding-bottom: 30px;
}
.notice .title {
  padding-left: 20px;
  font-family: PingFangTC-Regular;
  font-size: 12px;
  color: #05a6f1;
  letter-spacing: 0.8px;
  position: relative;
}
.notice .fz17 {
  font-size: 17px;
}
.notice .title::before {
  content: '';
  display: block;
  width: 8px;
  height: 20px;
  background-color: #05a6f1;
  position: absolute;
  left: 0px;
}
.notice ul li {
  font-family: PingFangTC-Regular;
  font-size: 12px;
  color: #72757b;
  letter-spacing: 0.4px;
  line-height: 21px;
  padding-top: 15px;
}
.notice ul li span {
  color: #e28983;
}
.notice .notice_txt {
  width: 100%;
  margin-top: 20px;
}
.notice .notice_txt {
  display: flex;
  justify-content: center;
 align-items: center;
  font-size: 12px;
  color: #72757b;
}
.notice .notice_txt input[type='checkbox'] {
  display: none;
}
.notice .notice_txt label {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-bottom: 2px;
  position: relative;
  border: 1px solid #D1D6DD;
  /* background: #05a6f1; */
  border-radius: 50%;
}
.notice .notice_txt input[type='checkbox']:checked + label{
  background: #05a6f1;
}
.notice .notice_txt input[type='checkbox']:checked + label::after{
  content: '';
  top: 4px;
  left: 3px;
  position: absolute;
  border: #fff solid 2px;
  border-top: none;
  border-right: none;
  height: 4px;
  width: 8px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.prompt_t {
  color: #3ba553;
}

.prompt_t img {
  width: 16px;
  height: auto;
}

.order {
  /* border-top: 1px solid #d1d6dd;
  border-bottom: 1px solid #d1d6dd; */
  padding-top: 30px;
  padding-bottom: 20px;
}
.order .title {
  padding-left: 15px;
  font-family: PingFangTC-Regular;
  font-size: 17px;
  color: #05a6f1;
  letter-spacing: 0.8px;
  position: relative;
  padding-bottom: 5px;
  letter-spacing: 0;
}
.order .gold {
  color: #d8bd0b;
}
.order .title::before {
  content: '';
  display: block;
  width: 8px;
  height: 20px;
  background-color: #05a6f1;
  position: absolute;
  left: 0px;
}
.order ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.order ul li {
  display: flex;
  justify-content: flex-start;
}
.order ul li span {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: PingFangTC-Regular;
  font-size: 16px;
  color: #000000;
  line-height: 39px;
}
.order ul li span:nth-child(2) {
  padding-left: 10px;
}
.order ul li span:nth-child(3) {
  padding-left: 5px;
}

.payer {
  border-top: 1px solid #d1d6dd;
  padding-top: 30px;
  padding-bottom: 30px;
}
.payer .title {
  padding-left: 20px;
  font-family: PingFangTC-Regular;
  font-size: 17px;
  color: #05a6f1;
  letter-spacing: 0.8px;
  position: relative;
  padding-bottom: 30px;
  letter-spacing: 0;
}
.payer .title::before {
  content: '';
  display: block;
  width: 8px;
  height: 20px;
  background-color: #05a6f1;
  position: absolute;
  left: 0px;
}
.payer input {
  width: 100%;
  height: 38px;
  background: #ffffff;
  border: 1px solid #d1d6dd;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
::placeholder {
  color: #c6c6c6;
  padding-left: 15px;
}
.payer .payertxt {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  font-size: 11px;
  color: #72757b;
}
.payer .payertxt i {
  margin-right: 10px;
}
.payer .payer_btn {
  width: 100%;
  height: 38px;
  line-height: 38px;
  border-radius: 4px;
  margin-top: 30px;
  font-size: 15px;
  color: #ffffff;
  background-color: #05a6f1;
  border: none;
}
@media (max-width: 768px) {
  .contain_main {
    height: auto;
    zoom: 0.8;
  }
}

@media (max-width: 600px) {
  .inforData_box {
    padding: 20px 0;
  }

  .inforData_box ul li {
    margin-bottom: 15px;
  }
}

@media (max-width: 420px) {
  .contain_main {
    zoom: 0.8;
  }

  .inforData_tile {
    font-weight: normal;
  }

  .inforData_box {
    font-size: 0.95em;
  }
}

@media (max-width: 400px) {
  .inforData_tile {
    font-weight: normal;
  }

  .inforData_box {
    font-size: 0.9em;
  }
}

@media (max-width: 375px) {
  .inforData_tile {
    font-weight: normal;
  }

  .prompt_t img {
    width: 12px;
  }
}

@media (max-width: 320px) {
  .inforData_tile {
    font-weight: normal;
  }

  .inforData_box ul li {
    margin-bottom: 20px;
  }

  .inforData_box ul li a {
    padding: 6px;
    top: -6px;
  }

  .inforData_box {
    padding: 15px 0;
  }
}

@media (max-width: 800px) and (min-width: 415px) {
  .contain_main {
    zoom: 0.8;
  }
}
