
  <div class="audience">
      <div class="topItem">
        <ul class="red font18">
          <li>■開獎日期:毎週一到週六</li>
          <li>■開獎時間:晚間08:30~9:00</li>
          <li>■開獎節目:東森財經新聞台-57彩券王</li>
        </ul>
      </div>
      <div class="blue ptop">
        <p>
          公益彩券開獎毎天需要有五位幸運觀眾當見證人。只要是中華民國國民且年滿18歲，即可報名。
        </p>
        <p>
          報名成功的幸運觀眾，請於擔任見證人的錄影當天務必攜帶身分證以備查驗，當日並可獲得：
        </p>
        <ul class="black">
          <li>1. 車馬費300元</li>
          <li>2. 便當一個</li>
        </ul>
      </div>

      <div class="purple">
        ■報名方式:採電話或線上報名，每人每月至多報名1次；每次報名至少相隔2週。
        -電話報名請撥打（02）2388-5918（每通電話報名人數限2人）
        -線上報名請點擊“線上報名”按紐進入報名系統報名
        <p class="black">（如需取消報名，電話報名者請撥打電話取消，線上報名者可利用電話或線上取消，並請於録影三天前取消。）</p>
      </div>
      <div>
        <h3 class="purple">■報名時間：</h3>
        毎月20日起（遇假日則順延至第一個上班日），週一至週五每天10:00~18:00，開放報名次月份整個月的開獎見證。
        例如:3月20日報名4月1日至30日的開獎見證。
        1. 請留下姓名、電話、身分證字號及欲參加哪一天錄影
      </div>
      <div>
        <h3 class="purple">■錄影注意事項</h3>
        <ul>
          <li>1. 報到時間:18:00，若18:10以前未能報到，視同棄權。</li>
          <li>2. 錄影地點:台北市商港區重陽路72號3樓C棚</li>
          <li>3. 離開時間：開獎完畢即可離開，正常到21:00，若有異常狀況，則須留在現場等待處理，直到開講完畢或開獎結束後才能離開攝影棚。</li>
          <li>4. 觀眾若於錄影當日未攜帶身分證，將取消錄影資格。</li>
          <li>5. 若錄影當日缺席二次以上者，三個月內將無法報名參與錄影。</li>
          <li>6. 製作單位有權拒絕干擾錄影民眾參與57彩券王現場開獎。</li>
          <li>7. 如遇颱風，57彩券王開獎直播錄影皆照常，當日製作單位會再撥電話與報名觀眾聯繫確認出席狀況。
          </div></li>
        </ul>
        
        <div>
          <h3 class="purple">■現場觀眾注意事項</h3>
          現場觀眾見證開獎之責任重大，主要係要透過觀眾親眼見證毎一次公益彩券開獎的過程，包含見證開獎前置作業舆正式開獎時獎號開出。
          請務必配合下列事項，如違反相關配合事項者，開獎轉播單位有權要求該違反之觀眾離席，並有權不再受理該觀眾日後報名參加擔任見證觀眾：
          <ul>
            <li> 1. 請注意服裝儀容，並禁止穿著背心、短褲及拖鞋或奇裝異服。進攝影棚錄影時請脫帽及墨鏡。</li>
            <li> 2. 前置作業以及正式開獎過程中手機請全程關機或靜音。</li>
            <li> 3. 前置作業以及正式開獎過程中禁止交談，且切勿有打瞌睡或注意力不集中（包括滑手機、左顧右盼及任意走動等）或其他影響或擾亂現埸錄影之情事，如有違反，工作人員除得請求違反者立即離席外，並得永久取消違反者之報名資格。</li>
            <li> 4. 等待録影時請待在休息室內，勿打擾其他棚錄影，或擅自離開攝影棚，若經勸導無效，將取消往後報名資格。</li>
          </ul>
        </div>
        
        
        
        
        
  </div>
  
