<div class="w800 howPlayItem">

  <ul class="typeMenu" id="typeMenu">
    <li><a id="bigLottery" href="javascript:;">大樂透</a></li>
    <li><a id="powerLottery" href="javascript:;">威力彩</a></li>
    <li><a id="jincai" href="javascript:;">今彩539</a></li>
    <li><a id="winwin" href="javascript:;">雙贏彩</a></li>
    <li><a id="threeStars" href="javascript:;">3星彩</a></li>
    <li><a id="fourStars" href="javascript:;">4星彩</a></li>
    <li><a id="threeEight" href="javascript:;">38樂合彩</a></li>
    <li><a id="fourNine" href="javascript:;">49樂合彩</a></li>
    <li><a id="threeNine" href="javascript:;">39樂合彩</a></li>
  </ul>

  <div id="mainContent">

  </div>
 
</div>
<script>
  var type = localStorage.getItem('type')
  if(!type){
      localStorage.setItem('type','bigLottery');
      type = localStorage.getItem('type')
  }
  $.ajax({
      url: `./lottery/${type}.html`,
      type: 'GET',
      success: function(res) {
        $('#mainContent').html(res)
      },
      error: function(err) {
        console.log(err)
      }
    });
  $('#typeMenu li a').click(function(){
    let id = $(this).attr("id")
    localStorage.setItem('type',id)
    $.ajax({
      url: `./lottery/${id}.html`,
      type: 'GET',
      success: function(res) {
        $('#mainContent').html(res)
      },
      error: function(err) {
        console.log(err)
      }
    });
  })

</script>