
<div class="w800 numberSearch">
  獎號查詢
  <div>
    其他遊戲查詢
    <select
      name="selectType"
      id="selectType"
      class="txt_01"
    >
      <option value="0">請選擇遊戲</option>
      <option selected="selected" value="2">大樂透</option>
      <option value="1">威力彩</option>
      <option value="5">今彩539</option>
      <option value="12">雙贏彩</option>
      <option value="6">3星彩</option>
      <option value="7">4星彩</option>
      <option value="4">38樂合彩</option>
      <option value="3">49樂合彩</option>
      <option value="10">39樂合彩</option>
    </select>
  </div>
  <div class="dotted05"></div>
  <ul class="txin">
    <li>請選擇欲查詢的期別或開獎日期</li>
    <li>
      <input
        id="history1_radNO"
        type="radio"
        name="history1$chk"
        value="radNO"
        checked="checked"
      />&nbsp;第<input
        name="history1$txtNO"
        type="text"
        maxlength="9"
        id="history1_txtNO"
        class="txt_01"
        style="width: 80px;"
      />
      期的中獎號碼(輸入九碼期別， 例：103000001期)
    </li>
    <li>
      <input
        id="history1_radYM"
        type="radio"
        name="history1$chk"
        value="radYM"
      />中華民國
      <select
        name="history1$dropYear"
        id="history1_dropYear"
        class="aspNetDisabled txt_01"
        disabled="disabled"
      >
        <!-- <option value="103">103</option>
        <option value="104">104</option>
        <option value="105">105</option>
        <option value="106">106</option>
        <option value="107">107</option>
        <option value="108">108</option> -->
        <option selected="selected" value="109">109</option>
      </select>
      &nbsp;年
      <select
        name="history1$dropMonth"
        id="history1_dropMonth"
        class="aspNetDisabled txt_01"
        disabled="disabled"
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      &nbsp;月的中獎號碼<input
        type="submit"
        name="history1$btnSubmit"
        value="查詢"
        id="history1_btnSubmit"
        class="txt_01"
      />&nbsp;<span
        id="history1_Label1"
        style="color: Red; font-size: Small;"
      ></span>
    </li>
  </ul>
  <br />
  <div class="font_red18 tx_md" id="typeTxt">
    大樂透
  </div>

  <div id="historyBox">
  </div>

</div>
<script src="./js/number.js"></script>
