@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g3n17t');
  src:  url('fonts/icomoon.eot?g3n17t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g3n17t') format('truetype'),
    url('fonts/icomoon.woff?g3n17t') format('woff'),
    url('fonts/icomoon.svg?g3n17t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-post-paper:before {
  content: "\e97d";
}
.icon-address-book:before {
  content: "\e97e";
}
.icon-user-circle:before {
  content: "\e97c";
}
.icon-cart-paper:before {
  content: "\e97a";
}
.icon-stamp-paper:before {
  content: "\e97b";
}
.icon-file-download:before {
  content: "\e978";
}
.icon-subsidy:before {
  content: "\e979";
}
.icon-book-read:before {
  content: "\e976";
}
.icon-more:before {
  content: "\e977";
}
.icon-sorting-desc:before {
  content: "\e974";
}
.icon-sorting-asc:before {
  content: "\e975";
}
.icon-language-cn-s:before {
  content: "\e971";
}
.icon-language-en:before {
  content: "\e972";
}
.icon-language-cn:before {
  content: "\e973";
}
.icon-chemistry1:before {
  content: "\e96c";
}
.icon-emergency-response:before {
  content: "\e96d";
}
.icon-outpatient-service:before {
  content: "\e96e";
}
.icon-ic_inpatient:before {
  content: "\e96f";
}
.icon-jen-medication:before {
  content: "\e970";
}
.icon-price-management:before {
  content: "\e964";
}
.icon-date-list:before {
  content: "\e965";
}
.icon-reply:before {
  content: "\e966";
}
.icon-upload-paper:before {
  content: "\e967";
}
.icon-Supplier-management:before {
  content: "\e968";
}
.icon-ico-shortage:before {
  content: "\e969";
}
.icon-transaction:before {
  content: "\e96a";
}
.icon-badkong:before {
  content: "\e96b";
  color: #666;
}
.icon-user_government:before {
  content: "\e95b";
}
.icon-Factory:before {
  content: "\e95c";
}
.icon-chemistry:before {
  content: "\e95d";
}
.icon-map-info:before {
  content: "\e95e";
}
.icon-comparison-analysis:before {
  content: "\e95f";
}
.icon-Data-statistics:before {
  content: "\e960";
}
.icon-earth-lines:before {
  content: "\e961";
}
.icon-Data-analysis:before {
  content: "\e962";
}
.icon-search_list:before {
  content: "\e963";
}
.icon-qr-code:before {
  content: "\e959";
}
.icon-car-2:before {
  content: "\e95a";
}
.icon-driver:before {
  content: "\e958";
}
.icon-user-add:before {
  content: "\e957";
}
.icon-focus:before {
  content: "\e956";
}
.icon-hide:before {
  content: "\e955";
}
.icon-login:before {
  content: "\e954";
}
.icon-instock:before {
  content: "\e952";
}
.icon-buy:before {
  content: "\e953";
}
.icon-stationery:before {
  content: "\e951";
}
.icon-RFQ:before {
  content: "\e950";
}
.icon-manual:before {
  content: "\e94e";
}
.icon-manual-download:before {
  content: "\e94f";
}
.icon-Order-management:before {
  content: "\e94d";
}
.icon-Shipping:before {
  content: "\e94b";
}
.icon-Delivery:before {
  content: "\e94c";
}
.icon-insurance-2:before {
  content: "\e949";
}
.icon-umbrella:before {
  content: "\e94a";
}
.icon-money-list:before {
  content: "\e947";
}
.icon-save:before {
  content: "\e948";
}
.icon-stamp:before {
  content: "\e946";
}
.icon-speaker:before {
  content: "\e945";
}
.icon-key:before {
  content: "\e944";
}
.icon-bar-chart:before {
  content: "\e943";
}
.icon-time:before {
  content: "\e942";
}
.icon-copy:before {
  content: "\e941";
}
.icon-star-solid:before {
  content: "\e940";
}
.icon-double-arrow-up:before {
  content: "\e93c";
}
.icon-double-arrow-down:before {
  content: "\e93d";
}
.icon-double-arrow-left:before {
  content: "\e93e";
}
.icon-double-arrow-right:before {
  content: "\e93f";
}
.icon-aims:before {
  content: "\e93b";
}
.icon-mail:before {
  content: "\e93a";
}
.icon-forbid:before {
  content: "\e939";
}
.icon-sort:before {
  content: "\e938";
}
.icon-minus:before {
  content: "\e932";
}
.icon-plus:before {
  content: "\e937";
}
.icon-share:before {
  content: "\e92d";
}
.icon-twiter:before {
  content: "\e931";
  color: #2fb0ec;
}
.icon-google:before {
  content: "\e933";
  color: #dd5044;
}
.icon-Facebook:before {
  content: "\e934";
  color: #3c5a99;
}
.icon-line:before {
  content: "\e935";
  color: #00c300;
}
.icon-WeChat:before {
  content: "\e936";
  color: #71bc62;
}
.icon-eye-2:before {
  content: "\e92e";
}
.icon-first-page:before {
  content: "\e92f";
}
.icon-last-page:before {
  content: "\e930";
}
.icon-heart-o:before {
  content: "\e92c";
}
.icon-fly2:before {
  content: "\e91d";
}
.icon-container:before {
  content: "\e91e";
}
.icon-e:before {
  content: "\e91f";
}
.icon-exchange-rate:before {
  content: "\e920";
}
.icon-fly:before {
  content: "\e921";
}
.icon-honeycomb:before {
  content: "\e922";
}
.icon-medcine:before {
  content: "\e923";
}
.icon-money:before {
  content: "\e924";
}
.icon-port:before {
  content: "\e925";
}
.icon-ship:before {
  content: "\e926";
}
.icon-ship-tax:before {
  content: "\e927";
}
.icon-tax:before {
  content: "\e928";
}
.icon-ttax:before {
  content: "\e929";
}
.icon-Vendor:before {
  content: "\e92a";
}
.icon-bill:before {
  content: "\e92b";
}
.icon-talk4:before {
  content: "\e91b";
}
.icon-news:before {
  content: "\e91c";
}
.icon-Search:before {
  content: "\e91a";
}
.icon-tradeVan:before {
  content: "\e915";
}
.icon-face-book:before {
  content: "\e917";
}
.icon-language:before {
  content: "\e916";
}
.icon-epaper:before {
  content: "\e918";
}
.icon-hunter:before {
  content: "\e919";
}
.icon-honor:before {
  content: "\e90f";
}
.icon-all:before {
  content: "\e910";
}
.icon-service3:before {
  content: "\e911";
}
.icon-people:before {
  content: "\e912";
}
.icon-friend_light:before {
  content: "\e913";
}
.icon-invest:before {
  content: "\e914";
}
.icon-logout:before {
  content: "\e90a";
}
.icon-Write2:before {
  content: "\e90b";
}
.icon-Write:before {
  content: "\e90c";
}
.icon-register:before {
  content: "\e90d";
}
.icon-sitemap:before {
  content: "\e90e";
}
.icon-paper-plan:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e904";
}
.icon-circle:before {
  content: "\e905";
}
.icon-circle-line:before {
  content: "\e906";
}
.icon-clipboard:before {
  content: "\e907";
}
.icon-edit:before {
  content: "\e908";
}
.icon-logo:before {
  content: "\e903";
}
.icon-ic-card:before {
  content: "\e900";
}
.icon-LINE-outline:before {
  content: "\e901";
}
.icon-pass-card:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e800";
}
.icon-apartment:before {
  content: "\e801";
}
.icon-pencil:before {
  content: "\e802";
}
.icon-magic-wand:before {
  content: "\e803";
}
.icon-drop:before {
  content: "\e804";
}
.icon-poop:before {
  content: "\e806";
}
.icon-sun:before {
  content: "\e807";
}
.icon-moon:before {
  content: "\e808";
}
.icon-cloud-upload:before {
  content: "\e80a";
}
.icon-cloud-download:before {
  content: "\e80b";
}
.icon-database:before {
  content: "\e80e";
}
.icon-lock:before {
  content: "\e80f";
}
.icon-cog:before {
  content: "\e810";
}
.icon-trash:before {
  content: "\e811";
}
.icon-dice:before {
  content: "\e812";
}
.icon-heart:before {
  content: "\e813";
}
.icon-star:before {
  content: "\e814";
}
.icon-star-half:before {
  content: "\e815";
}
.icon-star-empty:before {
  content: "\e816";
}
.icon-flag:before {
  content: "\e817";
}
.icon-envelope:before {
  content: "\e818";
}
.icon-paperclip:before {
  content: "\e819";
}
.icon-inbox:before {
  content: "\e81a";
}
.icon-printer:before {
  content: "\e81c";
}
.icon-file-empty:before {
  content: "\e81d";
}
.icon-file-add:before {
  content: "\e81e";
}
.icon-enter:before {
  content: "\e81f";
}
.icon-exit:before {
  content: "\e820";
}
.icon-graduation-hat:before {
  content: "\e821";
}
.icon-license:before {
  content: "\e822";
}
.icon-music-note:before {
  content: "\e823";
}
.icon-film-play:before {
  content: "\e824";
}
.icon-camera-video:before {
  content: "\e825";
}
.icon-camera:before {
  content: "\e826";
}
.icon-picture:before {
  content: "\e827";
}
.icon-book:before {
  content: "\e828";
}
.icon-bookmark:before {
  content: "\e829";
}
.icon-user:before {
  content: "\e82a";
}
.icon-users:before {
  content: "\e82b";
}
.icon-shirt:before {
  content: "\e82c";
}
.icon-store:before {
  content: "\e82d";
}
.icon-cart:before {
  content: "\e82e";
}
.icon-tag:before {
  content: "\e82f";
}
.icon-phone-handset:before {
  content: "\e830";
}
.icon-phone:before {
  content: "\e831";
}
.icon-pushpin:before {
  content: "\e832";
}
.icon-map-marker:before {
  content: "\e833";
}
.icon-map:before {
  content: "\e834";
}
.icon-location:before {
  content: "\e835";
}
.icon-calendar-full:before {
  content: "\e836";
}
.icon-keyboard:before {
  content: "\e837";
}
.icon-spell-check:before {
  content: "\e838";
}
.icon-screen:before {
  content: "\e839";
}
.icon-smartphone:before {
  content: "\e83a";
}
.icon-tablet:before {
  content: "\e83b";
}
.icon-laptop:before {
  content: "\e83c";
}
.icon-laptop-phone:before {
  content: "\e83d";
}
.icon-power-switch:before {
  content: "\e83e";
}
.icon-bubble:before {
  content: "\e83f";
}
.icon-heart-pulse:before {
  content: "\e840";
}
.icon-construction:before {
  content: "\e841";
}
.icon-pie-chart:before {
  content: "\e842";
}
.icon-chart-bars:before {
  content: "\e843";
}
.icon-gift:before {
  content: "\e844";
}
.icon-diamond:before {
  content: "\e845";
}
.icon-dinner:before {
  content: "\e847";
}
.icon-coffee-cup:before {
  content: "\e848";
}
.icon-leaf:before {
  content: "\e849";
}
.icon-paw:before {
  content: "\e84a";
}
.icon-rocket:before {
  content: "\e84b";
}
.icon-briefcase:before {
  content: "\e84c";
}
.icon-bus:before {
  content: "\e84d";
}
.icon-car:before {
  content: "\e84e";
}
.icon-train:before {
  content: "\e84f";
}
.icon-bicycle:before {
  content: "\e850";
}
.icon-wheelchair:before {
  content: "\e851";
}
.icon-select:before {
  content: "\e852";
}
.icon-earth:before {
  content: "\e853";
}
.icon-smile:before {
  content: "\e854";
}
.icon-sad:before {
  content: "\e855";
}
.icon-neutral:before {
  content: "\e856";
}
.icon-mustache:before {
  content: "\e857";
}
.icon-alarm:before {
  content: "\e858";
}
.icon-volume-high:before {
  content: "\e85a";
}
.icon-volume-medium:before {
  content: "\e85b";
}
.icon-volume-low:before {
  content: "\e85c";
}
.icon-volume:before {
  content: "\e85d";
}
.icon-mic:before {
  content: "\e85e";
}
.icon-hourglass:before {
  content: "\e85f";
}
.icon-undo:before {
  content: "\e860";
}
.icon-redo:before {
  content: "\e861";
}
.icon-sync:before {
  content: "\e862";
}
.icon-history:before {
  content: "\e863";
}
.icon-clock:before {
  content: "\e864";
}
.icon-download:before {
  content: "\e865";
}
.icon-upload:before {
  content: "\e866";
}
.icon-enter-down:before {
  content: "\e867";
}
.icon-exit-up:before {
  content: "\e868";
}
.icon-bug:before {
  content: "\e869";
}
.icon-code:before {
  content: "\e86a";
}
.icon-link:before {
  content: "\e86b";
}
.icon-unlink:before {
  content: "\e86c";
}
.icon-thumbs-up:before {
  content: "\e86d";
}
.icon-thumbs-down:before {
  content: "\e86e";
}
.icon-magnifier:before {
  content: "\e86f";
}
.icon-cross:before {
  content: "\e870";
}
.icon-menu:before {
  content: "\e871";
}
.icon-list:before {
  content: "\e872";
}
.icon-chevron-up:before {
  content: "\e873";
}
.icon-chevron-down:before {
  content: "\e874";
}
.icon-chevron-left:before {
  content: "\e875";
}
.icon-chevron-right:before {
  content: "\e876";
}
.icon-arrow-up:before {
  content: "\e877";
}
.icon-arrow-down:before {
  content: "\e878";
}
.icon-arrow-left:before {
  content: "\e879";
}
.icon-arrow-right:before {
  content: "\e87a";
}
.icon-move:before {
  content: "\e87b";
}
.icon-warning:before {
  content: "\e87c";
}
.icon-question-circle:before {
  content: "\e87d";
}
.icon-checkmark-circle:before {
  content: "\e87f";
}
.icon-cross-circle:before {
  content: "\e880";
}
.icon-plus-circle:before {
  content: "\e881";
}
.icon-circle-minus:before {
  content: "\e882";
}
.icon-arrow-up-circle:before {
  content: "\e883";
}
.icon-arrow-down-circle:before {
  content: "\e884";
}
.icon-arrow-left-circle:before {
  content: "\e885";
}
.icon-arrow-right-circle:before {
  content: "\e886";
}
.icon-chevron-up-circle:before {
  content: "\e887";
}
.icon-chevron-down-circle:before {
  content: "\e888";
}
.icon-chevron-left-circle:before {
  content: "\e889";
}
.icon-chevron-right-circle:before {
  content: "\e88a";
}
.icon-frame-expand:before {
  content: "\e88c";
}
.icon-frame-contract:before {
  content: "\e88d";
}
.icon-layers:before {
  content: "\e88e";
}
.icon-funnel:before {
  content: "\e88f";
}
.icon-hand:before {
  content: "\e8a5";
}
.icon-pointer-up:before {
  content: "\e8a6";
}
.icon-pointer-right:before {
  content: "\e8a7";
}
.icon-pointer-down:before {
  content: "\e8a8";
}
.icon-pointer-left:before {
  content: "\e8a9";
}
