* {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
  font-size: 12px;
  -webkit-text-size-adjust: none;
}
ul {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 1px;
}
#btnTrans {
  background: url(../images/A25_w120.gif);
  width: 120px;
}
input[type='checkbox'] {
  width: 13px;
  height: 13px;
}
.calendar table {
  border-collapse: collapse;
}
td,
th {
  word-break: keep-all;
  white-space: nowrap;
}
.hidden {
  display: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: #004833;
}
a:hover {
  text-decoration: underline;
}
input {
  vertical-align: middle;
}
input.err,
select.err,
textarea.err {
  background-color: #efe4af !important;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
textarea {
  margin: 3px 0 !important;
  width: 400px;
  height: 100px !important;
}
div.clear {
  clear: both;
}
input[type='button'],
input[type='submit'] {
  border: 0;
}
.btn_com {
  background: url(../images/A25.gif);
  width: 72px;
  height: 21px;
  color: #004984;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
}
.btn_com_l {
  background: url(../images/A25_long.gif);
  width: 83px;
  height: 21px;
  color: #004984;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
}
.btn_com_s {
  background: url(../images/A25_short.gif);
  width: 27px;
  height: 21px;
  color: #004984;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
}
.btn_calendar {
  background: url(../images/A21.png);
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.txt_com,
input[type='text'],
input[type='password'] {
  background: #f7f7f7;
  border: solid 1px #e5e6e7;
  border-top-color: #afafaf;
  height: 18px;
  line-height: 18px;
  margin: 0;
}
.txt_calendar {
  width: 80px;
  text-align: center;
  cursor: default;
  background: #ffe8ca;
}
.txt_calendar2 {
  width: 80px;
  text-align: center;
  cursor: default;
  background: #ffe8ca;
}
.white {
  color: white;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.r_blue {
  color: #00f;
}
.r_red {
  color: #eb0000;
}
.r_green {
  color: #1abd00;
}
.left {
  text-align: left !important;
}
.right {
  text-align: right !important;
}
.center {
  text-align: center !important;
}
td,
th {
  text-align: center;
}
span.required {
  color: red;
  padding-left: 5px;
}
.JQ_PL_LOADING_BG {
  background: black;
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  display: block;
  cursor: auto;
  filter: alpha(opacity=50);
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
  opacity: 0.2;
  margin: 0;
  padding: 0;
}
.JQ_PL_LOADING_IMG {
  background: url(../images/waiting.gif) no-repeat center 40%;
  position: absolute;
  z-index: 60;
  left: 0;
  top: 0;
  display: block;
  cursor: auto;
  margin: 0;
  padding: 0;
}
.box {
  background: #d9dde0;
}
.box .title {
  height: 25px;
  background: url(../images/A19.gif);
}
.box .title div {
  height: 25px;
}
.box .title .lt {
  width: 5px;
  float: left;
  /* background: url(../images/A18.gif); */
}
.box .title .md {
  float: left;
  color: White;
  font-weight: bold;
  line-height: 25px;
  font-size: 11px;
  padding-left: 5px;
}
.box .title .gt {
  width: 5px;
  float: right;
  /* background: url(../images/A20.gif); */
}
.box .body {
  border: solid 1px #4c4c4c;
}
.box div.context {
  margin: 5px;
}
.box .btns {
  background: #b1b1b1;
  margin: 0 5px 5px 5px;
  padding: 5px;
  text-align: left;
}

.box div.context {
  margin: 0;
}
.divBox {
  width: 300px !important;
  margin-left: -150px !important;
}
.divBox .body .context {
  text-align: left;
  height: 230px;
  overflow: auto;
}
.box div.context {
  margin: 0;
}
.top_text {
  float: left;
  margin-left: 10px;
  padding-top: 10px;
}
.top_text * {
  font-size: 11px;
}
.top_text table th {
  text-align: left;
  height: 18px;
  padding-left: 10px;
}
.top_text table td {
  padding-left: 20px;
  text-align: left;
  padding-right: 10px;
}
.top_text table {
  border-collapse: collapse;
  margin-bottom: 5px;
}
.disabled {
  background-color: #949494 !important;
}
.light_blue {
  background-color: #d9dee9 !important;
}
#description td,
#description th {
  background: white;
  height: 20px;
  line-height: 20px;
}
span.sta_S {
  color: #00de00;
  background: white url(../images/A11_green.gif) no-repeat right;
  padding-right: 16px;
}
span.sta_T,
span.sta_R,
span.sta_F {
  color: #ff292a;
  background: white url(../images/A11_red.gif) no-repeat right;
  padding-right: 16px;
}
.timeleft {
  color: blue;
}
.tbCon {
  clear: both;
  float: left;
  margin-top: 5px;
  min-width: 880px;
  border: solid 1px #4c4c4c;
  margin-left: 10px;
  margin-bottom: 25px;
}
.tbCon > thead tr,
.tbCon > tfoot tr {
  height: 30px;
  background: url(../images/A35_2.gif);
}
.tbCon > thead th {
  text-align: left;
  color: #ffd100;
  padding-left: 10px;
  vertical-align: middle;
}
.tbCon > thead tr.pltype {
  height: 26px;
  background: url(../images/A32_orange.gif) repeat-x scroll 0 0 transparent;
}
.tbCon > thead tr.pltype th {
  color: #fff;
  text-align: center;
}
.tbCon > tbody td {
  padding: 2px;
}
.tbCon .col1 {
  width: 700px;
}
input[type='button'] {
  cursor: pointer;
}
.btn {
  color: #004883;
  font-weight: bold;
  width: 72px;
  height: 21px;
  background: url(../images/A25.gif) no-repeat;
}
.bet {
  width: 100%;
}
.bet th,
.bet td {
  border: solid 1px #bbb;
}
.bet thead tr.title th {
  height: 66px;
  color: #fff;
  background: url(../images/A36_2.gif);
}
.bet thead tr.title th.r1 {
  height: 20px;
}
.bet thead tr.title th.r2 {
  height: 46px;
}
.bet tbody tr td {
  background-color: #fff;
}
.bet tbody tr.tr_lt td {
  background-color: #f0f0f0;
}
.bet tbody tr.hover td {
  background-color: #efe4af !important;
}
.bet input[type='text'] {
  width: 60px;
}
.bet .ok {
  background: url(../images/A25_short.gif);
  width: 27px;
  height: 21px;
  margin-top: 2px;
}
.bet tfoot tr {
  background-color: #d9dee9;
}
.bet tbody td.item {
  text-align: left;
  padding-left: 5px;
}
#betform2 {
  margin-top: 2px;
}
#tbBet2D thead tr th {
  height: 25px;
}

.box .title {
  height: 25px;
  background: url(../images/A36_2.gif);
}
.box .title .gt {
  width: 5px;
  float: right;
  /* background: url(../images/A36_2.gif); */
}
.box .title .lt {
  width: 5px;
  float: left;
  /* background: url(../images/A36_2.gif); */
}
.tbCon > thead tr {
  height: 30px;
  background: url(../images/A36_3.gif);
}
.tbCon > tfoot tr {
  background: #b1b1b1;
}
.bet thead tr.title th {
  height: 66px;
  color: #fff;
  background: url(../images/A37_2.gif);
}
.tbCon > thead tr.pltype {
  height: 26px;
  background: url(../images/A30.gif) repeat-x scroll 0 0 transparent;
}
.btn {
  color: #000;
}
.bet tbody tr .c,
.bet tbody tr.tr_lt .c {
  background: #e9dbd9;
}
.tbCon > thead tr.pltype {
  height: 26px;
  background: url(../images/A36_2.gif) repeat-x scroll 0 0 transparent;
}
.box .title .md {
  float: left;
  color: #ffd100;
  font-weight: bold;
  line-height: 25px;
  font-size: 11px;
  padding-left: 5px;
}
