*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Tahoma;
    font-size: 12px;
}
a{
    text-decoration: none;
}
body {
    background: #e7e7e7;
}
form {
    background: #f4f3ed;
}
table {
    border-collapse: collapse;
    border-spacing: 1px;
}
input {
    vertical-align: middle;
}
.log {
    height: 300px;
    background: url(../images/A71.png) no-repeat center;
}
.content {
    height: 214px;
    background: #2c2412;
    padding-top: 20px;
    .left {
        background: url(../images/A73.gif) no-repeat;
        width: 120px;
        height: 60px;
        float: left;
        margin-top: 21px;
    }
}
.login {
    height: 340px;
    width: 479px;
    margin: 0 auto;
    .md{
        width: 233px;
        float: left;
    }
    .middle {
        height: 160px;
        background: #2c2412;
        padding-top: 30px;
    }
    table {
        margin: 0 auto;
        th {
            text-align: left;
            font-size: 12px;
            font-weight: normal;
            padding: 0 20px 0 10px;
            background: url(../images/A76.gif) no-repeat right;
            height: 26px;
            color: #fff;
        }
        td {
            text-align: left;
            padding-left: 10px;
        }
        .tdBtn {
            text-align: center;
            padding-top: 10px;
            padding-left: 10px;
        }
    }
}
.left {
    text-align: left!important;
}
.txt_com, input[type="text"], input[type="password"] {
    background: #f7f7f7;
    border: solid 1px #e5e6e7;
    border-top-color: #afafaf;
    height: 18px;
    line-height: 18px;
    margin: 0;
}
#randomCode {
    width: 50px;
    float: left;
}
#randomSpan {
    background: url(../images/;jsessionid=abcwRTonNu6Ri-N14JuRw.jpg) no-repeat center;
    width: 80px;
    height: 22px;
    vertical-align: middle;
    display: block;
    float: left;
    margin-left: 5px;
    cursor: pointer;
}
#submitBtn {
    background: url(../images/A74.png) no-repeat;
    width: 119px;
    height: 43px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 63px;
    font-size: 18px;
    color: #2c2412;
}
input[type="button"], input[type="submit"] {
    border: 0;
}
.foot {
    margin: 10px auto;
    width: 458px;
    .tp {
        div {
            width: 16px;
            height: 18px;
            float: right;
            cursor: pointer;
            margin-right: 5px;
        }
        .d1 {
            width: 265px;
            background: url(../images/A86.gif);
            margin-right: 0;
        }
        .d3 {
            background: url(../images/A11_sfr.png) no-repeat 0 50%;
        }
        .d4 {
            background: url(../images/A11_chr.png) no-repeat 0 50%;
        }
        .d5 {
            background: url(../images/A11_ff.png) no-repeat 0 50%;
        }
        .d6 {
            background: url(../images/A11_ie.png) no-repeat 0 50%;
        }
    }
     .bm {
        font-size: 10px;
        color: #4d4d4d;
        text-align: center;
        clear: both;
        padding-top: 10px;
    }
}