* {
  // margin: 0;
  // padding: 0;
  font-family: Tahoma;
  font-size: 12px;
}

* a {
  text-decoration: none;
}

* ul,
* ol {
  list-style: none;
}

body {
  background: #ccc;
}

.top_text {
  float: left
}

.top_text * {
  font-size: 11px
}

.top_text table th {
  text-align: left;
  height: 18px
}

.top_text table td {
  padding-left: 20px;
  text-align: left
}

.top_text table td {
  padding-right: 10px
}

.top_text table th {
  padding-left: 10px
}

.top_text table {
  border-collapse: collapse;
  margin-bottom: 5px
}

.box {
  background: #d9dde0;
  .title {
    background: url(../images/A32_2.gif) repeat scroll 0 0 transparent;
    height: 25px;
    padding-left: 5px;
    .md {
      color: #ffd100;
      float: left;
      font-weight: bold;
      line-height: 25px;
      font-size: 11px;
      padding-left: 5px;
    }
  }
  .context {
    margin: 0
  }
  .body{
    border: 1px solid #4c4c4c;
    #description td,#description th {
      background: white;
      height: 20px;
      line-height: 20px
    }
    .timetle{
      position: relative;
      top: 3px;
    }
    .timeL{
      position: relative;
      top: 3px;
    }
    .timeleft {
      color: blue;
    }
    span.sta_S {
      color: #00de00;
      background: white url(../images/A11_green.gif) no-repeat right;
      padding-right: 16px
    }
    
    span.sta_T,span.sta_R,span.sta_F {
      color: #ff292a;
      background: white url(../images/A11_red.gif) no-repeat right;
      padding-right: 16px
    }
  }
}

.bet {
  margin-top: 5px;
  float: left;
  clear: both;
  .btns{
    text-align: left;
    background: #b1b1b1;
    padding: 5px 0 5px 10px;
    margin-top: 5px;
    .dleft {
      float: left;
    }
    span{
      vertical-align: middle;
      font-size: 11px;
    }
  }
  input[type="button"], input[type="submit"] {
    border: 0;
  }
  .btn_com{
    background: url(../images/A25.gif);
    width: 72px;
    height: 21px;
    color: #000;
    font-weight: bold;
    font-size: 11px;
    cursor: pointer;
  }
  table.bet{
    width: 930px;
  }
  table.bet, table.bet td, table.bet th {
    border: solid 1px #BBB;
  }
  table {
    border-collapse: collapse;
    border-spacing: 1px;
    .m_title{
      th{
        height: 19px;
        background: url(../images/A32.gif);
        color: #ffd100;
        font-size: 14px;
      }
      th.company {
        font-size: 11px;
        color: #ffd100;
      }
    }
    .sub_title{
      th{
        height: 39px;
        background: url(../images/A33.gif);
        color: #fff;
        padding: 0 5px;
      }
    }
  }
  table.bet th {
    border: solid 1px #b0b0b0;
  }
  table.bet th {
    border: solid 1px #BBB;
  }
  table.bet td {
    background: #FFF;
  }
  td, th {
    text-align: center;
  }
  td, th {
    word-break: keep-all;
    white-space: nowrap;
  }
  table.bet .colComp{
    width: 222px;
    text-align: left;
    display: block;
    padding: 0px !important;
    span{
      margin-top: 1px;
      display: block;
      float: left;
      margin-left: 2px;
      width: 40px;
    }
  }
  input {
    vertical-align: middle;
  }
  table.bet thead th label {
    font-size: 11px;
  }
  .center {
    text-align: center!important;
  }
  .right {
    text-align: right!important;
  }
  table.bet tbody td {
    height: 40px;
    padding: 0 3px;
  }
  .pink {
    background: #ffdede !important;
  }
  .white {
    width: 222px;
  }
  .blue {
    background: #d9dee9 !important;
    color: #000!important;
  }
  table.bet input[type="text"] {
    width: 80px;
  }
  input[type="text"], input[type="password"] {
    background: #f7f7f7;
    border: solid 1px #e5e6e7;
    border-top-color: #afafaf;
    height: 18px;
    line-height: 18px;
    margin: 0;
  }
  table.bet tr.tr_lt td {
    background: #f0f0f0;
  }
  table.bet .th_total {
    width: 78px;
  }
  table.bet.on tbody tr:hover td {
    background: #efe4af !important;
  }

  .btns b.t {
    color: black;
  }
  .btns b {
    font-size: 11px;
    color: #b93000;
  }
  div[data-Parlay="Parlay_place"] input:nth-last-of-type(1){
    margin-left: 5px;
  }
  div[data-Parlay="Parlay_place2"] input:nth-last-of-type(1){
    margin-left: 5px;
  }
  #span_lmt_4D, #span_lmt_5D, #span_lmt_2D, #span_lmt_3D {
    display: none;
  }
  .span_unit {
    float: right;
    margin: 3px 10px 0 0;
    font-weight: bold;
  }
  .clear {
    clear: both;
  }
  #inputTool {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    width: 108px;
    background: #efe4af;
    height: 92px;
    padding: 1px;
    input {
      background: url(../images/A26.gif);
      float: left;
      margin: 1px;
      width: 52px;
      height: 21px;
      color: #002340;
      font-weight: bold;
      font-size: 11px;
    }
  }
  .btns2{
    margin-top: 495px;
  }
}

.clear{
  clear: both;
}
.divBox {
  z-index: 101;
  width: 500px;
  font-size: 11px;
  display: none;
  left: 50%;
  top: 150px;
  margin-left: -250px;
  position: absolute;
}
.divBox {
  width: 300px!important;
  margin-left: -150px!important;
}