* {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    font-size: 12px;
    text-size-adjust: none
}

* a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

main{
  .main_rules{
    width: 800px;
    min-width: 933px;
    float: left;
    margin: 5px;
    margin-bottom: 25px;
    .box{
      background: #d9dde0;
      .title{
        height: 25px;
        background: url(../images/A36_2.gif); // betting 1
        // background: url(../images/A32_2.gif); // betting 2
        // background: url(../images/A44_h30.gif); // betting 3
        // background: url(../images/A40_2.gif); // betting 4
        .lt{
          background: url(../images/A36_2.gif); // betting 1
          // background: url(../images/A32_2.gif); // betting 2
          // background: url(../images/A44_h30.gif); // betting 3
          // background: url(../images/A40_2.gif); // betting 4
          width: 5px;
          float: left;
        }
        div{
          height: 25px;
        }
        .md{
          float: left;
          color: #ffd100;
          font-weight: bold;
          line-height: 25px;
          font-size: 11px;
          padding-left: 5px;
        }
        .gt{
          width: 5px;
          float: right;
          background: url(../images/A36_2.gif); // betting 1
          // background: url(../images/A32_2.gif); // betting 2
          // background: url(../images/A44_h30.gif); // betting 3
          // background: url(../images/A40_2.gif); // betting 4
        }
      }
      .body{
        border: 1px solid #4c4c4c;
        .context{
          margin: 5px;
          table{
            margin-top: 5px;
            border-collapse: collapse;
            border-spacing: 1px;
          }
          table.special, table.special td, table.special th {
            border: solid 1px #bbb;
          }
          .special{
            width: 100%;
  
          }
          .m_title{
            th{
              background: url(../images/A37_2.gif); // betting 1
              // background: url(../images/A33_2.gif); // betting 2
              // background: url(../images/A45_h70.gif); // betting 3
              // background: url(../images/A27.gif); // betting 4
              color: #fff;
            }
          }
          thead{
            th{
              font-size: 13px;
              height: 20px;
              text-align: center;
              font-weight: bold;
              padding: 0 5px;
            }
          }
          .sub_title{
            th{
              background: #f7f2dc;
              color: #000;
              font-size: 11px;
              font-weight: normal;
            }
          }
          table.special tbody tr:nth-child(2n+1) td {
            background: #f7f7f7;
          }
          table.special tbody td:first-child {
            width: 200px;
          }
          table.special tbody td{
            height: 25px;
            padding: 0 5px;
            text-align: left;
            background: #FFF;
            line-height: 23px;
            padding-left: 10px;
            
          }
          table.special tbody td.td_title {
            font-weight: bold;
            background: #d5d5d5;
            font-size: 11px;
          }
        }
      }
    }
  }
}

