/* body {
  background: #cbcfd2 url(../images/A40.gif) repeat-x;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
  font-size: 12px;
  -webkit-text-size-adjust: none;
} */
ul {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 1px;
}
#btnTrans {
  background: url(../images/A25_w120.gif);
  width: 120px;
}
input[type='checkbox'] {
  width: 13px;
  height: 13px;
}
.calendar table {
  border-collapse: collapse;
}
td,
th {
  word-break: keep-all;
  white-space: nowrap;
}
.hidden {
  display: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: #004833;
}
a:hover {
  text-decoration: underline;
}
input {
  vertical-align: middle;
}
input.err,
select.err,
textarea.err {
  background-color: #efe4af !important;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
textarea {
  margin: 3px 0 !important;
  width: 400px;
  height: 100px !important;
}
div.clear {
  clear: both;
}
input[type='button'],
input[type='submit'] {
  border: 0;
}
.btn_com {
  background: url(../images/A25.gif);
  width: 72px;
  height: 21px;
  color: #004984;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
}
.btn_com_l {
  background: url(../images/A25_long.gif);
  width: 83px;
  height: 21px;
  color: #004984;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
}
.btn_com_s {
  background: url(../images/A25_short.gif);
  width: 27px;
  height: 21px;
  color: #004984;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
}
.btn_calendar {
  background: url(../images/A21.png);
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.res_com {
  float: right;
  margin-top: 3px;
}
.txt_com,
input[type='text'],
input[type='password'] {
  background: #f7f7f7;
  border: solid 1px #e5e6e7;
  border-top-color: #afafaf;
  height: 18px;
  line-height: 18px;
  margin: 0;
  font-size: 12px;
}
.txt_calendar {
  width: 80px;
  text-align: center;
  cursor: default;
  background: #ffe8ca;
}
.txt_calendar2 {
  width: 80px;
  text-align: center;
  cursor: default;
  background: #ffe8ca;
}
.white {
  color: white;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.r_blue {
  color: #00f;
}
.r_red {
  color: #eb0000;
}
.r_green {
  color: #1abd00;
}
.left {
  text-align: left !important;
}
.right {
  text-align: right !important;
}
.center {
  text-align: center !important;
}
td,
th {
  text-align: center;
}
span.required {
  color: red;
  padding-left: 5px;
}
.JQ_PL_LOADING_BG {
  background: black;
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  display: block;
  cursor: auto;
  filter: alpha(opacity=50);
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
  opacity: 0.2;
  margin: 0;
  padding: 0;
}
.JQ_PL_LOADING_IMG {
  background: url(../images/waiting.gif) no-repeat center 40%;
  position: absolute;
  z-index: 60;
  left: 0;
  top: 0;
  display: block;
  cursor: auto;
  margin: 0;
  padding: 0;
}
.box {
  background: #d9dde0;
}
.box .title {
  height: 25px;
  background: url(../images/A19.gif);
}
.box .title div {
  height: 25px;
}
.box .title .lt {
  width: 5px;
  float: left;
  background: url(../images/A18.gif);
}
.box .title .md {
  float: left;
  color: White;
  font-weight: bold;
  line-height: 25px;
  font-size: 11px;
  padding-left: 5px;
}
.box .title .gt {
  width: 5px;
  float: right;
  background: url(../images/A20.gif);
}
.box .body {
  border: solid 1px #4c4c4c;
}
.box div.context {
  margin: 5px;
}
.box .btns {
  background: #b1b1b1;
  margin: 0 5px 5px 5px;
  padding: 5px;
  text-align: left;
}
body {
  white-space: nowrap;
  overflow: hidden;
}
.Result .main {
  width: 1010px;
  float: left;
  overflow: hidden;
}
.Result .menu {
  height: 84px;
  overflow: hidden;
  background: url(../images/A03.gif);
}
.btns #btnHome {
  background: url(../images/A09.png) no-repeat;
  width: 24px;
  height: 24px;
}
.btns .btn3 {
  background: url(../images/A10_red.png) no-repeat;
  width: 74px;
  height: 26px;
  font-size: 11px;
  color: #fff;
  font-weight: bold;
}
.btn2 {
  background: url(../images/A10_red_log.png) no-repeat;
  width: 74px;
  height: 26px;
  font-size: 11px;
  color: #fff;
}
.btns {
  height: 25px;
  padding-top: 0;
  overflow: hidden;
  float: left;
}
.gt {
  overflow: hidden;
}
.marquee {
  width: 515px;
  margin: 0 auto;
  float: left;
  margin-top: 1px;
  margin-left: 5px;
}
.m_menu ul {
  float: left;
}
.mq .md {
  width: 500px;
}
.Result .menu .m_menu {
  padding-top: 5px;
  height: 30px;
  background: #fff;
}
.Result .menu .s_menu {
  height: 25px;
  background-image: url(../images/member/A21.gif);
  float: left;
  margin-left: 5px;
}
.right {
  height: 30px;
  float: none;
}
.show {
  float: left;
}
.Result .menu .s_menu ul {
  float: left;
}
.Result .menu .lt div {
  height: 55px;
}
.marquee .mq div {
  height: 24px;
}
.marquee .md {
  background: #fff;
  border: 1px solid #e0e0e0;
}
#announcement {
  color: #ac8c48;
  font-size: 11px;
  height: 24px;
  line-height: 24px;
  font-weight: bold;
  cursor: default;
}
.lt .left .logo {
  background: url(../images/A01.gif) no-repeat;
  height: 60px;
  width: 140px;
}
.left {
  height: 60px;
  width: 140px;
}
.bottom {
  width: 100%;
  height: 4px;
}
.bo_left {
  float: left;
  width: 100px;
  height: 4px;
  background: url(../images/A22_left.gif);
}
.bo_right {
  height: 4px;
  background: url(../images/A22_right.gif);
}
.menu_right {
  margin-top: 5px;
  background: url(../images/A20.gif) no-repeat;
}
.Result .menu .lt .time {
  background: 0;
}
.Result .menu .s_menu ul li {
  line-height: 25px;
  background: url(../images/A14_devide2.gif) no-repeat right;
  color: #fff;
}
.Result .menu .s_menu .s_menu2 li {
  background: 0;
}
.Result .menu .s_menu ul li.on {
  background: url(../images/A14_over_red.gif);
}
.Result .menu .lt {
  background: #fff;
  width: 450px;
  height: 83px;
  padding-top: 25px;
}
#divInfo {
  width: 160px;
}
#m_betting2,
#m_run_bottom {
  left: 455px;
  top: 59px;
  position: absolute;
  width: 100px;
  background-color: #bf989d;
  font-size: 11px;
  font-weight: bold;
}
#m_betting2 li,
#m_run_bottom li {
  text-align: center;
  min-width: 90px;
  background: url(../images/A15_devide.gif) no-repeat right;
}
#m_betting2 li a,
#m_run_bottom li a {
  color: #fff;
}
.s_menu2 {
  left: 71px;
  position: absolute;
  width: 110px;
  background-color: #417196;
  z-index: 999;
}
.btns select {
  height: 24px;
}
.show li:hover,
.show li:hover span.g,
.show li:hover span.l {
  background: url(../images/A14_over_red.gif);
}

.Result .main {
  width: 1405px;
  float: left;
  margin: 5px;
  position: relative;
}
.main_s {
  min-width: 700px;
  float: left;
  margin: 5px;
}
.main_ss {
  min-width: 500px;
  float: left;
  margin: 5px;
}
.box .control {
  margin: 5px;
}
.dleft {
  float: left;
}
div.report {
  margin-top: 5px;
}
div.report .btns {
  background: #b1b1b1;
  margin: 5px 0 0 0;
  padding: 5px;
  text-align: left;
}
table.report {
  float: left;
  width: 230px;
  margin-left: 5px;

  border-collapse: collapse;
  border: solid 1px #bbb;
}
table.report thead th {
  background: #20344b url(../images/A22.gif) repeat-x;
  height: 20px;
  color: White;
  font-size: 11px;
  padding: 0 5px;
}
table.report thead th * {
  color: White;
  font-size: 11px;
}
table.report thead tr.sub_title3 th {
  background: url(../images/A24.gif);
}
table.report td,
table.report th {
  border: solid 1px #bbb;
  background-color: White;
  padding: 5px 5px;
}
table.report tr.tr_lt td {
  background-color: #ebebeb;
}
table.report td.td_fun,
table.report td.td_fun a {
  color: #004833;
  font-size: 11px;
  text-decoration: none;
}
table.report td.td_fun a {
  font-weight: bold;
}
table.report tr.sum td {
  background: #d8d8d8 !important;
}
table.report tfoot tr.page td {
  background: #b1b1b1;
  text-align: center;
  font-weight: bold;
  padding: 0;
  height: 25px;
  line-height: 25px;
}
table.report tfoot tr.page a {
  color: #004883;
}
table.report tfoot tr.page input {
  width: 24px;
}
table.report tbody tr:hover td {
  background: #efe4af;
}
table.report.no tr:hover td {
  background: white;
}
table.report a {
  font-weight: bold;
}
table.sp_report {
  border-collapse: collapse;
  border: solid 1px #bbb;
}
table.report thead tr.sort_title th {
  background-color: #21619a !important;
  background-image: none;
}
table.report thead tr.sort_title th.sort {
  background-image: url(../images/sorter.gif);
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-right: 20px !important;
}
table.report thead tr.sort_title th.sortAsc {
  background-image: url('../images/asc.gif');
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-right: 20px !important;
}
table.report thead tr.sort_title th.sortDesc {
  background-image: url('../images/desc.gif');
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-right: 20px !important;
}
.tbWarp_title {
  background: url(../images/A24.gif);
  height: 20px;
  font-size: 11px;
  color: white;
  text-align: left;
  font-weight: bold;
  padding-left: 10px;
}
table.context {
  width: 100%;
}
table.context th {
  background: #d9dee9;
  height: 25px;
  width: 130px;
  color: #000;
  font-weight: normal;
  text-align: left;
  padding-left: 5px;
}
table.context thead th {
  background: url(../images/A24.gif);
  height: 20px;
  font-size: 11px;
  color: white;
  text-align: center;
  font-weight: bold;
}
table.context td {
  background: #fff;
  text-align: left;
  padding-left: 5px;
  height: 25px;
}
table.context,
table.context td,
table.context th {
  border: solid 1px #bbb;
}
table.special {
  width: 100%;
}
table.special thead th {
  background: url(../images/A24.gif);
  height: 20px;
  font-size: 11px;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 0 5px;
}
table.special .m_title3 th {
  background: url(../images/A27.gif);
}
table.special .sub_title3 th {
  background: #585858;
}
table.special tbody td {
  background: #fff;
  text-align: center;
  height: 25px;
  padding: 0 5px;
}
table.special tr.tr_lt td {
  background-color: #f0f0f0;
}
table.special.sp1 thead .t_title th {
  background: url(../images/A28.gif);
  color: #002340;
  font-size: 12px;
}
table.special.sp1 thead .m_title3 th {
  background: url(../images/A23.gif);
  color: #fff;
}
table.special,
table.special td,
table.special th {
  border: solid 1px #bbb;
}
.leveline,
.leveline * {
  font-size: 11px;
  color: #0e7dcf;
  padding: 3px 0;
}
.leveline a {
  color: #0e7dcf;
  font-weight: bold;
}
.leveline b {
  color: #b93000;
  text-decoration: underline;
}
a.resetpass {
  background: url(../images/A11_password.png);
  width: 16px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
a.lock {
  background: url(../images/A11_unlock.png);
  width: 16px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
span.inactive,
a.Inactive {
  background: url(../images/A11_inactive.png);
  width: 16px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
span.active,
a.Active {
  background: url(../images/A11_active.png);
  width: 16px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
span.suspend {
  background: url(../images/A11_suspend.png);
  width: 16px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
a.delete {
  background: url(../images/A11_trash.gif);
  width: 16px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
tr.void td {
  text-decoration: line-through;
  color: gray;
}
tr.limit td {
  color: red;
}
td.status {
  text-decoration: none !important;
}
.ref_eat_limit {
  color: #ffb660;
  font-size: 11px;
  font-weight: bold;
}
body {
  background: #ccc;
}
#main .box .title {
  height: 25px;
  background: url(../images/A36_2.gif);
}
.box .title {
  height: 25px;
  background: url(../images/A36_2.gif);
}
.box .title .md {
  color: #ffd100;
}
.box .title .lt {
  background: url(../images/A36_2.gif);
}
.box .title .gt {
  background: url(../images/A36_2.gif);
}
.btn_com {
  color: #000;
}
table.report thead th {
  background: #20344b url(../images/A37.gif) repeat-x;
  color: white;
  font-size: 12px;
  padding: 0 5px;
}
table.special thead th {
  background: url(../images/A36_2.gif);
  font-size: 11px;
  color: #ffd100;
}
table.special .m_title3 th {
  background: url(../images/A37_2.gif);
  color: #fff;
}
table.special .sub_title3 th {
  background: #f7f2dc;
  color: #000;
  font-size: 11px;
  font-weight: normal;
}

table.report {
  float: left;
  width: 230px;
  margin-left: 5px;
}
.box .title {
  width: 1405px;
}
table.report .m_title3 th {
  color: #ffd100;
  text-align: left !important;
}
table.report tbody td {
  width: 100px;
  height: 1em;
  font-size: 12px;
}
.group {
  background: #fffbe4 !important;
  font-weight: bold;
}
.res_com {
  float: right;
  margin-top: 3px;
}
.left {
  text-align: center !important;
}
.index,
.result_lt {
  background: #f0f0f0 !important;
}
.index_lt {
  background: #dfdfdf !important;
}
.result {
  background: #d9dee9 !important;
}
.result,
.result_lt {
  font-weight: bold;
  color: #030;
}
table.report tr.first td {
  border-top: solid 2px #bbb;
}
.dleft {
  float: left;
  font-size: 12px;
}
tr.dotted_bm td {
  border-bottom-style: dotted;
  border-bottom-width: 2px;
}
tr.dotted_tp td {
  border-top-style: dotted;
  border-top-width: 2px;
}
/* .td_loading {
  background-image: url(../images/loading.gif) !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
} */
.td_loading_hf {
  background-position: 90% 50% !important;
}

/* The main calendar widget.  DIV containing a table. */

div.calendar { position: relative; }

.calendar, .calendar table {
  border: 1px solid #206A9B;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #F1F8FC;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
}

/* .calendar .nav {
  background: #007ED1 url(menuarrow2.gif) no-repeat 100% 100%;
} */

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  background: #000;
  color: #fff;
  padding: 2px;
}

.calendar thead tr { /* Row <TR> containing navigation buttons */
  background: #007ED1;
  color: #fff;
}

.calendar thead .daynames { /* Row <TR> containing the day names */
  background: #C7E1F3;
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #206A9B;
  padding: 2px;
  text-align: center;
  color: #000;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #a66;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background-color: #34ABFA;
  color: #000;
  border: 1px solid #016DC5;
  padding: 1px;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  background-color: #006AA9;
  border: 1px solid #008AFF;
  padding: 2px 0px 0px 2px;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  color: #456;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #bbb;
}
.calendar tbody .day.othermonth.oweekend {
  color: #fbb;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: #C7E1F3;
}

.calendar tbody .rowhilite td {
  background: #def;
}

.calendar tbody .rowhilite td.wn {
  background: #F1F8FC;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: #def;
  padding: 1px 3px 1px 1px;
  border: 1px solid #8FC4E8;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  background: #cde;
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected { /* Cell showing today date */
  font-weight: bold;
  border: 1px solid #000;
  padding: 1px 3px 1px 1px;
  background: #fff;
  color: #000;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #a66;
}

.calendar tbody td.today { /* Cell showing selected date */
  font-weight: bold;
  color: #D50000;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
  background: #206A9B;
  color: #fff;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #000;
  color: #fff;
  border-top: 1px solid #206A9B;
  padding: 1px;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #B8DAF0;
  border: 1px solid #178AEB;
  color: #000;
  padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #006AA9;
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #655;
  background: #def;
  color: #000;
  font-size: 90%;
  z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .hilite {
  background: #34ABFA;
  border-top: 1px solid #46a;
  border-bottom: 1px solid #46a;
  font-weight: bold;
}

.calendar .combo .active {
  border-top: 1px solid #46a;
  border-bottom: 1px solid #46a;
  background: #F1F8FC;
  font-weight: bold;
}

.calendar td.time {
  border-top: 1px solid #000;
  padding: 1px 0px;
  text-align: center;
  background-color: #E3F0F9;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: #F1F8FC;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: #267DB7;
  color: #fff;
}

.calendar td.time span.active {
  border-color: red;
  background-color: #000;
  color: #A5FF00;
}

