*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Tahoma;
    font-size: 12px;
}
a{
    text-decoration: none;
}
body {
    background: #f4f3ed;
}
input[type="button"], input[type="submit"] {
    border: 0;
}
.main {
    width: 825px;
    margin: 0 auto;
}
.top {
    height: 60px;
    background: url(../images/A04.gif);
    margin-top: 40px;
    .log{
        background: url(../images/A011.gif) no-repeat;
        width: 140px;
        height: 60px;
    }
}
.box {
    background: #fff;
    .title {
        height: 25px;
        background: url(../images/A27_center.gif);
        .lt {
            width: 5px;
            float: left;
            background: url(../images/A27_left.gif);
        }
        div {
            height: 25px;
        }
        .md {
            float: left;
            color: White;
            font-weight: bold;
            line-height: 25px;
            font-size: 11px;
            padding-left: 5px;
        }
        .gt {
            width: 5px;
            float: right;
            background: url(../images/A27_right.gif);
        }
    }
    .body {
        border: 0;
    }
    .context {
        margin: 5px;
    }

    ul {
        margin: 10px;
        list-style-type: decimal;
        padding-left: 25px;
        li{
            font-size: 11px;
            line-height: 20px;
            list-style: decimal;
        }
    }
    .red {
        color: red;
    }
    .btns {
        background: #b1b1b1;
        margin: 0 5px 5px 5px;
        padding: 5px;
        text-align: center;
    }
    .btn_com {
        background: url(../images/A25.gif);
        width: 72px;
        height: 21px;
        color: #004984;
        font-weight: bold;
        font-size: 11px;
        cursor: pointer;
        color: #000;
        font-weight: bold;
        font-size: 11px;
    }
}