* {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
  font-size: 12px;
  -webkit-text-size-adjust: none;
}
ul {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 1px;
}
#btnTrans {
  background: url(../images/A25_w120.gif);
  width: 120px;
}
input[type='checkbox'] {
  width: 13px;
  height: 13px;
}
.calendar table {
  border-collapse: collapse;
}
td,
th {
  word-break: keep-all;
  white-space: nowrap;
}
.hidden {
  display: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: #004833;
}
a:hover {
  text-decoration: underline;
}
input {
  vertical-align: middle;
}
input.err,
select.err,
textarea.err {
  background-color: #efe4af !important;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
textarea {
  margin: 3px 0 !important;
  width: 400px;
  height: 100px !important;
}
div.clear {
  clear: both;
}
input[type='button'],
input[type='submit'] {
  border: 0;
}
.btn_com {
  background: url(../images/A25.gif);
  width: 72px;
  height: 21px;
  color: #004984;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
}
.btn_com_l {
  background: url(../images/A25_long.gif);
  width: 83px;
  height: 21px;
  color: #004984;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
}
.btn_com_s {
  background: url(../images/A25_short.gif);
  width: 27px;
  height: 21px;
  color: #004984;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
}
.btn_calendar {
  background: url(../images/A21.png);
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.txt_com,
input[type='text'],
input[type='password'] {
  background: #f7f7f7;
  border: solid 1px #e5e6e7;
  border-top-color: #afafaf;
  height: 18px;
  line-height: 18px;
  margin: 0;
}
.txt_calendar {
  width: 80px;
  text-align: center;
  cursor: default;
  background: #ffe8ca;
}
.txt_calendar2 {
  width: 80px;
  text-align: center;
  cursor: default;
  background: #ffe8ca;
}
.white {
  color: white;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.r_blue {
  color: #00f;
}
.r_red {
  color: #eb0000;
}
.r_green {
  color: #1abd00;
}
.left {
  text-align: left !important;
}
.right {
  text-align: right !important;
}
.center {
  text-align: center !important;
}
td,
th {
  text-align: center;
}
span.required {
  color: red;
  padding-left: 5px;
}
.JQ_PL_LOADING_BG {
  background: black;
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  display: block;
  cursor: auto;
  filter: alpha(opacity=50);
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
  opacity: 0.2;
  margin: 0;
  padding: 0;
}
.JQ_PL_LOADING_IMG {
  background: url(../images/waiting.gif) no-repeat center 40%;
  position: absolute;
  z-index: 60;
  left: 0;
  top: 0;
  display: block;
  cursor: auto;
  margin: 0;
  padding: 0;
}
.box {
  background: #d9dde0;
}
.box .title {
  height: 25px;
  background: url(../images/A19.gif);
}
.box .title div {
  height: 25px;
}
.box .title .lt {
  width: 5px;
  float: left;
  background: url(./images/A18.gif);
}
.box .title .md {
  float: left;
  color: White;
  font-weight: bold;
  line-height: 25px;
  font-size: 11px;
  padding-left: 5px;
}
.box .title .gt {
  width: 5px;
  float: right;
  background: url(../images/A20.gif);
}
.box .body {
  border: solid 1px #4c4c4c;
}
.box div.context {
  margin: 5px;
}
.box .btns {
  background: #b1b1b1;
  margin: 0 5px 5px 5px;
  padding: 5px;
  text-align: left;
}
.main {
  width: 905px;
  margin-top: 10px;
}
table.context td {
  font-weight: bold;
}
.crdInfo,
.acctInfo {
  float: left;
  width: 450px;
}
.crdInfo {
  margin-left: 5px;
}
.package {
  margin-top: 5px;
}
table.context thead tr th {
  background: url(../images/A36.gif) repeat scroll 0 0 transparent;
  height: 21px;
  color: #ffd100;
}
table.context td,
table.context th {
  border: solid 1px #b0b0b0;
}
table.context thead tr.sub th {
  background: url(../images/A37.gif) repeat scroll 0 0 transparent;
  height: 22px;
  font-size: 12px;
  color: #fff;
}
.btn_com {
  color: #000;
}
table.special .m_title th {
  background: url(../images/A37.gif);
}
table.special .sub_title th {
  background: #b0b0b0;
}
table.context td {
  font-weight: bold;
  color: #023260;
}
table.context td.blue {
  color: #0082ff;
}
table.context td.red {
  color: red;
}
.main {
  min-width: 933px;
  float: left;
  margin: 5px;
}
.main_s {
  min-width: 700px;
  float: left;
  margin: 5px;
}
.main_ss {
  min-width: 500px;
  float: left;
  margin: 5px;
}
.box .control {
  margin: 5px;
}
div.report {
  margin-top: 5px;
}
div.report .btns {
  background: #b1b1b1;
  margin: 5px 0 0 0;
  padding: 5px;
  text-align: left;
}
table.report {
  border-collapse: collapse;
  border: solid 1px #bbb;
  width: 100%;
}
table.report thead th {
  background: #20344b url(../images/A22.gif) repeat-x;
  height: 20px;
  color: White;
  font-size: 11px;
  padding: 0 5px;
}
table.report thead th * {
  color: White;
  font-size: 11px;
}
table.report thead tr.sub_title th {
  background: url(../images/A24.gif);
}
table.report td,
table.report th {
  border: solid 1px #bbb;
  background-color: White;
  padding: 5px 5px;
}
table.report tr.tr_lt td {
  background-color: #ebebeb;
}
table.report td.td_fun,
table.report td.td_fun a {
  color: #004833;
  font-size: 11px;
  text-decoration: none;
}
table.report td.td_fun a {
  font-weight: bold;
}
table.report tr.sum td {
  background: #d8d8d8 !important;
}
table.report tfoot tr.page td {
  background: #b1b1b1;
  text-align: center;
  font-weight: bold;
  padding: 0;
  height: 25px;
  line-height: 25px;
}
table.report tfoot tr.page a {
  color: #004883;
}
table.report tfoot tr.page input {
  width: 24px;
}
table.report tbody tr:hover td {
  background: #efe4af;
}
table.report.no tr:hover td {
  background: white;
}
table.report a {
  font-weight: bold;
}
table.sp_report {
  border-collapse: collapse;
  border: solid 1px #bbb;
}
table.report thead tr.sort_title th {
  background-color: #21619a !important;
  background-image: none;
}
table.report thead tr.sort_title th.sort {
  background-image: url(../images/sorter.gif);
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-right: 20px !important;
}
table.report thead tr.sort_title th.sortAsc {
  background-image: url('../images/asc.gif');
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-right: 20px !important;
}
table.report thead tr.sort_title th.sortDesc {
  background-image: url('../images/desc.gif');
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-right: 20px !important;
}
.tbWarp_title {
  background: url(../images/A24.gif);
  height: 20px;
  font-size: 11px;
  color: white;
  text-align: left;
  font-weight: bold;
  padding-left: 10px;
}
table.context {
  width: 100%;
}
table.context th {
  background: #d9dee9;
  height: 25px;
  width: 130px;
  color: #000;
  font-weight: normal;
  text-align: left;
  padding-left: 5px;
}
table.context thead th {
  background: url(../images/A24.gif);
  height: 20px; /* font-size:11px; */
  color: white; /* text-align:center; */
  font-weight: bold;
}
table.context td {
  background: #fff;
  text-align: left;
  padding-left: 5px;
  height: 25px;
}
table.context,
table.context td,
table.context th {
  border: solid 1px #bbb;
}
table.special {
  width: 100%;
}
table.special thead th {
  /* background: url(../images/A24.gif); */
  height: 20px;
  font-size: 11px;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 0 5px;
}
table.special .sub_title th {
  background: #585858;
}
table.special tbody td {
  background: #fff;
  text-align: center;
  height: 25px;
  padding: 0 5px;
}
table.special tr.tr_lt td {
  background-color: #f0f0f0;
}
table.special.sp1 thead .t_title th {
  background: url(../images/A28.gif);
  color: #002340;
  font-size: 12px;
}
table.special.sp1 thead .m_title th {
  background: url(../images/A23.gif);
  color: #fff;
}
table.special,
table.special td,
table.special th {
  border: solid 1px #bbb;
}
.leveline,
.leveline * {
  font-size: 11px;
  color: #0e7dcf;
  padding: 3px 0;
}
.leveline a {
  color: #0e7dcf;
  font-weight: bold;
}
.leveline b {
  color: #b93000;
  text-decoration: underline;
}
a.resetpass {
  background: url(../images/A11_password.png);
  width: 16px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
a.lock {
  background: url(../images/A11_unlock.png);
  width: 16px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
span.inactive,
a.Inactive {
  background: url(../images/A11_inactive.png);
  width: 16px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
span.active,
a.Active {
  background: url(../images/A11_active.png);
  width: 16px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
span.suspend {
  background: url(../images/A11_suspend.png);
  width: 16px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
a.delete {
  background: url(../images/A11_trash.gif);
  width: 16px;
  height: 16px;
  display: block;
  margin: 0 auto;
}
tr.void td {
  text-decoration: line-through;
  color: gray;
}
tr.limit td {
  color: red;
}
td.status {
  text-decoration: none !important;
}
.ref_eat_limit {
  color: #ffb660;
  font-size: 11px;
  font-weight: bold;
}
