* {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
  font-size: 12px;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

* a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

main .web_rules {
  width: 1509px;
  min-width: 933px;
  float: left;
  margin: 5px;
  margin-bottom: 25px;
}

main .web_rules .box {
  background: #d9dde0;
}

main .web_rules .box .title {
  height: 25px;
  padding-left: 5px;
  background: url(../images/A36_2.gif);
}

main .web_rules .box .title .lt {
  width: 5px;
  float: left;
  background: url(../images/A36_2.gif);
}

main .web_rules .box .title .md {
  font-size: 11px;
  font-weight: bold;
  padding: 0 5px;
  line-height: 22px;
  color: #ffd100;
}

main .web_rules .box .title .gt {
  background: url(../images/A36_2.gif);
}

main .web_rules .box .body {
  border: 1px solid #4c4c4c;
}

main .web_rules .box .body .context {
  margin: 5px;
}

main .web_rules .box .body .context table.special, main .web_rules .box .body .context table.special td, main .web_rules .box .body .context table.special th {
  border: solid 1px #bbb;
}

main .web_rules .box .body .context table {
  margin-top: 5px;
  border-collapse: collapse;
  border-spacing: 1px;
}

main .web_rules .box .body .context .all {
  width: 1635px !important;
}

main .web_rules .box .body .context .special {
  width: 100%;
}

main .web_rules .box .body .context .special thead th {
  background: url(../images/A36_2.gif);
  font-size: 11px;
  color: #ffd100;
  height: 20px;
  text-align: center;
  font-weight: bold;
  padding: 0 5px;
}

main .web_rules .box .body .context .special thead .sub_title th {
  color: #000;
  font-size: 11px;
  font-weight: normal;
}

main .web_rules .box .body .context .special tbody th {
  background: white;
  padding: 0 5px;
  height: 25px;
}

main .web_rules .box .body .context .special tbody td {
  background: #FFF;
  text-align: center;
  height: 25px;
  padding: 0 5px;
}

main .web_rules .box .body .context .special .left {
  text-align: left;
}

main .web_rules .box .body .context .special .text {
  text-align: left !important;
  font-size: 11px;
  padding: 5px 0 5px 20px !important;
  background: #efe4af !important;
  line-height: 18px;
}

main .web_rules .box .body .context .special .m_title4 th {
  background: url(../images/A37_2.gif);
  color: #fff;
}

main .web_rules .box .body .context .special .sub_title4 th {
  background: #f7f2dc;
  color: #000;
  font-size: 11px;
  font-weight: normal;
}

main .web_rules .box .body .context .special .tr_lt td {
  background-color: #f0f0f0;
}

main .web_rules .box .body .context .special .normal {
  font-weight: normal !important;
}

main .web_rules .box .body .context .special td.pink {
  background: #ffdede !important;
}

main .web_rules .box .body .context .special h6 {
  color: #b93000;
  display: inline;
}

main .web_rules .box .body .context .special tr.bm td, main .web_rules .box .body .context .special tr.bm th {
  font-weight: bold !important;
  background: #d9dee9 !important;
}

main .web_rules .box .body .context .special tr.rmk td, main .web_rules .box .body .context .special tr.rmk th {
  background: #b1b1b1 !important;
}

main .web_rules .box .body .context #tb_bet, main .web_rules .box .body .context #tb_rules, main .web_rules .box .body .context #tb_examples1, main .web_rules .box .body .context #tb_examples2 {
  margin-top: 5px;
}

main .web_rules .box .body .context #tb_rules ul {
  margin: 5px 5px 5px 25px;
}

main .web_rules .box .body .context #tb_rules ul li {
  list-style-type: decimal;
  font-size: 11px;
}

main .web_rules .box .body .context #tb_examples1 tbody td, main .web_rules .box .body .context #tb_examples2 tbody td {
  font-weight: bold;
}

main .web_rules div.clear {
  clear: both;
}
/*# sourceMappingURL=web_rules.css.map */