* {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
  font-size: 12px;
  text-size-adjust: none
}

* a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

main{
  .web_rules{
    width: 1509px;
    min-width: 933px;
    float: left;
    margin: 5px;
    margin-bottom: 25px;
    .box{
      background: #d9dde0;
      .title{
        height: 25px;
        padding-left: 5px;
        background: url(../images/A36_2.gif);  //betting 1
        // background: url(../images/A32_2.gif);  //betting 2
        // background: url(../images/A44_h30.gif);  //betting 3
        // background: url(../images/A40_2.gif);   //betting 4
        .lt{
          width: 5px;
          float: left;
          background: url(../images/A36_2.gif);  //betting 1
          // background: url(../images/A32_2.gif);  //betting 2
          // background: url(../images/A44_h30.gif);  //betting 3
          // background: url(../images/A40_2.gif);   //betting 4
        }
        .md{
          font-size: 11px;
          font-weight: bold;
          padding: 0 5px;
          line-height: 22px;
          color: #ffd100;
        }
        .gt{
          background: url(../images/A36_2.gif); //betting 1
          // background: url(../images/A32_2.gif); //betting 2
          // background: url(../images/A44_h30.gif);  //betting 3
          // background: url(../images/A40_2.gif);   //betting 4
        }
      }
      .body{
        border: 1px solid #4c4c4c;
        .context{
          margin: 5px;
          table.special, table.special td, table.special th {
            border: solid 1px #bbb;
          }
          table{
            margin-top: 5px;
            border-collapse: collapse;
            border-spacing: 1px;
          }
          .all{
            width: 1635px !important;
          }
          .special{
            width: 100%;
            thead{
              th{
                background: url(../images/A36_2.gif); //betting 1
                // background: url(../images/A32_2.gif); //betting 2
                // background: url(../images/A44_h30.gif); //betting 3
                // background: url(../images/A40_2.gif); //betting 4
                font-size: 11px;
                color: #ffd100;
                height: 20px;
                text-align: center;
                font-weight: bold;
                padding: 0 5px;

            } 
            .sub_title th{
              color: #000;
              font-size: 11px;
              font-weight: normal;
            }
            }
            tbody th{
              background: white;
              padding: 0 5px;
              height: 25px;
            }
            tbody td{
              // padding: 0 2px;
              background: #FFF;
              text-align: center;
              height: 25px;
              padding: 0 5px;
            }
            .left{
              text-align: left;
            }
            .text{
              text-align: left !important;
              font-size: 11px;
              padding: 5px 0 5px 20px !important;
              background: #efe4af !important;
              line-height: 18px;
            }
            .m_title4 th{
              background: url(../images/A37_2.gif); // betting 1
              // background: url(../images/A33_2.gif); // betting 2
              // background: url(../images/A45_h70.gif); // betting 3
              // background: url(../images/A27.gif); // betting 4
              color: #fff;
            }
            .sub_title4 th{
              background: #f7f2dc;
              color: #000;
              font-size: 11px;
              font-weight: normal;
            }
            .tr_lt td{
              background-color: #f0f0f0;
            }
            .normal{
              font-weight: normal !important;
            }
            td.pink {
              background: #ffdede !important;
            }
            h6 {
              color: #b93000;
              display: inline;
            }
            
            tr.bm td, tr.bm th {
              font-weight: bold !important;
              background: #d9dee9!important;
            }
            tr.rmk td, tr.rmk th {
              background: #b1b1b1!important;
            }
          }
          #tb_bet, #tb_rules, #tb_examples1, #tb_examples2 {
            margin-top: 5px;
          }
          #tb_rules ul {
            margin: 5px 5px 5px 25px;
            li{
              list-style-type: decimal;
              font-size: 11px;
            }
          }
          #tb_examples1 tbody td, #tb_examples2 tbody td {
            font-weight: bold;
          }
        }
      }
    }
    div.clear {
      clear: both;
    }
  }
}

