* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: Arial;
}

.game {
  width: 50%;
  margin: 0 auto;
  display: block;
  .location {
    display: block;
    overflow: hidden;
    font-weight: bold;
    height: 20px;
    margin-top: 8px ;
    a {
      color: #000000;
      text-decoration: none;
    }
  }
  .lineMargin {
    margin-bottom: 15px;
  }
  .lineX {
    background: url(../images/line.jpg) repeat-x;
    height: 1px;
  }
  .clear {
    clear: both;
  }
  .gamebox{
    border-radius: 6px;
    border:1px solid #d5d5d5 ;
    .game_b{
      display:block;
        overflow: hidden;
        .content {
          margin-left: 15px;
          margin-top: 10px;
          .contentLeft2 {
            width:60%;
            float: left;
            display:block;
            padding: 10px;
            overflow: hidden;
            .game {
              width: 100%;
              .gameTilte {
                border-bottom: #000 solid 2px;
                font-size: 18px;
                font-weight: bold;
                padding-top: 9px;
                margin-bottom: 10px;
              }
              .gameList {
                line-height: 23px;
                p {
                  display: block;
                  margin-block-start: 1em;
                  margin-block-end: 1em;
                  margin-inline-start: 0px;
                  margin-inline-end: 0px;
                }
              }
            }
          }
          .contentRight2 {
            width: 325px;
            float: left;
            display: block;
            overflow: hidden;
            margin-left:15px;
            padding: 10px;
            .gameAd {
              margin-top: 14px;
              a {
                color: #000000;
                text-decoration: none;
                img {
                  border: 0px;
                  vertical-align: middle;
                }
              }
            }
          }
        }
    }
    }
  }
  @media (max-width: 1200px) {
    .game {
      width: 69%;
    }
  }
  @media (max-width: 1070px) {
    .game {
      width: 80%;
    }
  }
  @media (max-width: 1024px){
  .game {
    width: 90%;
    margin: 0 auto;
    display: block;
    .location {
      display: block;
      overflow: hidden;
      font-weight: bold;
      margin-top:8px;
    }
    .gamebox{
          .contentLeft2 {
            margin-right: 15px;
            width:auto !important;
            padding-bottom: 0 !important;
          }
          .contentRight2 {
              img{
                width: auto;
                height: 180px;
              }
            }
          }
        }
      }