* a {
  text-decoration: none;
}

* ul,
* ol {
  list-style: none;
}

body, ul, li, a, div, font {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-family: Arial;
}

@media (max-width: 414px) {
  body {
    background: unset !important;
  }
}

.hisbody {
  width: 55%;
  margin: 0 auto;
  display: block;
  zoom: 1;
}

@media (max-width: 1679px) {
  .hisbody {
    width: 65%;
  }
}

@media (max-width: 1510px) {
  .hisbody {
    width: 75%;
  }
}

@media (max-width: 1310px) {
  .hisbody {
    width: 85%;
  }
}

@media (max-width: 1157px) {
  .hisbody {
    width: 95%;
  }
}

@media (max-width: 1037px) {
  .hisbody {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .hisbody {
    width: 100%;
  }
}

.hisbody .location {
  display: block;
  overflow: hidden;
  font-weight: bold;
  height: 20px;
  padding-top: 8px;
}

@media (max-width: 414px) {
  .hisbody .location {
    font-size: 14px;
    padding-left: 10px;
  }
}

.hisbody .lineMargin {
  margin-bottom: 15px;
}

.hisbody .his_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.hisbody .his_button .hisbtn {
  width: 100px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: block;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  margin: 0 5px 10px 0;
  cursor: pointer;
}

.hisbody .his_button .hisbtn:hover {
  color: #0055b5;
}

.hisbody .lineX {
  background: url(../images/line.jpg) repeat-x;
  height: 1px;
  line-height: 1px;
  font-size: 1px;
}

@media (max-width: 414px) {
  .hisbody .lineX {
    background: none;
    height: unset;
    line-height: unset;
  }
}

.hisbody .clear {
  clear: both;
}

.hisbody .b1, .hisbody .b1b {
  margin: 0 5px;
  background: #d5d5d5;
}

@media (max-width: 414px) {
  .hisbody .b1, .hisbody .b1b {
    margin: 0px;
    background: none;
  }
}

.hisbody .b1, .hisbody .b2, .hisbody .b3, .hisbody .b1b, .hisbody .b2b, .hisbody .b3b {
  height: 1px;
}

@media (max-width: 414px) {
  .hisbody .b1, .hisbody .b2, .hisbody .b3, .hisbody .b1b, .hisbody .b2b, .hisbody .b3b {
    height: unset;
  }
}

.hisbody .b1, .hisbody .b2, .hisbody .b3, .hisbody .b4, .hisbody .b1b, .hisbody .b2b, .hisbody .b3b, .hisbody .b4b, .hisbody .b {
  display: block;
  overflow: hidden;
}

@media (max-width: 414px) {
  .hisbody .b1, .hisbody .b2, .hisbody .b3, .hisbody .b4, .hisbody .b1b, .hisbody .b2b, .hisbody .b3b, .hisbody .b4b, .hisbody .b {
    display: unset;
    overflow: unset;
  }
}

.hisbody .b2, .hisbody .b2b {
  margin: 0 3px;
  border-width: 2px;
}

@media (max-width: 414px) {
  .hisbody .b2, .hisbody .b2b {
    margin: 0px;
    border-width: unset;
  }
}

.hisbody .b2, .hisbody .b3, .hisbody .b4, .hisbody .b2b, .hisbody .b3b, .hisbody .b4b, .hisbody .b {
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
}

@media (max-width: 414px) {
  .hisbody .b2, .hisbody .b3, .hisbody .b4, .hisbody .b2b, .hisbody .b3b, .hisbody .b4b, .hisbody .b {
    border-left: unset;
    border-right: unset;
  }
}

.hisbody .b3, .hisbody .b3b {
  margin: 0 2px;
}

@media (max-width: 414px) {
  .hisbody .b3, .hisbody .b3b {
    margin: 0px;
  }
}

.hisbody .b4, .hisbody .b4b {
  height: 2px;
  margin: 0 1px;
}

@media (max-width: 414px) {
  .hisbody .b4, .hisbody .b4b {
    height: unset;
    margin: 0px;
  }
}

.hisbody .content {
  margin-left: 15px;
  margin-top: 10px;
}

@media (max-width: 414px) {
  .hisbody .content {
    margin-left: 0px;
    margin-top: 10px;
  }
}

.hisbody .content .contentLeft2 {
  width: 64.5%;
  float: left;
  display: block;
  overflow: hidden;
}

@media (max-width: 992px) {
  .hisbody .content .contentLeft2 {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .hisbody .content .contentLeft2 {
    width: 100%;
    float: unset;
  }
}

.hisbody .content .contentLeft2 .history {
  width: 94%;
}

@media (max-width: 414px) {
  .hisbody .content .contentLeft2 .history {
    width: 100%;
  }
}

.hisbody .content .contentLeft2 .history .historyResultSpan {
  font-size: 16px;
}

.hisbody .content .contentLeft2 .history .historyResult font {
  font-size: 14px;
  color: #e2081d;
  font-weight: bold;
}

.hisbody .content .contentLeft2 .history .historyResult div {
  text-align: center;
  margin-top: 20px;
}

.hisbody .content .contentLeft2 .history .historyResultWait {
  display: none;
  text-align: center;
  padding-top: 40px;
  font-size: 28px;
  font-weight: bold;
  height: 106px;
}

@media (max-width: 414px) {
  .hisbody .content .contentLeft2 .history .historyResult .historyResultSpan {
    padding-left: 10px;
  }
}

.hisbody .content .contentLeft2 .history .historyResult .ball3 {
  background: url(../images/ball3.gif) no-repeat 2px 5px;
  width: 40px;
  height: 41px;
  padding-top: 10px;
  font-weight: bold;
  color: #FFF;
  font-size: 18px;
  display: inline-block;
}

@media (max-width: 414px) {
  .hisbody .content .contentLeft2 .history .historyResult .ball3 {
    width: 36px;
    height: 35px;
    background: url(../images/ball3.gif) no-repeat -1px 5px;
  }
}

@media (max-width: 375px) {
  .hisbody .content .contentLeft2 .history .historyResult .ball3 {
    width: 33.5px;
    height: 29px;
    font-size: 16px;
    background: url(../images/ball3.gif) no-repeat -1px 3px;
  }
}

.hisbody .content .contentLeft2 .history .historyResult strong {
  font-size: 30px;
  color: #fe7201;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.hisbody .content .contentLeft2 .history .historyTitle {
  text-align: center;
  margin-top: 30px;
  border-bottom: #000 solid 2px;
  padding-bottom: 10px;
}

.hisbody .content .contentLeft2 .history .historyTitle span {
  font-size: 18px;
  font-weight: normal;
}

@media (max-width: 414px) {
  .hisbody .content .contentLeft2 .history .historyTitle {
    margin-top: 10px;
  }
}

.hisbody .content .contentLeft2 .history table {
  font-size: 16px;
  text-align: center;
}

.hisbody .content .contentLeft2 .history table td {
  font-size: 14px;
  font-weight: normal;
}

.hisbody .content .contentLeft2 .history table .ball1 {
  background: url(../images/ball1.gif) no-repeat center;
  width: 28px;
  height: 23px;
  padding-top: 5px;
  font-weight: bold;
  color: #FFF;
  font-size: 16px;
  display: inline-block;
}

.hisbody .content .contentLeft2 .history table thead th {
  width: auto !important;
}

.hisbody .content .contentLeft2 .history table td, .hisbody .content .contentLeft2 .history table th {
  height: 30px;
}

@media (max-width: 414px) {
  .hisbody .content .contentLeft2 .history table td {
    border: 1px solid #ccc;
  }
}

.hisbody .content .contentLeft2 .history .historyAd {
  margin-top: 20px;
  font-weight: normal;
}

@media (max-width: 414px) {
  .hisbody .content .contentLeft2 .history .historyAd {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hisbody .content .contentLeft2 .history .paginator > a.disabled {
  color: #000000;
  background-color: #d5d5d5;
}

.hisbody .content .contentLeft2 .history .paginator > a {
  cursor: pointer;
  display: inline-block;
  height: 22px;
  padding: 0 6px;
  line-height: 22px;
  text-align: center;
  float: left;
  margin-right: 5px;
  border: 1px solid #797979;
}

.hisbody .content .contentLeft2 .history .paginator > span a {
  cursor: pointer;
  display: block;
  height: 22px;
  width: 22px;
  line-height: 22px;
  text-align: center;
  padding: 0px;
  float: left;
  margin-right: 5px;
  outline: none;
  border: 1px solid #797979;
}

.hisbody .content .contentLeft2 .history .paginator > span a:hover {
  color: #156a9a;
  text-decoration: underline;
}

.hisbody .content .contentLeft2 .history .paginator .ellipsis {
  cursor: pointer;
  display: block;
  height: 22px;
  width: 22px;
  line-height: 22px;
  text-align: center;
  padding: 0px;
  float: left;
  margin-right: 5px;
  border: 1px solid #797979;
}

.hisbody .content .contentRight2 {
  width: 32.5%;
  float: left;
  display: block;
  overflow: hidden;
}

@media (max-width: 992px) {
  .hisbody .content .contentRight2 {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .hisbody .content .contentRight2 {
    width: 100%;
    float: unset;
    margin-top: 30px;
    border-top: 1px dashed #ccc;
  }
}

@media (max-width: 414px) {
  .hisbody .content .contentRight2 .historyResult {
    margin-top: 60px;
  }
}

.hisbody .content .contentRight2 .historyResult font {
  font-size: 14px;
  color: #e2081d;
  font-weight: bold;
}

.hisbody .content .contentRight2 .historyResult div {
  text-align: center;
  margin-top: 20px;
}

.hisbody .content .contentRight2 .historyResult .historyResultDate {
  height: 64px;
}

.hisbody .content .contentRight2 .historyResult .historyResultDate .count1 {
  background: url(../images/count1.gif) no-repeat 8px 0px;
  width: 76px;
  height: 64px;
  font-weight: bold;
  color: #FFF;
  font-size: 50px;
  display: inline-block;
}

.hisbody .content .contentRight2 .historyAd {
  margin-top: 20px;
}

.hisbody .content .contentRight2 .historyAd img {
  vertical-align: middle;
}

@media (max-width: 992px) {
  .hisbody .content .contentRight2 .historyAd img {
    width: 95%;
  }
}

@media (max-width: 414px) {
  .hisbody .content .contentRight2 .historyAd img {
    display: block;
    margin: auto;
    width: 95%;
  }
}

.hisbody .content .contentRight2 .newsDetailTilte {
  border-bottom: #000 solid 2px;
  padding-top: 5px;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
  font-size: 18px;
}

.hisbody .content .contentRight2 .newsDetailTilte .left {
  float: left;
  font-weight: normal;
}

@media (max-width: 414px) {
  .hisbody .content .contentRight2 .newsDetailTilte .left {
    font-size: 16px;
    padding-left: 10px;
  }
}

.hisbody .content .contentRight2 .newsDetailTilte .right {
  float: right;
}

.hisbody .content .contentRight2 .newsDetailList {
  background-color: #f4f4f4;
  height: 205px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.hisbody .content .contentRight2 .newsDetailList li {
  background: url(../images/newsDot.jpg) no-repeat 0px 12px;
  padding-left: 10px;
  line-height: 18px;
  height: 22px;
  padding-top: 5px;
  list-style: none;
}

.hisbody .content .contentRight2 .newsDetailList a {
  float: left;
  display: block;
  overflow: hidden;
  height: 22px;
  font-weight: normal;
}

@media (max-width: 414px) {
  .hisbody .content .contentRight2 .newsDetailList a {
    font-size: 14px;
  }
}
/*# sourceMappingURL=history.css.map */