* a {
  text-decoration: none;
}

* ul,
* ol {
  list-style: none;
}

@mixin desktop(){
	@media (min-width: 1367px){
		@content
	}
}

@mixin ipadPro2{
	@media (max-width: 1366px){
		@content
	}
}

@mixin ipadPro{
	@media (max-width: 1024px){
		@content
	}
}

@mixin ipad2{
	@media (max-width: 922px){
		@content
	}
}

@mixin ipadH{
	@media (max-height: 768px){
		@content
	}
}

@mixin ipad{
	@media (max-width: 768px){
		@content
	}
}

@mixin iphone8P{
	@media (max-width: 414px){
		@content
	}
}

@mixin iphone8{
	@media (max-width: 375px){
		@content
	}
}

@mixin iphone5{
	@media (max-width: 320px){
		@content
	}
}

body, ul, li, a, div, font {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-family: Arial;
}

body{
  @include iphone8P(){
    background: unset !important;
  }
}

.head,.foot{
  @include iphone8P(){
    // display: none;
  }
}

.hisbody{
  // width: 1006px;
  width: 55%;
  margin: 0 auto;
  display: block;
  zoom: 1;
  @media (max-width: 1679px){
    width: 65%;
  }
  @media (max-width: 1510px){
    width: 75%;
  }
  @media (max-width: 1310px){
    width: 85%;
  }
  @media (max-width: 1157px){
    width: 95%;
  }
  @media (max-width: 1037px){
    width: 100%;
	}
  @include iphone8P(){
    width: 100%;
  }
  .location {
    display: block;
    overflow: hidden;
    font-weight: bold;
    height: 20px;
    padding-top: 8px;
    @include iphone8P(){
      font-size: 14px;
      padding-left: 10px;
    }
  }
  .lineMargin {
    margin-bottom: 15px;
  }
  .his_button{
    display: flex;
    position: relative;
    z-index: 2;
    .hisbtn{
      width: 100px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      display: block;
      border: 1px solid #d5d5d5;
      border-radius: 6px;
      margin: 0 5px 10px 0;
      cursor: pointer;
      &:hover{
        color: #0055b5;
      }
    }
  }
  .lineX {
    background: url(../images/line.jpg) repeat-x;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
    @include iphone8P(){
      background: none;
      height: unset;
      line-height: unset;
    }
  }
  .clear {
    clear: both;
  }
  .b1, .b1b {
    margin: 0 5px;
    background: #d5d5d5;
    @include iphone8P(){
      margin: 0px;
      background: none;
    }
  }
  .b1, .b2, .b3, .b1b, .b2b, .b3b {
    height: 1px;
    @include iphone8P(){
      height: unset;
    }
  }
  .b1, .b2, .b3, .b4, .b1b, .b2b, .b3b, .b4b, .b {
    display: block;
    overflow: hidden;
    @include iphone8P(){
      display: unset;
      overflow: unset;
    }
  }
  .b2, .b2b {
    margin: 0 3px;
    border-width: 2px;
    @include iphone8P(){
      margin: 0px;
      border-width: unset;
    }
  }
  .b2, .b3, .b4, .b2b, .b3b, .b4b, .b {
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    @include iphone8P(){
      border-left: unset;
      border-right: unset;
    }
  }
  .b3, .b3b {
    margin: 0 2px;
    @include iphone8P(){
      margin: 0px;
    }
  }
  .b4, .b4b {
    height: 2px;
    margin: 0 1px;
    @include iphone8P(){
      height: unset;
      margin: 0px;
    }
  }
  .content {
    margin-left: 15px;
    margin-top: 10px;
    @include iphone8P(){
      margin-left: 0px;
      margin-top: 10px;
    }
    .contentLeft2 {
      width: 64.5%;
      float: left;
      display: block;
      overflow: hidden;
      @media (max-width: 992px){
        width: 100%;
      }
      @include iphone8P(){
        width: 100%;
        float: unset;
      }
      .history {
        // width: 620px;
        width: 94%;
        @include iphone8P(){
          width: 100%;
        }
        .historyResultSpan {
          font-size: 16px;
        }
        .historyResult font {
          font-size: 14px;
          color: #e2081d;
          font-weight: bold;
        }
        .historyResult div {
          text-align: center;
          margin-top: 20px;
        }
        .historyResultWait {
          display: none;
          text-align: center;
          padding-top: 40px;
          font-size: 28px;
          font-weight: bold;
          height: 106px;
        }
        .historyResult{
          @include iphone8P(){
            .historyResultSpan{
              padding-left: 10px;
            }
          }
          .ball3 {
            background: url(../images/ball3.gif) no-repeat 2px 5px;
            width: 40px;
            height: 41px;
            padding-top: 10px;
            font-weight: bold;
            color: #FFF;
            font-size: 18px;
            display: inline-block;
            @include iphone8P(){
              width: 36px;
              height: 35px;
              background: url(../images/ball3.gif) no-repeat -1px 5px;
            }
            @include iphone8(){
              width: 33.5px;
              height: 29px;
              font-size: 16px;
              background: url(../images/ball3.gif) no-repeat -1px 3px;
            }
          }
          strong {
            font-size: 30px;
            color: #fe7201;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 10px;
            display: block;
          }
        }
        .historyTitle{
          text-align: center;
          margin-top: 30px;
          border-bottom: #000 solid 2px;
          padding-bottom: 10px;
          span {
            font-size: 18px;
            font-weight: normal;
          }
          @include iphone8P(){
            margin-top: 10px;
          }
        }
        table {
          font-size: 16px;
          text-align: center;
          td{
            font-size: 14px;
            font-weight: normal;
          }
          .ball1 {
            background: url(../images/ball1.gif) no-repeat center;
            width: 28px;
            height: 23px;
            padding-top: 5px;
            font-weight: bold;
            color: #FFF;
            font-size: 16px;
            display: inline-block;
          }
        }
        table thead th {
          width: auto !important;
        }
        table td, table th {
          height: 30px;
        }
        table td{
          @include iphone8P(){
           border: 1px solid #ccc;
          }
        }
        .historyAd {
          margin-top: 20px;
          font-weight: normal;
          @include iphone8P(){
            margin-top: 30px;
            display: flex;
            justify-content: center;
          }
        }
        .paginator > a.disabled {
          color: #000000;
          background-color: #d5d5d5;
        }
        .paginator > a {
          cursor: pointer;
          display: inline-block;
          height: 22px;
          padding: 0 6px;
          line-height: 22px;
          text-align: center;
          float: left;
          margin-right: 5px;
          border: 1px solid #797979;
        }
        .paginator > span a {
          cursor: pointer;
          display: block;
          height: 22px;
          width: 22px;
          line-height: 22px;
          text-align: center;
          padding: 0px;
          float: left;
          margin-right: 5px;
          outline: none;
          border: 1px solid #797979;
          &:hover{
            color: #156a9a;
            text-decoration: underline;
          }
        }
        .paginator .ellipsis {
          cursor: pointer;
          display: block;
          height: 22px;
          width: 22px;
          line-height: 22px;
          text-align: center;
          padding: 0px;
          float: left;
          margin-right: 5px;
          border: 1px solid #797979;
        }
      }
    }
    .contentRight2 {
      width: 32.5%;
      float: left;
      display: block;
      overflow: hidden;
      @media (max-width: 992px){
        width: 100%;
      }
      @include iphone8P(){
        width: 100%;
        float: unset;
        margin-top: 30px;
        border-top: 1px dashed #ccc;
      }
      .historyResult{
        @include iphone8P(){
          margin-top: 60px;
        }
        font{
          font-size: 14px;
          color: #e2081d;
          font-weight: bold;
        }
        div {
          text-align: center;
          margin-top: 20px;
        }
        .historyResultDate {
          height: 64px;
          .count1{ 
            background:url(../images/count1.gif) no-repeat 8px 0px;
            width:76px;
            height:64px;
            font-weight:bold;
            color:#FFF;
            font-size:50px;display: inline-block;
          }
        }
      }
      .historyAd {
        margin-top: 20px;
        img{
          vertical-align: middle;
          @media (max-width: 992px){
            width: 95%;
          }
        }
        @include iphone8P(){
          img{
            display: block;
            margin: auto;
            width: 95%;
          };
        }
      }
      .newsDetailTilte {
        border-bottom: #000 solid 2px;
        padding-top: 5px;
        margin-bottom: 10px;
        display: block;
        overflow: hidden;
        font-size: 18px;
        .left {
          float: left;
          font-weight: normal;
          @include iphone8P(){
            font-size: 16px;
            padding-left: 10px;
          }
        }
        .right {
          float: right;
        }
      }
      .newsDetailList {
        background-color: #f4f4f4;
        height: 205px;
        margin-bottom: 10px;
        padding-left: 10px;
        li {
          background: url(../images/newsDot.jpg) no-repeat 0px 12px;
          padding-left: 10px;
          line-height: 18px;
          height: 22px;
          padding-top: 5px;
          list-style: none;
        }
        a {
          float: left;
          display: block;
          overflow: hidden;
          height: 22px;
          font-weight: normal;
          @include iphone8P(){
            font-size: 14px;
          }
        }
      }
    }
  }
}