*{
  padding: 0;
  margin: 0;
  // outline: 1px solid #F00;
}
body {
  margin-left: auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  font-size: 11pt;
  line-height: 18pt;
  color: #000;
  background-image: url(../images/bg_01.jpg);
  background-repeat: repeat;
  background-position: center top;
  background-color: #ececec;
  font-family: Arial, "新細明體";
  overflow-x: hidden;
  >a{
    display: none;
  }
}
img{
  border: 0;
}
ul,li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
input, select, textarea {
  padding: 1px;
  margin: 2px;
  font-size: 11px;
}
#history1_btnSubmit{
  padding: 0 5px;
  margin-left: 5px;
}
#video{
  width: 800px;
  height: 400px;
}
.font18{
  font-size: 18px;
}
.pp_social{
  display: none !important;
}
.mobile{
  display: none;
}
.w800{
  width: 802px;
  min-height: 400px;
  overflow-x: hidden;
  overflow: auto;
  >img{
    width: 100%;
    height: 100%;
  }
}
#wrap {
  width: 1002px;
  margin: auto;
  display: block;
  position: relative;

}
#topper {
  height: 175px;
  width: 1002px;
  margin: auto;
  position: relative;
}
#menu {
  width: 731px;
  height: 55px;
  position: absolute;
  left: 85px;
  top: 120px;
  z-index: 2;
  ul{
    display: flex;
  }
}
#bar {
  height: 32px;
  width: 1002px;
  margin: auto;
  position: relative;
}
#main {
  width: 802px;
  min-height:400px;
  padding: 6px 100px 0 100px;
  margin: auto;
  position: relative;
  background-image: url(../images/index_02.jpg);
  background-repeat: no-repeat;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  // height: 745px;
}
#lotto57 {
  width: 802px;
  overflow-x: hidden;
  overflow: auto;
  ul{
    li{
      .aquaheight146 {
        height: 146px;
      }
    }
  }
  .lottobox {
      /* height: 73px; */
      width: 785px;
      border-bottom: 1px solid #ccc;
  }
  .lotto-name, .lotto-no, .lotto-ball {
    height: 73px;
    float: left;
    clear: none;
  }
  .lotto-name {
    width: 129px;
  }
  .lotto-no {
    width: 113px;
    height: 55px;
    color: #F00;
    padding-top: 18px;
    text-align: center;
  }
  .lotto-ball {
    width: 535px;
    margin-left: 5px;
    ul{
      li{
        float: left;
      }
      .ps {
        height: 73px;
        width: 58px;
        padding-top: 20px;
        text-align: center;
        font-size: 10pt;
        color: #43126a;
        font-weight: bolder;
      }
      .green, .red, .yellow, .watermelon, .blue {
        height: 48px;
        width: 48px;
        padding-top: 25px;
        padding-left: 10px;
        font-size: 20pt;
        font-weight: bolder;
      }
      .green {
        background-image: url(../images/ball_g.jpg);
      }
      .red {
        background-image: url(../images/ball_r.jpg);
      }
      .yellow {
        background-image: url(../images/ball_y.jpg);
      }
      .purple {
        background-image: url(../images/ball_p.jpg);
        height: 48px;
        width: 38px;
        padding-top: 25px;
        padding-left: 20px;
        font-size: 20pt;
        font-weight: bolder;
      }
      .aqua {
        background-image: url(../images/ball_b2.jpg);
        height: 48px;
        width: 48px;
        padding-top: 25px;
        padding-left: 10px;
        font-size: 20pt;
        font-weight: bolder;
      }
    }
  }
  .iamhere {
    clear: both;
  }

}
#footer {
  height: 160px;
  width: 1002px;
  margin: auto;
  position: relative;
}
.audience{
  width: 800px;
  font-size: 16px;
  font-weight: bolder;
  margin:  0 auto;
  padding: 5px;
  font-family: "Segoe UI","微軟正黑體",sans-serif;
  .topItem{
    border-bottom: 1px solid #ccc;
  }
  >div{
    padding-bottom: 15px;
  }
  .ptop{
    padding-top: 10px;
  }
  .red{
    color:#B80117;
    font-weight: bolder;
  }
  .blue{
    color: #162A9D;
    font-weight: bolder;
  }
  .black{
    color: #000;
    font-weight: bolder;
  }
  .purple{
    color: #41136B;
    font-weight: bolder;
  }
}
.numberSearch{
  background: #fff7b2;
  padding: 0 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  #historyBox{
    padding-bottom: 15px;
  }
  .dotted05 {
    background: url(../images/twl_index_icon_dot_01.jpg) repeat-x 0px 0px;
    height: 2px;
    width: 705px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .txin li {
    padding-left: 18px;
    list-style: none;
    background: url(../images/icon_htx_03.jpg) no-repeat;
    background-position: 0px 7px;
  }
  .font_red18 {
    color: #CC0000;
    font-size: 18px;
  }
  .tx_md {
    text-align: center;
    padding-bottom: 5px;
  }
  .table_org {
    width: 100%;
    // border: solid #ff9933 3px;
    border-collapse: collapse;
    tr{
      display: flex;
      .award{
        flex:1;
      }
    }
  }
  .td_hm {
    text-align: center;
    vertical-align: middle;
  }
  .td_org1 {
    padding: 3px;
    background-color: #ff9933;
    border-right: solid #999999 1px;
    border-bottom: solid #999999 1px;
    text-align: center;
    vertical-align: middle;
  }
  .td_org2 {
    padding: 3px;
    background-color: #ffcc99;
    border-right: solid #999999 1px;
    border-bottom: solid #999999 1px;
  }
  .td_w {
    padding: 3px;
    background-color: #ffffff;
    border-right: solid #999999 1px;
    border-bottom: solid #999999 1px;
    vertical-align: middle;
    text-align: center;
  }
  .width100{
    width: 100px;
  }
  .special{
    display: none;
    width: 100px;
  }
  .historyTd{
    border-left: solid #999999 1px;
  }
}
.howPlayItem{
  font-size: 14px;
  height: auto;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
  color: #333333;
  line-height: 2em;
  font-size: 14px;
  background: #fff7b2;
  box-sizing: border-box;
  overflow-x: hidden;
  .typeMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
      width: 10%;
      margin: 0 5px;
      font-size: 16px;
      cursor: pointer;
      border: 1px solid #ccc;
      border-radius: 15px;
      text-align: center;
      background-color: #fff;
      a{
        display: block;
        color: #000;
        &:hover{
          color: #ffffff;
        }
      }
      &:hover{
        background-color: #ff9933;
      }
    }
  }
  #navin {
    display: flex;
    padding: 10px 5px;
    li{
      padding-right: 18px;
      list-style: none;
      display: inline;
      a{
        padding-left: 25px;
        text-decoration: none;
        background: url(../images/icon_htx_01.jpg) no-repeat;
        background-position: 0px -2px;
        font-size: 17px;
        color: #990000;
        &:hover{
          color: #CC0000;
          background-position: 0px -28px;
        }
      }
    }
  }
  .imgcenter{
    text-align: center;
  }
  .dotted05 {
    background: url(../images/twl_index_icon_dot_01.jpg) repeat-x 0px 0px;
      height: 2px;
      width: 800px;
  }
  .font_red18 {
    color: #CC0000;
    font-size: 18px;
  }
  h1 {
    padding: 10px 10px 0 25px;
    background: url(../images/icon_htx_02.jpg) no-repeat;
    background-position: 3px 13px;
    font-weight: bolder;
  }
  .intx01 {
    padding-left: 25px;
  }
  .imgright_lotto {
    float: right;
    padding-left: 5px;
  }
  .imgright_lotto img {
    width: 208px;
    height: 488px;
  }
  .tableA_lotto {
    width: 460px;
  }
  .thA {
    padding: 5px;
    background-color: #ffcc66;
  }
  .thB {
    text-align: center;
    padding: 5px;
    background-color: #ffcc66;
    vertical-align: middle;
  }
  .tdA_1 {
    vertical-align: middle;
    padding: 3px;
    background: #fef9dc;
    font-size: 14px;
  }
  .tdA_2 {
    vertical-align: middle;
    padding: 3px;
    background: #efefef;
    font-size: 14px;
  }
  .tdA_3 {
    text-align: center;
    vertical-align: middle;
    padding: 3px;
    background: #fef9dc;
    font-size: 14px;
  }
  .tdA_4 {
    text-align: center;
    vertical-align: middle;
    padding: 3px;
    background: #efefef;
    font-size: 14px;
  }
  .font_red15 {
    color: #CC0000;
    font-size: 15px;
  }
  .toptx {
    padding: 10px 0px 5px 0px;
    margin-left: 715px;
  }
  .font_red15 a:link, a:visited {
    color: #CC0000;
    text-decoration: none;
  }
  .txin li {
    padding-left: 18px;
    list-style: none;
    background: url(../images/icon_htx_03.jpg) no-repeat;
    background-position: 0px 7px;
  }
  .style1 {
    color: #FF0000;
    font-weight: bold;
  }
}
.Mask{
  width: 100vw;
  height: 100vh;
  top: 0;
  position: absolute;
  background: rgba(0,0,0, .6);
  .login{
    width: 300px;
    height: 150px;
    background: #eee;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    margin: auto;
    border-radius: 10px;
    .account{
      width: 100%;
      padding: 10px;
      margin-top: 15px;
    }
    .password{
      width: 100%;
      padding: 0 10px;
    }
    input{
      width: 210px;
      height: 20px;
    }
    .submit{
      width: 90%;
      height: 30px;
      position: relative;
      input{
        width: 50px;
        height: 20px;
        position: absolute;
        right: 0;
        bottom: -10px;
      }
    }

  }
}

.admin{
  width: 800px;
  margin: 0 auto;
  padding-top: 15px;
  margin-top: 50px;
  position: relative;
  display: none;
  #sign_out{
    padding: 0 10px;
    position: absolute;
    right: 10px;
    top: 0;
  }
  .buttonBox{
    display: flex;
    padding-bottom: 45px;

    position: relative;
    .button{
      position: absolute;
      right: 10px;
      top: 0;
    }

  }
  .historyBox2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
  }
  .delete{
    padding: 0 10px;
    margin-left: 15px;
    margin-bottom: 5px;
  }
  .font_red18{
    color: #CC0000;
    font-size: 18px;
  }
  .table_org {
    width: 100%;
    border-collapse: collapse;
    tr{
      display: flex;
      .award{
        flex:1;
      }
    }
  }
  .width80{
    width: 90%;
    height: 80%;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  .width40{
    width:90%;
    height:80%;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  .tx_md {
    text-align: center;
    padding-bottom: 15px;
  }
  .td_hm {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 30px;
  }
  .td_org1 {
    padding: 3px;
    background-color: #ff9933;
    border-right: solid #999999 1px;
    border-bottom: solid #999999 1px;
    text-align: center;
    vertical-align: middle;
  }
  .td_org2 {
    padding: 3px;
    background-color: #ffcc99;
    border-right: solid #999999 1px;
    border-bottom: solid #999999 1px;
  }
  .td_org3 {
    padding: 3px;
    background-color: #fff7b2;
    border-right: solid #999999 1px;
    border-bottom: solid #999999 1px;
    text-align: center;
    vertical-align: middle;
  }
  .td_w {
    padding: 3px;
    background-color: #ffffff;
    border-right: solid #999999 1px;
    border-bottom: solid #999999 1px;
    vertical-align: middle;
    text-align: center;
  }
  .width100{
    width: 100px;
  }
  .special{
    display: none;
    width: 100px;
  }
  .historyTd{
    border-left: solid #999999 1px;

  }
}
@media (max-width: 1023px) {

  body{
    width: 100vw;
  }
  #award{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #history1_btnSubmit{
    padding: 0 10px;
    margin-top: 5px;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
  #wrap{
    width: 100%;
  }
  #topper{
    width: 100%;
    height: 62px;
    position: relative;
    img{
      width: 100%;
      height: 100%;
    }
    .logo{
      width: 100%;
      height: 30.5px;
      display: flex;
      justify-content: center;
      position: absolute;
      .mobileLogo{
        width: 94px;
        height: 30.5px;
        background-image: url('../images/mobile/logo.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  
  }
  #menu{
    width: 100%;
    height: auto;
    left: 0;
    top:34px;
    display: flex;
    justify-content: center;
    ul{
      width: 95%;
      position: absolute;
    }
    img{
      width: 100%;
      height: auto;
    }

  }
  #bar{
    width: 100%;
    height: 25px;
    position: relative;
    img{
      width: 100%;
      height: 100%;
    }
    h3{
      position: absolute;
      font-size: 14px;
      left: 5%;
    }
  }
  #main{
    width: 100%;
    min-height: auto;
    padding: 0;
    background-image: url(../images/mobile/index_02.jpg);
    img{
      width: 100%;
      height:auto;
    }
  }
  #lotto57{
    width: 88%;
    margin: 0 auto;
    overflow-y: hidden;
    ul{
      li{
        &:last-child{
          .lotto-ball{
            width: 55%;
            ul{
              padding-bottom: 25px;
            }
          }
        }
      }

    }
    .lottobox{
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .lotto-name{
        width: 30%;
        height: 50%;
        img{
          max-width: 129px;
          height: unset;
        }
      }
      .lotto-no{
        width: 60%;
        height: 50px;
        padding: 0;
        font-size: 12px;
        text-align: left;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        p{
          &:last-child{
            padding-left: 10px;
          }
        }
      }
      .lotto-ball{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        margin: 0;
        box-sizing: border-box;

        ul{
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          li{
            height: 50%;
            padding: 0;
            font-size: 13px;
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 31.9px;
            height: 40.15px;
            background-position-x:1px ;
          }
          .ps{
            width: 30px;
            height: 100%;
            padding-left: 5px;
            padding-right: 5px;
            writing-mode: vertical-lr;
          }

        }
      }
    }
  }
  #footer{
    width: 100%;
    height: auto;
    position: relative;
    img{
      width: 100%;
      height: auto;
    }
    .EBC{
      width: 40%;
      position: absolute;
      left: 20px;
      top: 18px;
    }
    .text{
      width: 40%;
      position: absolute;
      right: 15px;
      top: 18px;
    }
  }
  .footbottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    font-size: 12px;
    color: #797979;
    background-color: #ECECEC;
  }
  .w800{
    width: 100%;
    min-height:unset;
  }
  #video{
    width: 80%;
    height: 200px;
    margin: 0 auto;
  }
  .numberSearch{
    width: 85%;
    margin: 0 auto;
    #historyBox{
      padding-bottom: 0px;
    }
    .dotted05{
      width: 100%;
    }
    .table_org{
      border: 1px solid #999999 ;
      margin-bottom: 15px;
      border-bottom: none;
      tbody{
        display: flex;
        justify-content: center;
        tr{
          width: 50%;
          display: flex;
          flex-direction: column;
          td{
            width: calc(100% - 1px);
            &:last-child{
              border-bottom: none;
            }
            &:first-child{
              background-color: #ff9933;
            }
          }
          .td_org1{
            background-color:#fff;
            padding: 0;
            border-right: 1px solid #999999 ;
            &:last-child{
              border-bottom: 1px solid #999999 ;
            }
          }
          .td_w{
            border-right: none;
            padding: 0;
          }
        }
        .historyTr{
          td{
            &:last-child{
              border-bottom: 1px solid #999999 ;
            }
          }
        }
      }
    }
    .historyTd{
      border-left: none;
    }
  }

  .howPlayItem{
    width: 85%;
    margin: 0 auto;
    .typeMenu{
      flex-wrap: wrap;
      li{
        width: 25%;
        font-size: 14px;
        margin: 5px 10px ;
      }
    }
    #navin{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      li{
        width: 90%;
        padding: 0;
        a{
          display: block;
          font-size: 14px;
          background-position: 0px 2px;
          &:hover{
            background-position: 0px -24px;
          }
        }

      }

    }
    .dotted05{
      width: 100%;
    }
    .intx01{
      padding-left: 5px;
      table{
        width: 100%;
      }
    }
    .imgright_lotto{
      width: 50%;
    }
    .tdA_1,.tdA_2{
      img{
        width: 22px !important;
        height: 22px;
      }
    }
    .toptx{
      padding-top: 15px;
      margin: 0;
    }
    .game_index{
      img{
        width: 26px !important;
        height: 26px;
        vertical-align: bottom;
      }
    }
    .cont_org14 ,.cont_purple14{
      img{
        width: 100% !important;
        height: unset !important;
      }
    }
    .thB{
      padding: 0;
    }
    .imgcenter{
      img{
        width: 50% !important;
        height: auto !important;
      }

    }
  }
  .audience{
    width: 80%;
    font-size: 14px;
    .font18{
      font-size: 16px;
    }
  }
  .pp_pic_holder {
    width: 100% !important;
  }
  .pp_content{
    width: 100% !important;
    height: 400px !important;
    margin: 0 auto;

  }
  #pp_full_res{
    p{
      font-size: 16px !important;
    }
  }
  .ppt{
    width: 100% !important;
    margin: 0  !important;
  }
  .pp_details{
    width: 100% !important;
  }
  .pp_fade{
    padding: 0 10px ;
  }
  .pp_default{
    left: 0 !important;
  }
}
@media (min-width: 700px) and (max-width: 1023px){

  #topper{
    height: 115px;
    .logo{
      height: 58px;
      .mobileLogo{
        width: 120px;
        height: auto;
        background-size: contain;
      }
    }
    #menu{
      top: 60px;
      >ul{
        display: flex;
        justify-content: center;

      }
    }
  }
  #footer{
    .EBC{
      top: 35px;
    }
    .text{
      top: 35px;
    }
  } 
}
@media (max-width: 350px){
  #lotto57 .lottobox .lotto-ball ul .ps{
    width: 25px;
    padding-left: 0px;
    padding-right: 0px;
  }
}